In [77]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)

In [78]:
for i in df:
    print(i)

Unnamed: 0
week
season
Team
opponent
code
date
win_loss
OT
OT_num
pass
rush
rec
points_allowed
points_scored
point_differential
home_game
CONF
SOR
FPI
SOS
GC
AVGWP
AP_rank
opponent_rank
rank_change

In [ ]:
df = pd.read_csv('mergedTrainingData.csv')

,Unnamed: 0,week,season,Team,opponent,code,date,win_loss,OT,OT_num,...,home_game,CONF,SOR,FPI,SOS,GC,AVGWP,AP_rank,opponent_rank,rank_change
0,1,10,2021,Air Force,Army,2005,"Sat, Nov 6",L,True,,...,True,Mountain West,33,66,110,24,6,NaN,NaN,0.0
1,2,10,2021,Akron,Western Michigan,2006,"Tue, Nov 9",L,False,NaN,...,False,MAC,127,128,67,118,125,NaN,NaN,0.0
2,3,10,2021,Alabama,LSU,333,"Sat, Nov 6",W,False,NaN,...,True,SEC,2,2,1,2,3,3.0,NaN,-1.0
3,4,10,2021,Arizona,California,12,"Sat, Nov 6",W,False,NaN,...,True,Pac-12,122,106,71,110,122,NaN,NaN,0.0
4,5,10,2021,Arizona State,USC,9,"Sat, Nov 6",W,False,NaN,...,True,Pac-12,49,39,61,61,63,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5641,5642,9,2024,West Virginia,Arizona,277,"Sat, Oct 26",W,False,NaN,...,False,Big 12,58,63,54,64,81,NaN,NaN,0.0
5642,5643,9,2024,Western Kentucky,Kennesaw State,98,"Wed, Oct 30",W,False,NaN,...,True,CUSA,84,99,80,77,56,NaN,NaN,0.0
5643,5644,9,2024,Western Michigan,Kent State,2711,"Sat, Oct 26",W,False,NaN,...,True,MAC,103,108,70,103,87,NaN,NaN,0.0
5644,5645,9,2024,Wisconsin,Penn State,275,"Sat, Oct 26",L,False,NaN,...,True,Big Ten,55,47,32,41,76,NaN,3.0,0.0
5645,5646,9,2024,Wyoming,Utah State,2751,"Sat, Oct 26",L,False,NaN,...,True,Mountain West,119,113,97,124,125,NaN,NaN,0.0

In [3]:
df['week'].isna().sum()

np.int64(0)

In [5]:
unique_week = df['week'].unique()
unique_week = sorted(unique_week)
unique_week

[np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(6),
 np.int64(7),
 np.int64(8),
 np.int64(9),
 np.int64(10),
 np.int64(11),
 np.int64(12),
 np.int64(13),
 np.int64(14),
 np.int64(15),
 np.int64(16),
 np.int64(17),
 np.int64(18)]

In [10]:
df['week'].value_counts().sort_index()

week
2     362
3     407
4     447
5     458
6     428
7     423
8     440
9     443
10    464
11    465
12    477
13    462
14    282
15     68
16     13
17      3
18      4
Name: count, dtype: int64

In [11]:
df['week'].unique()

array([10, 11, 12, 13, 14, 15, 16, 17, 18,  2,  3,  4,  5,  6,  7,  8,  9])

In [12]:
df['season'].isna().sum()

np.int64(0)

In [13]:
df['season'].value_counts().sort_index()

season
2021    1379
2022    1391
2023    1412
2024    1464
Name: count, dtype: int64

In [14]:
df['season'].unique()

array([2021, 2022, 2023, 2024])

In [15]:
unique_season = df['season'].unique()
unique_season = sorted(unique_season)
unique_season

[np.int64(2021), np.int64(2022), np.int64(2023), np.int64(2024)]

In [16]:
df['Team'].isna().sum()

np.int64(0)

In [17]:
df['Team'].unique()

array(['Air Force', 'Akron', 'Alabama', 'Arizona', 'Arizona State',
       'Arkansas', 'Army', 'Auburn', 'Ball State', 'Baylor',
       'Boise State', 'Boston College', 'Bowling Green', 'Buffalo',
       'Central Michigan', 'Charlotte', 'Cincinnati', 'Coastal Carolina',
       'Colorado', 'Colorado State', 'Duke', 'East Carolina',
       'Eastern Michigan', 'Florida', 'Florida Atlantic',
       'Florida International', 'Florida State', 'Fresno State',
       'Georgia', 'Georgia Southern', 'Georgia State', 'Georgia Tech',
       "Hawai'i", 'Houston', 'Illinois', 'Indiana', 'Iowa', 'Iowa State',
       'Kansas', 'Kansas State', 'Kent State', 'Kentucky', 'Liberty',
       'Louisiana', 'Louisiana Tech', 'Louisville', 'LSU', 'Marshall',
       'Maryland', 'Memphis', 'Miami', 'Miami (OH)', 'Michigan',
       'Michigan State', 'Middle Tennessee', 'Minnesota',
       'Mississippi State', 'Missouri', 'Navy', 'NC State', 'Nebraska',
       'New Mexico', 'North Carolina', 'North Texas', 'Northern Illinois',
       'Northwestern', 'Notre Dame', 'Ohio', 'Ohio State',
       'Oklahoma State', 'Old Dominion', 'Ole Miss', 'Oregon',
       'Oregon State', 'Penn State', 'Pittsburgh', 'Purdue', 'Rice',
       'Rutgers', 'San Diego State', 'San Jose State', 'SMU',
       'South Alabama', 'South Carolina', 'South Florida',
       'Southern Miss', 'Stanford', 'TCU', 'Temple', 'Tennessee', 'Texas',
       'Texas A&M', 'Texas State', 'Toledo', 'Troy', 'Tulane', 'Tulsa',
       'UAB', 'UCF', 'UCLA', 'UL Monroe', 'UNLV', 'USC', 'Utah',
       'Utah State', 'UTEP', 'UTSA', 'Virginia Tech', 'Wake Forest',
       'Washington', 'West Virginia', 'Western Kentucky',
       'Western Michigan', 'Wisconsin', 'Wyoming', 'BYU', 'California',
       'Clemson', 'James Madison', 'New Mexico State', 'Oklahoma',
       'Syracuse', 'Texas Tech', 'Uconn', 'Virginia', 'Washington State',
       'Arkansas State', 'Jacksonville State', 'Massachusetts', 'Nevada',
       'Vanderbilt', 'App State', 'Kennesaw State', 'Sam Houston'],
      dtype=object)

In [18]:
unique_team = df['Team'].unique()
unique_team = sorted(unique_team)
unique_team

['Air Force',
 'Akron',
 'Alabama',
 'App State',
 'Arizona',
 'Arizona State',
 'Arkansas',
 'Arkansas State',
 'Army',
 'Auburn',
 'BYU',
 'Ball State',
 'Baylor',
 'Boise State',
 'Boston College',
 'Bowling Green',
 'Buffalo',
 'California',
 'Central Michigan',
 'Charlotte',
 'Cincinnati',
 'Clemson',
 'Coastal Carolina',
 'Colorado',
 'Colorado State',
 'Duke',
 'East Carolina',
 'Eastern Michigan',
 'Florida',
 'Florida Atlantic',
 'Florida International',
 'Florida State',
 'Fresno State',
 'Georgia',
 'Georgia Southern',
 'Georgia State',
 'Georgia Tech',
 "Hawai'i",
 'Houston',
 'Illinois',
 'Indiana',
 'Iowa',
 'Iowa State',
 'Jacksonville State',
 'James Madison',
 'Kansas',
 'Kansas State',
 'Kennesaw State',
 'Kent State',
 'Kentucky',
 'LSU',
 'Liberty',
 'Louisiana',
 'Louisiana Tech',
 'Louisville',
 'Marshall',
 'Maryland',
 'Massachusetts',
 'Memphis',
 'Miami',
 'Miami (OH)',
 'Michigan',
 'Michigan State',
 'Middle Tennessee',
 'Minnesota',
 'Mississippi State',
 'Missouri',
 'NC State',
 'Navy',
 'Nebraska',
 'Nevada',
 'New Mexico',
 'New Mexico State',
 'North Carolina',
 'North Texas',
 'Northern Illinois',
 'Northwestern',
 'Notre Dame',
 'Ohio',
 'Ohio State',
 'Oklahoma',
 'Oklahoma State',
 'Old Dominion',
 'Ole Miss',
 'Oregon',
 'Oregon State',
 'Penn State',
 'Pittsburgh',
 'Purdue',
 'Rice',
 'Rutgers',
 'SMU',
 'Sam Houston',
 'San Diego State',
 'San Jose State',
 'South Alabama',
 'South Carolina',
 'South Florida',
 'Southern Miss',
 'Stanford',
 'Syracuse',
 'TCU',
 'Temple',
 'Tennessee',
 'Texas',
 'Texas A&M',
 'Texas State',
 'Texas Tech',
 'Toledo',
 'Troy',
 'Tulane',
 'Tulsa',
 'UAB',
 'UCF',
 'UCLA',
 'UL Monroe',
 'UNLV',
 'USC',
 'UTEP',
 'UTSA',
 'Uconn',
 'Utah',
 'Utah State',
 'Vanderbilt',
 'Virginia',
 'Virginia Tech',
 'Wake Forest',
 'Washington',
 'Washington State',
 'West Virginia',
 'Western Kentucky',
 'Western Michigan',
 'Wisconsin',
 'Wyoming']

In [21]:
df['Team'].value_counts().sort_index()

Team
Air Force                44
Akron                    41
Alabama                  47
App State                10
Arizona                  42
Arizona State            46
Arkansas                 45
Arkansas State           42
Army                     36
Auburn                   43
BYU                      42
Ball State               42
Baylor                   45
Boise State              44
Boston College           41
Bowling Green            44
Buffalo                  43
California               43
Central Michigan         42
Charlotte                41
Cincinnati               45
Clemson                  44
Coastal Carolina         39
Colorado                 44
Colorado State           39
Duke                     42
East Carolina            40
Eastern Michigan         45
Florida                  41
Florida Atlantic         40
Florida International    40
Florida State            44
Fresno State             39
Georgia                  49
Georgia Southern         42
Georgia State            38
Georgia Tech             42
Hawai'i                  39
Houston                  42
Illinois                 44
Indiana                  41
Iowa                     48
Iowa State               45
Jacksonville State       23
James Madison            29
Kansas                   46
Kansas State             47
Kennesaw State            9
Kent State               42
Kentucky                 43
LSU                      45
Liberty                  44
Louisiana                47
Louisiana Tech           42
Louisville               45
Marshall                 42
Maryland                 45
Massachusetts            34
Memphis                  46
Miami                    41
Miami (OH)               45
Michigan                 51
Michigan State           42
Middle Tennessee         43
Minnesota                44
Mississippi State        44
Missouri                 46
NC State                 44
Navy                     42
Nebraska                 41
Nevada                   38
New Mexico               41
New Mexico State         40
North Carolina           38
North Texas              43
Northern Illinois        45
Northwestern             41
Notre Dame               48
Ohio                     43
Ohio State               49
Oklahoma                 45
Oklahoma State           46
Old Dominion             39
Ole Miss                 45
Oregon                   48
Oregon State             43
Penn State               47
Pittsburgh               43
Purdue                   45
Rice                     40
Rutgers                  44
SMU                      45
Sam Houston              22
San Diego State          41
San Jose State           41
South Alabama            43
South Carolina           44
South Florida            40
Southern Miss            40
Stanford                 41
Syracuse                 42
TCU                      45
Temple                   40
Tennessee                44
Texas                    49
Texas A&M                42
Texas State              41
Texas Tech               46
Toledo                   48
Troy                     41
Tulane                   46
Tulsa                    44
UAB                      44
UCF                      42
UCLA                     43
UL Monroe                39
UNLV                     41
USC                      47
UTEP                     41
UTSA                     47
Uconn                    40
Utah                     46
Utah State               39
Vanderbilt               41
Virginia                 42
Virginia Tech            44
Wake Forest              44
Washington               48
Washington State         41
West Virginia            42
Western Kentucky         47
Western Michigan         41
Wisconsin                46
Wyoming                  38
Name: count, dtype: int64

In [22]:
df['opponent'].isna().sum()

np.int64(0)

In [23]:
df['opponent'].value_counts().sort_index()

opponent
Air Force                47
Akron                    40
Alabama                  47
App State                10
Arizona                  42
Arizona State            46
Arkansas                 45
Arkansas State           44
Army                     43
Auburn                   44
BYU                      44
Ball State               41
Baylor                   45
Boise State              46
Boston College           43
Bowling Green            41
Buffalo                  44
California               40
Central Michigan         41
Charlotte                40
Cincinnati               45
Clemson                  45
Coastal Carolina         40
Colorado                 45
Colorado State           39
Duke                     43
East Carolina            39
Eastern Michigan         44
Florida                  43
Florida Atlantic         40
Florida International    42
Florida State            42
Fresno State             43
Georgia                  51
Georgia Southern         43
Georgia State            43
Georgia Tech             39
Hawai'i                  41
Houston                  44
Illinois                 43
Indiana                  42
Iowa                     50
Iowa State               48
Jacksonville State       24
James Madison            30
Kansas                   45
Kansas State             47
Kennesaw State           10
Kent State               42
Kentucky                 42
LSU                      47
Liberty                  47
Louisiana                46
Louisiana Tech           38
Louisville               46
Marshall                 41
Maryland                 43
Massachusetts            36
Memphis                  43
Miami                    40
Miami (OH)               44
Michigan                 52
Michigan State           41
Middle Tennessee         44
Minnesota                47
Mississippi State        43
Missouri                 46
NC State                 46
Navy                     42
Nebraska                 42
Nevada                   41
New Mexico               42
New Mexico State         42
North Carolina           43
North Texas              44
Northern Illinois        43
Northwestern             40
Notre Dame               49
Ohio                     45
Ohio State               48
Oklahoma                 47
Oklahoma State           47
Old Dominion             43
Ole Miss                 46
Oregon                   48
Oregon State             42
Penn State               49
Pittsburgh               48
Purdue                   46
Rice                     41
Rutgers                  43
SMU                      47
Sam Houston              21
San Diego State          45
South Alabama            42
South Carolina           44
South Florida            42
Southern Miss            40
Stanford                 41
Syracuse                 41
TCU                      44
Temple                   40
Tennessee                42
Texas                    51
Texas A&M                42
Texas State              42
Texas Tech               44
Toledo                   49
Troy                     42
Tulane                   47
Tulsa                    43
UAB                      46
UCF                      46
UCLA                     43
UL Monroe                39
UNLV                     47
USC                      47
UTEP                     41
UTSA                     47
Utah                     46
Utah State               44
Vanderbilt               44
Virginia                 40
Virginia Tech            40
Wake Forest              42
Washington               46
Washington State         44
West Virginia            41
Western Kentucky         47
Western Michigan         42
Wisconsin                46
Wyoming                  41
Name: count, dtype: int64

In [26]:
unique_opponent = df['opponent'].unique()
unique_opponent = sorted(unique_opponent)
unique_opponent

['Air Force',
 'Akron',
 'Alabama',
 'App State',
 'Arizona',
 'Arizona State',
 'Arkansas',
 'Arkansas State',
 'Army',
 'Auburn',
 'BYU',
 'Ball State',
 'Baylor',
 'Boise State',
 'Boston College',
 'Bowling Green',
 'Buffalo',
 'California',
 'Central Michigan',
 'Charlotte',
 'Cincinnati',
 'Clemson',
 'Coastal Carolina',
 'Colorado',
 'Colorado State',
 'Duke',
 'East Carolina',
 'Eastern Michigan',
 'Florida',
 'Florida Atlantic',
 'Florida International',
 'Florida State',
 'Fresno State',
 'Georgia',
 'Georgia Southern',
 'Georgia State',
 'Georgia Tech',
 "Hawai'i",
 'Houston',
 'Illinois',
 'Indiana',
 'Iowa',
 'Iowa State',
 'Jacksonville State',
 'James Madison',
 'Kansas',
 'Kansas State',
 'Kennesaw State',
 'Kent State',
 'Kentucky',
 'LSU',
 'Liberty',
 'Louisiana',
 'Louisiana Tech',
 'Louisville',
 'Marshall',
 'Maryland',
 'Massachusetts',
 'Memphis',
 'Miami',
 'Miami (OH)',
 'Michigan',
 'Michigan State',
 'Middle Tennessee',
 'Minnesota',
 'Mississippi State',
 'Missouri',
 'NC State',
 'Navy',
 'Nebraska',
 'Nevada',
 'New Mexico',
 'New Mexico State',
 'North Carolina',
 'North Texas',
 'Northern Illinois',
 'Northwestern',
 'Notre Dame',
 'Ohio',
 'Ohio State',
 'Oklahoma',
 'Oklahoma State',
 'Old Dominion',
 'Ole Miss',
 'Oregon',
 'Oregon State',
 'Penn State',
 'Pittsburgh',
 'Purdue',
 'Rice',
 'Rutgers',
 'SMU',
 'Sam Houston',
 'San Diego State',
 'South Alabama',
 'South Carolina',
 'South Florida',
 'Southern Miss',
 'Stanford',
 'Syracuse',
 'TCU',
 'Temple',
 'Tennessee',
 'Texas',
 'Texas A&M',
 'Texas State',
 'Texas Tech',
 'Toledo',
 'Troy',
 'Tulane',
 'Tulsa',
 'UAB',
 'UCF',
 'UCLA',
 'UL Monroe',
 'UNLV',
 'USC',
 'UTEP',
 'UTSA',
 'Utah',
 'Utah State',
 'Vanderbilt',
 'Virginia',
 'Virginia Tech',
 'Wake Forest',
 'Washington',
 'Washington State',
 'West Virginia',
 'Western Kentucky',
 'Western Michigan',
 'Wisconsin',
 'Wyoming']

In [27]:
df['opponent'].unique()

array(['Army', 'Western Michigan', 'LSU', 'California', 'USC',
       'Mississippi State', 'Air Force', 'Texas A&M', 'Northern Illinois',
       'TCU', 'Fresno State', 'Virginia Tech', 'Toledo', 'Miami (OH)',
       'Kent State', 'Louisiana Tech', 'Tulsa', 'Georgia State',
       'Oregon State', 'Wyoming', 'Pittsburgh', 'Temple', 'Ohio',
       'South Carolina', 'Old Dominion', 'NC State', 'San Diego State',
       'Missouri', 'Coastal Carolina', 'Louisiana', 'Miami', 'Utah State',
       'South Florida', 'Rutgers', 'Michigan', 'Northwestern', 'Texas',
       'Kansas State', 'Kansas', 'Central Michigan', 'Tennessee',
       'Ole Miss', 'Troy', 'UAB', 'Clemson', 'Alabama',
       'Florida Atlantic', 'Penn State', 'SMU', 'Georgia Tech', 'Buffalo',
       'Indiana', 'Purdue', 'Florida International', 'Illinois',
       'Arkansas', 'Georgia', 'Notre Dame', 'North Carolina', 'UNLV',
       'Wake Forest', 'Southern Miss', 'Ball State', 'Iowa', 'Navy',
       'Eastern Michigan', 'Nebraska', 'West Virginia', 'Liberty',
       'Washington State', 'Colorado', 'Maryland', 'Duke',
       'Michigan State', 'Charlotte', 'Wisconsin', "Hawai'i", 'UCF',
       'Florida', 'Houston', 'North Texas', 'Utah', 'Baylor',
       'East Carolina', 'Kentucky', 'Iowa State', 'Auburn', 'UL Monroe',
       'Bowling Green', 'Tulane', 'Texas State', 'New Mexico',
       'Arizona State', 'Stanford', 'New Mexico State', 'UTEP',
       'Boston College', 'Oregon', 'Oklahoma State', 'Middle Tennessee',
       'Akron', 'Colorado State', 'UCLA', 'BYU', 'Boise State', 'Rice',
       'South Alabama', 'Louisville', 'Georgia Southern', 'James Madison',
       'Florida State', 'Cincinnati', 'Massachusetts', 'Western Kentucky',
       'Marshall', 'Syracuse', 'Vanderbilt', 'Texas Tech', 'Memphis',
       'UTSA', 'Oklahoma', 'Virginia', 'Minnesota', 'Arkansas State',
       'Ohio State', 'Jacksonville State', 'Arizona', 'Nevada',
       'App State', 'Washington', 'Kennesaw State', 'Sam Houston'],
      dtype=object)

In [28]:
df['code'].isna().sum()

np.int64(0)

In [29]:
df['code'].unique()

array([2005, 2006,  333,   12,    9,    8,  349,    2, 2050,  239,   68,
        103,  189, 2084, 2117, 2429, 2132,  324,   38,   36,  150,  151,
       2199,   57, 2226, 2229,   52,  278,   61,  290, 2247,   59,   62,
        248,  356,   84, 2294,   66, 2305, 2306, 2309,   96, 2335,  309,
       2348,   97,   99,  276,  120,  235, 2390,  193,  130,  127, 2393,
        135,  344,  142, 2426,  154,  158,  167,  153,  249, 2459,   77,
         87,  195,  194,  197,  295,  145, 2483,  204,  213,  221, 2509,
        242,  164,   21,   23, 2567,    6, 2579,   58, 2572,   24, 2628,
        218, 2633,  251,  245,  326, 2649, 2653, 2655,  202,    5, 2116,
         26, 2433, 2439,   30,  254,  328, 2638, 2636,  259,  264,  277,
         98, 2711,  275, 2751,  252,   25,  228,  256,  166,  201,  183,
       2641,   41,  258,  265, 2032,   55,  113, 2440,  238, 2026,  338,
       2534])

In [30]:
df['code'].value_counts().sort_index()

code
2       43
5       44
6       43
8       45
9       46
12      42
21      41
23      41
24      41
25      43
26      43
30      47
36      39
38      44
41      40
52      44
55      23
57      41
58      40
59      42
61      49
62      39
66      45
68      44
77      41
84      41
87      48
96      43
97      45
98      47
99      45
103     41
113     34
120     45
127     42
130     51
135     44
142     46
145     45
150     42
151     40
153     38
154     88
158     41
164     44
166     40
167     41
183     42
189     44
193     45
194     49
195     43
197     46
201     45
202     44
204     43
213     47
218     40
221     43
228     44
235     46
238     41
239     45
242     40
245     42
248     42
249     43
251     49
252     42
254     46
256     29
258     42
259     44
264     48
265     41
275     46
276     42
277     42
278     39
290     42
295     39
309     47
324     39
326     41
328     39
333     47
338      9
344     44
349     36
356     44
2005    44
2006    41
2026    10
2032    42
2050    42
2084    43
2116    42
2117    42
2132    45
2199    45
2226    40
2229    40
2247    38
2294    48
2305    46
2306    47
2309    42
2335    44
2348    42
2390    41
2393    43
2426    42
2429    41
2433    39
2439    41
2440    38
2459    45
2483    48
2509    45
2534    22
2567    45
2572    40
2579    44
2628    45
2633    44
2636    47
2638    41
2641    46
2649    48
2653    41
2655    46
2711    41
2751    38
Name: count, dtype: int64

In [31]:
df['date'].isna().sum()

np.int64(0)

In [32]:
df['date'].unique()

array(['Sat, Nov 6', 'Tue, Nov 9', 'Wed, Nov 10', 'Fri, Nov 5',
       'Sat, Nov 13', 'Sat, Oct 30', 'Thu, Nov 4', 'Sat, Nov 5',
       'Tue, Nov 8', 'Sat, Nov 12', 'Fri, Nov 4', 'Wed, Nov 9',
       'Sat, Oct 29', 'Thu, Nov 10', 'Thu, Nov 3', 'Sat, Nov 4',
       'Wed, Nov 8', 'Tue, Nov 7', 'Fri, Nov 3', 'Sat, Nov 11',
       'Thu, Nov 2', 'Wed, Oct 25', 'Tue, Oct 24', 'Sat, Oct 28',
       'Fri, Nov 10', 'Thu, Nov 9', 'Sat, Nov 2', 'Tue, Nov 12',
       'Sat, Nov 9', 'Tue, Nov 5', 'Fri, Nov 8', 'Thu, Oct 31',
       'Thu, Nov 7', 'Sat, Oct 26', 'Wed, Nov 6', 'Fri, Nov 1',
       'Sat, Nov 16', 'Sat, Nov 20', 'Wed, Nov 17', 'Fri, Nov 12',
       'Tue, Nov 16', 'Thu, Nov 11', 'Tue, Nov 15', 'Sat, Nov 19',
       'Wed, Nov 16', 'Fri, Nov 11', 'Thu, Nov 17', 'Fri, Nov 18',
       'Tue, Nov 14', 'Sat, Nov 18', 'Wed, Nov 15', 'Wed, Nov 13',
       'Fri, Nov 15', 'Sat, Nov 23', 'Thu, Nov 14', 'Fri, Nov 19',
       'Sat, Nov 27', 'Tue, Nov 23', 'Fri, Nov 26', 'Thu, Nov 18',
       'Sat, Nov 26', 'Tue, Nov 22', 'Fri, Nov 25', 'Fri, Nov 24',
       'Sat, Nov 25', 'Thu, Nov 16', 'Tue, Nov 21', 'Fri, Nov 17',
       'Tue, Nov 19', 'Fri, Nov 29', 'Wed, Nov 20', 'Sat, Nov 30',
       'Fri, Nov 22', 'Sat, Dec 25', 'Sat, Dec 4', 'Fri, Dec 31',
       'Wed, Dec 29', 'Fri, Dec 17', 'Sat, Dec 18', 'Thu, Dec 23',
       'Thu, Nov 25', 'Fri, Dec 3', 'Mon, Dec 20', 'Mon, Dec 27',
       'Fri, Dec 2', 'Thu, Dec 22', 'Mon, Dec 26', 'Wed, Dec 28',
       'Fri, Dec 23', 'Fri, Dec 16', 'Thu, Nov 24', 'Sat, Dec 10',
       'Sat, Dec 3', 'Sat, Dec 17', 'Thu, Dec 29', 'Sat, Dec 9',
       'Tue, Dec 26', 'Sat, Dec 23', 'Thu, Dec 28', 'Fri, Dec 1',
       'Fri, Dec 29', 'Sat, Dec 2', 'Thu, Nov 23', 'Thu, Dec 21',
       'Sat, Dec 16', 'Wed, Dec 27', 'Mon, Dec 18', 'Tue, Nov 26',
       'Thu, Nov 21', 'Thu, Nov 28', 'Fri, Dec 27', 'Tue, Dec 28',
       'Thu, Dec 30', 'Sat, Jan 1', 'Sat, Dec 11', 'Tue, Jan 4',
       'Tue, Dec 21', 'Wed, Dec 22', 'Sat, Dec 31', 'Tue, Dec 27',
       'Mon, Jan 2', 'Tue, Dec 20', 'Fri, Dec 30', 'Sat, Dec 24',
       'Wed, Dec 21', 'Sat, Dec 30', 'Fri, Dec 22', 'Mon, Jan 1',
       'Tue, Dec 19', 'Fri, Dec 6', 'Sat, Dec 28', 'Thu, Dec 26',
       'Sat, Jan 4', 'Wed, Dec 18', 'Thu, Jan 2', 'Sat, Dec 7',
       'Tue, Dec 17', 'Sat, Dec 14', 'Mon, Dec 23', 'Thu, Dec 19',
       'Fri, Jan 3', 'Tue, Dec 31', 'Fri, Dec 20', 'Mon, Dec 30',
       'Sat, Dec 21', 'Wed, Jan 1', 'Mon, Jan 10', 'Mon, Jan 9',
       'Mon, Jan 8', 'Thu, Jan 9', 'Fri, Jan 10', 'Mon, Jan 20',
       'Sat, Sep 11', 'Fri, Sep 10', 'Sat, Sep 4', 'Sat, Sep 10',
       'Fri, Sep 9', 'Sat, Sep 3', 'Sun, Sep 4', 'Fri, Sep 2',
       'Thu, Sep 1', 'Sat, Sep 9', 'Fri, Sep 1', 'Fri, Sep 8',
       'Sat, Sep 2', 'Sun, Sep 3', 'Sat, Sep 7', 'Sat, Sep 14',
       'Fri, Sep 6', 'Mon, Sep 2', 'Sat, Aug 31', 'Sat, Sep 18',
       'Thu, Sep 16', 'Fri, Sep 17', 'Fri, Sep 16', 'Sat, Sep 17',
       'Fri, Sep 15', 'Sat, Sep 16', 'Thu, Sep 14', 'Fri, Sep 13',
       'Thu, Sep 12', 'Sat, Sep 21', 'Fri, Sep 20', 'Sat, Sep 25',
       'Fri, Sep 24', 'Sun, Sep 19', 'Fri, Sep 23', 'Sat, Sep 24',
       'Thu, Sep 22', 'Sat, Sep 23', 'Fri, Sep 22', 'Thu, Sep 21',
       'Thu, Sep 19', 'Sat, Sep 28', 'Sat, Oct 2', 'Fri, Oct 1',
       'Thu, Sep 30', 'Sat, Oct 1', 'Fri, Sep 30', 'Thu, Sep 29',
       'Fri, Oct 7', 'Wed, Oct 5', 'Sat, Sep 30', 'Fri, Sep 29',
       'Fri, Oct 6', 'Thu, Oct 5', 'Thu, Sep 28', 'Thu, Sep 26',
       'Sat, Oct 5', 'Fri, Oct 4', 'Fri, Sep 27', 'Thu, Oct 3',
       'Sat, Oct 9', 'Fri, Oct 8', 'Thu, Oct 7', 'Fri, Oct 15',
       'Sat, Oct 8', 'Thu, Oct 13', 'Sat, Oct 15', 'Wed, Oct 12',
       'Fri, Oct 14', 'Sat, Oct 7', 'Thu, Oct 12', 'Wed, Oct 4',
       'Sat, Oct 14', 'Tue, Oct 10', 'Fri, Oct 13', 'Sat, Oct 12',
       'Tue, Oct 8', 'Wed, Oct 9', 'Thu, Oct 10', 'Fri, Oct 11',
       'Sat, Oct 16', 'Sat, Oct 23', 'Thu, Oct 21', 'Thu, Oct 14',
       'Sat, Oct 22', 'Thu, Oct 20', 'Fri, Oct 21', 'Sat, Oct 21',
       'Wed, Oct 11', 'Tue, Oct 17', 'Thu, Oct 19', 'Fri, Oct 20',
       'Sat, Oct 19', 'Thu, Oct 17', 'Fri, Oct 18', 'Wed, Oct 16',
       'Tue, Oct 15', 'Thu, Oct 24', 'Fri, Oct 22', 'Thu, Oct 28',
       'Fri, Oct 29', 'Thu, Oct 27', 'Wed, Oct 18', 'Thu, Oct 26',
       'Fri, Oct 25', 'Tue, Oct 22', 'Wed, Oct 23', 'Tue, Nov 2',
       'Wed, Nov 3', 'Tue, Nov 1', 'Wed, Nov 2', 'Fri, Oct 28',
       'Wed, Nov 1', 'Tue, Oct 31', 'Fri, Oct 27', 'Tue, Oct 29',
       'Wed, Oct 30'], dtype=object)

In [33]:
df['date'].value_counts().sort_index()

date
Fri, Dec 1       4
Fri, Dec 16      3
Fri, Dec 17      3
Fri, Dec 2       6
Fri, Dec 20      6
Fri, Dec 22      2
Fri, Dec 23      4
Fri, Dec 27      9
Fri, Dec 29      6
Fri, Dec 3       4
Fri, Dec 30      7
Fri, Dec 31      6
Fri, Dec 6       6
Fri, Jan 10      2
Fri, Jan 3       2
Fri, Nov 1       5
Fri, Nov 10      4
Fri, Nov 11      6
Fri, Nov 12      4
Fri, Nov 15      8
Fri, Nov 17      4
Fri, Nov 18      4
Fri, Nov 19     10
Fri, Nov 22      5
Fri, Nov 24     24
Fri, Nov 25     24
Fri, Nov 26     31
Fri, Nov 29     23
Fri, Nov 3       4
Fri, Nov 4       5
Fri, Nov 5       4
Fri, Nov 8       9
Fri, Oct 1       6
Fri, Oct 11      6
Fri, Oct 13      6
Fri, Oct 14      4
Fri, Oct 15      7
Fri, Oct 18      8
Fri, Oct 20      2
Fri, Oct 21      4
Fri, Oct 22      7
Fri, Oct 25      6
Fri, Oct 27      2
Fri, Oct 28      4
Fri, Oct 29      4
Fri, Oct 4       8
Fri, Oct 6       4
Fri, Oct 7       7
Fri, Oct 8       6
Fri, Sep 1       1
Fri, Sep 10      4
Fri, Sep 13      4
Fri, Sep 15      6
Fri, Sep 16      4
Fri, Sep 17      4
Fri, Sep 2       1
Fri, Sep 20      5
Fri, Sep 22      6
Fri, Sep 23      6
Fri, Sep 24      9
Fri, Sep 27      4
Fri, Sep 29      7
Fri, Sep 30     10
Fri, Sep 6       4
Fri, Sep 8       2
Fri, Sep 9       4
Mon, Dec 18      1
Mon, Dec 20      1
Mon, Dec 23      2
Mon, Dec 26      1
Mon, Dec 27      1
Mon, Dec 30      2
Mon, Jan 1       8
Mon, Jan 10      2
Mon, Jan 2       8
Mon, Jan 20      2
Mon, Jan 8       2
Mon, Jan 9       2
Mon, Sep 2       1
Sat, Aug 31      4
Sat, Dec 10      1
Sat, Dec 11      2
Sat, Dec 14      3
Sat, Dec 16      6
Sat, Dec 17      9
Sat, Dec 18      7
Sat, Dec 2      14
Sat, Dec 21      6
Sat, Dec 23     10
Sat, Dec 24      2
Sat, Dec 25      1
Sat, Dec 28      9
Sat, Dec 3      16
Sat, Dec 30      8
Sat, Dec 31      6
Sat, Dec 4      16
Sat, Dec 7      12
Sat, Dec 9       1
Sat, Jan 1       6
Sat, Jan 4       2
Sat, Nov 11    104
Sat, Nov 12    102
Sat, Nov 13     98
Sat, Nov 16     84
Sat, Nov 18    108
Sat, Nov 19    100
Sat, Nov 2      77
Sat, Nov 20     99
Sat, Nov 23    106
Sat, Nov 25     90
Sat, Nov 26     88
Sat, Nov 27     83
Sat, Nov 30     90
Sat, Nov 4     102
Sat, Nov 5     100
Sat, Nov 6      99
Sat, Nov 9      77
Sat, Oct 1     100
Sat, Oct 12     87
Sat, Oct 14     89
Sat, Oct 15     89
Sat, Oct 16     87
Sat, Oct 19     93
Sat, Oct 2     110
Sat, Oct 21     89
Sat, Oct 22     95
Sat, Oct 23     88
Sat, Oct 26     93
Sat, Oct 28     90
Sat, Oct 29     83
Sat, Oct 30     95
Sat, Oct 5      84
Sat, Oct 7      84
Sat, Oct 8     101
Sat, Oct 9      91
Sat, Sep 10     87
Sat, Sep 11     82
Sat, Sep 14     96
Sat, Sep 16     97
Sat, Sep 17     93
Sat, Sep 18     96
Sat, Sep 2       3
Sat, Sep 21     98
Sat, Sep 23    114
Sat, Sep 24    107
Sat, Sep 25    103
Sat, Sep 28     97
Sat, Sep 3       8
Sat, Sep 30     95
Sat, Sep 4       5
Sat, Sep 7      93
Sat, Sep 9      89
Sun, Sep 19      1
Sun, Sep 3       1
Sun, Sep 4       1
Thu, Dec 19      1
Thu, Dec 21      1
Thu, Dec 22      1
Thu, Dec 23      3
Thu, Dec 26      5
Thu, Dec 28      7
Thu, Dec 29      5
Thu, Dec 30      7
Thu, Jan 2       3
Thu, Jan 9       2
Thu, Nov 10      4
Thu, Nov 11      2
Thu, Nov 14      2
Thu, Nov 16      2
Thu, Nov 17      2
Thu, Nov 18      2
Thu, Nov 2       7
Thu, Nov 21      1
Thu, Nov 23      2
Thu, Nov 24      2
Thu, Nov 25      3
Thu, Nov 28      2
Thu, Nov 3       2
Thu, Nov 4       2
Thu, Nov 7       4
Thu, Nov 9       4
Thu, Oct 10      6
Thu, Oct 12      4
Thu, Oct 13      4
Thu, Oct 14      4
Thu, Oct 17      4
Thu, Oct 19      4
Thu, Oct 20      4
Thu, Oct 21      7
Thu, Oct 24      4
Thu, Oct 26      4
Thu, Oct 27      5
Thu, Oct 28      4
Thu, Oct 3       4
Thu, Oct 31      2
Thu, Oct 5       4
Thu, Oct 7       4
Thu, Sep 1       1
Thu, Sep 12      2
Thu, Sep 14      2
Thu, Sep 16      2
Thu, Sep 19      2
Thu, Sep 21      2
Thu, Sep 22      4
Thu, Sep 26      2
Thu, Sep 28      6
Thu, Sep 29      2
Thu, Sep 30      2
Tue, Dec 17      1
Tue, Dec 19      2
Tue, Dec 20      2
Tue, Dec 21      4
Tue, Dec 26      3
Tue, Dec 27      6
Tue, Dec 28      7
Tue, Dec 31      8
Tue, Jan 4       2
Tue, Nov 1       4
Tue, Nov 12      6
Tue, Nov 14      6
Tue, Nov 15      4
Tue, Nov 16      6
Tue, Nov 19      6
Tue, Nov 2       6
Tue, Nov 21      4
Tue, Nov 22      4
Tue, Nov 23      4
Tue, Nov 26      4
Tue, Nov 5       4
Tue, Nov 7       6
Tue, Nov 8       6
Tue, Nov 9       6
Tue, Oct 10      4
Tue, Oct 15      6
Tue, Oct 17      6
Tue, Oct 22      4
Tue, Oct 24      4
Tue, Oct 29      6
Tue, Oct 31      4
Tue, Oct 8       2
Wed, Dec 18      3
Wed, Dec 21      1
Wed, Dec 22      1
Wed, Dec 27      5
Wed, Dec 28      6
Wed, Dec 29      5
Wed, Jan 1       2
Wed, Nov 1       4
Wed, Nov 10      6
Wed, Nov 13      6
Wed, Nov 15      4
Wed, Nov 16      6
Wed, Nov 17      4
Wed, Nov 2       4
Wed, Nov 20      4
Wed, Nov 3       4
Wed, Nov 6       4
Wed, Nov 8       6
Wed, Nov 9       6
Wed, Oct 11      4
Wed, Oct 12      2
Wed, Oct 16      4
Wed, Oct 18      4
Wed, Oct 23      4
Wed, Oct 25      4
Wed, Oct 30      4
Wed, Oct 4       4
Wed, Oct 5       2
Wed, Oct 9       2
Name: count, dtype: int64

In [34]:
unique_date = df['date'].unique()
unique_date = sorted(unique_date)
unique_date

['Fri, Dec 1',
 'Fri, Dec 16',
 'Fri, Dec 17',
 'Fri, Dec 2',
 'Fri, Dec 20',
 'Fri, Dec 22',
 'Fri, Dec 23',
 'Fri, Dec 27',
 'Fri, Dec 29',
 'Fri, Dec 3',
 'Fri, Dec 30',
 'Fri, Dec 31',
 'Fri, Dec 6',
 'Fri, Jan 10',
 'Fri, Jan 3',
 'Fri, Nov 1',
 'Fri, Nov 10',
 'Fri, Nov 11',
 'Fri, Nov 12',
 'Fri, Nov 15',
 'Fri, Nov 17',
 'Fri, Nov 18',
 'Fri, Nov 19',
 'Fri, Nov 22',
 'Fri, Nov 24',
 'Fri, Nov 25',
 'Fri, Nov 26',
 'Fri, Nov 29',
 'Fri, Nov 3',
 'Fri, Nov 4',
 'Fri, Nov 5',
 'Fri, Nov 8',
 'Fri, Oct 1',
 'Fri, Oct 11',
 'Fri, Oct 13',
 'Fri, Oct 14',
 'Fri, Oct 15',
 'Fri, Oct 18',
 'Fri, Oct 20',
 'Fri, Oct 21',
 'Fri, Oct 22',
 'Fri, Oct 25',
 'Fri, Oct 27',
 'Fri, Oct 28',
 'Fri, Oct 29',
 'Fri, Oct 4',
 'Fri, Oct 6',
 'Fri, Oct 7',
 'Fri, Oct 8',
 'Fri, Sep 1',
 'Fri, Sep 10',
 'Fri, Sep 13',
 'Fri, Sep 15',
 'Fri, Sep 16',
 'Fri, Sep 17',
 'Fri, Sep 2',
 'Fri, Sep 20',
 'Fri, Sep 22',
 'Fri, Sep 23',
 'Fri, Sep 24',
 'Fri, Sep 27',
 'Fri, Sep 29',
 'Fri, Sep 30',
 'Fri, Sep 6',
 'Fri, Sep 8',
 'Fri, Sep 9',
 'Mon, Dec 18',
 'Mon, Dec 20',
 'Mon, Dec 23',
 'Mon, Dec 26',
 'Mon, Dec 27',
 'Mon, Dec 30',
 'Mon, Jan 1',
 'Mon, Jan 10',
 'Mon, Jan 2',
 'Mon, Jan 20',
 'Mon, Jan 8',
 'Mon, Jan 9',
 'Mon, Sep 2',
 'Sat, Aug 31',
 'Sat, Dec 10',
 'Sat, Dec 11',
 'Sat, Dec 14',
 'Sat, Dec 16',
 'Sat, Dec 17',
 'Sat, Dec 18',
 'Sat, Dec 2',
 'Sat, Dec 21',
 'Sat, Dec 23',
 'Sat, Dec 24',
 'Sat, Dec 25',
 'Sat, Dec 28',
 'Sat, Dec 3',
 'Sat, Dec 30',
 'Sat, Dec 31',
 'Sat, Dec 4',
 'Sat, Dec 7',
 'Sat, Dec 9',
 'Sat, Jan 1',
 'Sat, Jan 4',
 'Sat, Nov 11',
 'Sat, Nov 12',
 'Sat, Nov 13',
 'Sat, Nov 16',
 'Sat, Nov 18',
 'Sat, Nov 19',
 'Sat, Nov 2',
 'Sat, Nov 20',
 'Sat, Nov 23',
 'Sat, Nov 25',
 'Sat, Nov 26',
 'Sat, Nov 27',
 'Sat, Nov 30',
 'Sat, Nov 4',
 'Sat, Nov 5',
 'Sat, Nov 6',
 'Sat, Nov 9',
 'Sat, Oct 1',
 'Sat, Oct 12',
 'Sat, Oct 14',
 'Sat, Oct 15',
 'Sat, Oct 16',
 'Sat, Oct 19',
 'Sat, Oct 2',
 'Sat, Oct 21',
 'Sat, Oct 22',
 'Sat, Oct 23',
 'Sat, Oct 26',
 'Sat, Oct 28',
 'Sat, Oct 29',
 'Sat, Oct 30',
 'Sat, Oct 5',
 'Sat, Oct 7',
 'Sat, Oct 8',
 'Sat, Oct 9',
 'Sat, Sep 10',
 'Sat, Sep 11',
 'Sat, Sep 14',
 'Sat, Sep 16',
 'Sat, Sep 17',
 'Sat, Sep 18',
 'Sat, Sep 2',
 'Sat, Sep 21',
 'Sat, Sep 23',
 'Sat, Sep 24',
 'Sat, Sep 25',
 'Sat, Sep 28',
 'Sat, Sep 3',
 'Sat, Sep 30',
 'Sat, Sep 4',
 'Sat, Sep 7',
 'Sat, Sep 9',
 'Sun, Sep 19',
 'Sun, Sep 3',
 'Sun, Sep 4',
 'Thu, Dec 19',
 'Thu, Dec 21',
 'Thu, Dec 22',
 'Thu, Dec 23',
 'Thu, Dec 26',
 'Thu, Dec 28',
 'Thu, Dec 29',
 'Thu, Dec 30',
 'Thu, Jan 2',
 'Thu, Jan 9',
 'Thu, Nov 10',
 'Thu, Nov 11',
 'Thu, Nov 14',
 'Thu, Nov 16',
 'Thu, Nov 17',
 'Thu, Nov 18',
 'Thu, Nov 2',
 'Thu, Nov 21',
 'Thu, Nov 23',
 'Thu, Nov 24',
 'Thu, Nov 25',
 'Thu, Nov 28',
 'Thu, Nov 3',
 'Thu, Nov 4',
 'Thu, Nov 7',
 'Thu, Nov 9',
 'Thu, Oct 10',
 'Thu, Oct 12',
 'Thu, Oct 13',
 'Thu, Oct 14',
 'Thu, Oct 17',
 'Thu, Oct 19',
 'Thu, Oct 20',
 'Thu, Oct 21',
 'Thu, Oct 24',
 'Thu, Oct 26',
 'Thu, Oct 27',
 'Thu, Oct 28',
 'Thu, Oct 3',
 'Thu, Oct 31',
 'Thu, Oct 5',
 'Thu, Oct 7',
 'Thu, Sep 1',
 'Thu, Sep 12',
 'Thu, Sep 14',
 'Thu, Sep 16',
 'Thu, Sep 19',
 'Thu, Sep 21',
 'Thu, Sep 22',
 'Thu, Sep 26',
 'Thu, Sep 28',
 'Thu, Sep 29',
 'Thu, Sep 30',
 'Tue, Dec 17',
 'Tue, Dec 19',
 'Tue, Dec 20',
 'Tue, Dec 21',
 'Tue, Dec 26',
 'Tue, Dec 27',
 'Tue, Dec 28',
 'Tue, Dec 31',
 'Tue, Jan 4',
 'Tue, Nov 1',
 'Tue, Nov 12',
 'Tue, Nov 14',
 'Tue, Nov 15',
 'Tue, Nov 16',
 'Tue, Nov 19',
 'Tue, Nov 2',
 'Tue, Nov 21',
 'Tue, Nov 22',
 'Tue, Nov 23',
 'Tue, Nov 26',
 'Tue, Nov 5',
 'Tue, Nov 7',
 'Tue, Nov 8',
 'Tue, Nov 9',
 'Tue, Oct 10',
 'Tue, Oct 15',
 'Tue, Oct 17',
 'Tue, Oct 22',
 'Tue, Oct 24',
 'Tue, Oct 29',
 'Tue, Oct 31',
 'Tue, Oct 8',
 'Wed, Dec 18',
 'Wed, Dec 21',
 'Wed, Dec 22',
 'Wed, Dec 27',
 'Wed, Dec 28',
 'Wed, Dec 29',
 'Wed, Jan 1',
 'Wed, Nov 1',
 'Wed, Nov 10',
 'Wed, Nov 13',
 'Wed, Nov 15',
 'Wed, Nov 16',
 'Wed, Nov 17',
 'Wed, Nov 2',
 'Wed, Nov 20',
 'Wed, Nov 3',
 'Wed, Nov 6',
 'Wed, Nov 8',
 'Wed, Nov 9',
 'Wed, Oct 11',
 'Wed, Oct 12',
 'Wed, Oct 16',
 'Wed, Oct 18',
 'Wed, Oct 23',
 'Wed, Oct 25',
 'Wed, Oct 30',
 'Wed, Oct 4',
 'Wed, Oct 5',
 'Wed, Oct 9']

In [35]:
df['win_loss'].isna().sum()

np.int64(0)

In [36]:
df['win_loss'].unique()

array(['L', 'W'], dtype=object)

In [37]:
df['win_loss'].value_counts().sort_index()

win_loss
L    2841
W    2805
Name: count, dtype: int64

In [38]:
df['OT'].isna().sum()

np.int64(0)

In [39]:
df['OT'].unique()

array([ True, False])

In [40]:
df['OT'].value_counts().sort_index()

OT
False    5391
True      255
Name: count, dtype: int64

In [41]:
df['OT_num'].isna().sum()

np.int64(5391)

In [42]:
df['OT_num'].unique()

array([' ', nan, '2', '3', '4', '8', '6', '9'], dtype=object)

In [43]:
df['OT_num'].value_counts().sort_index()

OT_num
     164
2     65
3      8
4     12
6      2
8      2
9      2
Name: count, dtype: int64

In [45]:
df['home_game'].isna().sum()

np.int64(0)

In [46]:
df['home_game'].unique()

array([ True, False])

In [47]:
df['home_game'].value_counts().sort_index()

home_game
False    2652
True     2994
Name: count, dtype: int64

In [48]:
df['CONF'].isna().sum()

np.int64(0)

In [49]:
df['CONF'].unique()

array(['Mountain West', 'MAC', 'SEC', 'Pac-12', 'FBS Indep.', 'Big 12',
       'ACC', 'CUSA', 'American', 'Sun Belt', 'Big Ten'], dtype=object)

In [50]:
df['CONF'].value_counts().sort_index()

CONF
ACC              628
American         532
Big 12           560
Big Ten          676
CUSA             474
FBS Indep.       205
MAC              521
Mountain West    484
Pac-12           419
SEC              644
Sun Belt         503
Name: count, dtype: int64

In [51]:
df['SOR'].isna().sum()

np.int64(0)

In [52]:
df['SOR'].unique()

array([ 33, 127,   2, 122,  49,  14,  44,  48,  95,   7,  55,  75, 111,
       118,  53, 108,   6,  34,  81, 115, 109,  58,  85,  67, 102, 130,
        68,  30,   1, 116,  57,  92,  96,  17,  73,  93,  16,  38, 104,
        31,  88,  19,  72,  11, 120,  70,  51,  78,  45,  82,  35,  79,
         3,   5,  80,  28,  41,  71,  89,  23,  84, 119,  69, 101,  60,
       100,  10, 123,   8,   4,  98,  12,  20,  59,  37,  21,  18, 106,
        77,  24,  99,  50, 107,  43, 114, 124,  91,  64, 117,  46,  56,
        29, 112,  94, 103, 110,  66,  47,  42,  36, 105, 121,  87,  27,
        32,  90,  26,  74,  15,  97,  54,  61,  62,  22,  86,  52,  39,
       113, 128,  25,  40,  76,  63, 129, 126,  13,  83,  65, 125,   9,
       132, 133, 131, 134])

In [53]:
df['SOR'].value_counts().sort_index()

SOR
1      52
2      53
3      53
4      47
5      48
6      49
7      45
8      47
9      47
10     47
11     46
12     46
13     41
14     45
15     47
16     47
17     45
18     43
19     46
20     46
21     43
22     47
23     44
24     44
25     46
26     44
27     46
28     46
29     45
30     44
31     44
32     44
33     47
34     44
35     42
36     43
37     43
38     46
39     34
40     45
41     45
42     42
43     45
44     39
45     45
46     43
47     44
48     45
49     46
50     45
51     42
52     44
53     45
54     44
55     45
56     42
57     42
58     39
59     43
60     45
61     41
62     43
63     43
64     42
65     31
66     43
67     44
68     41
69     44
70     41
71     42
72     44
73     43
74     43
75     44
76     41
77     45
78     43
79     42
80     44
81     44
82     41
83     44
84     42
85     45
86     41
87     43
88     32
89     41
90     41
91     44
92     42
93     40
94     39
95     41
96     42
97     42
98     38
99     43
100    43
101    39
102    41
103    40
104    43
105    41
106    40
107    40
108    41
109    40
110    42
111    40
112    39
113    41
114    40
115    39
116    41
117    39
118    42
119    40
120    43
121    39
122    41
123    39
124    41
125    40
126    39
127    40
128    40
129    38
130    40
131    27
132    19
133    19
134    10
Name: count, dtype: int64

In [54]:
df['GC'].isna().sum()

np.int64(0)

In [55]:
df['GC'].unique()

array([ 24, 118,   2, 110,  61,  20,  39,  29,  93,   6,  36,  70, 112,
        71, 117,   5,  47,  80, 107, 111,  74, 105,  45,  99,  53,  37,
         1, 115,  72,  82,  94,  27,  60,  83,  33,  32,  95,  35,  92,
        15,  77,  34,  88,  38,  31,  65,  57,  76,  43,  87,   3,  19,
        98,  22,  54,  79,  89,  26,  40,  63, 116,  91, 103,   9,   4,
        10, 104,   8,  23,  51,  14,  13,  25, 106,  81,  59, 114,  52,
        97,  75, 102, 100,  66,  18,  28,  30,  78, 108,  96,  67,  46,
        58,  41, 109, 101,  85,  17,  86,  90,  62,  68,  11,  84,  49,
        64,  44,   7, 113, 120,  73, 119,  12,  55,  56,  48,  69,  42,
        50,  21,  16, 122, 124, 121, 123])

In [56]:
df['GC'].value_counts().sort_index()

GC
1       52
2       52
3       49
4       51
5       49
6       46
7       47
8       48
9       43
10      46
11      45
12      46
13      47
14      43
15      44
16      43
17      46
18      46
19      46
20      43
21      44
22      44
23      48
24      46
25      45
26      46
27      46
28      45
29      45
30      42
31      46
32      47
33      44
34      43
35      43
36      44
37      43
38      46
39      43
40      45
41      39
42      45
43      42
44      41
45      43
46      44
47      45
48      46
49      45
50      45
51      46
52      43
53      41
54      42
55      32
56      44
57      44
58      42
59      42
60      41
61      46
62      47
63      38
64      44
65      44
66      44
67      42
68      44
69      40
70      43
71      41
72      40
73      40
74      32
75      45
76      44
77      44
78      44
79      41
80      44
81      42
82      43
83      43
84      41
85      42
86      33
87      44
88      41
89      43
90      42
91      43
92      45
93      41
94      40
95      44
96      41
97      42
98      42
99      42
100     41
101     41
102     41
103     41
104     39
105     41
106     39
107     41
108     40
109     40
110     39
111     42
112     42
113     41
114     45
115     39
116     43
117     48
118    148
119     28
120    137
121     19
122    128
123     11
124    112
Name: count, dtype: int64

In [57]:
df['FPI'].isna().sum()

np.int64(0)

In [58]:
df['FPI'].unique()

array([ 66, 128,   2, 106,  39,  21,  61,  20, 103,  15,  38,  71, 123,
        99,  79, 117,  10,  45,  89,  97, 113,  81,  95,  34,  92, 126,
        51,  53,   1, 111,  83,  82, 102,  37,  67,  84,  32,   9, 114,
        35, 100,  28,  56,  48, 104,  46,  42,  70,  63,  80,  23,  85,
         4,  19,  87,  27,  36,  78, 101,  16,  29, 124,  43,  96,  93,
        94,   6, 115,   3,   7, 105,  18,  30,  52,  17,  12,  25, 122,
        86,  72, 108,  44, 109,  69, 107, 116,  91,  68, 125,  26,  24,
        14, 119,  65,  98,  90,  76,  60,  55,  31, 120, 112,  58,  11,
        74, 110,  57,  64,  22,  62,  49,  41,  75,  13,  88,  73,  54,
       127,  40,  33, 131, 129, 121,  50, 118,  47,   5,  77,   8,  59,
       133, 130, 134, 132])

In [59]:
df['FPI'].value_counts().sort_index()

FPI
1      52
2      51
3      50
4      48
5      44
6      49
7      48
8      44
9      45
10     46
11     46
12     48
13     48
14     45
15     45
16     45
17     46
18     45
19     43
20     46
21     45
22     47
23     43
24     45
25     45
26     45
27     46
28     45
29     44
30     42
31     43
32     48
33     32
34     46
35     43
36     45
37     45
38     42
39     48
40     44
41     44
42     43
43     42
44     44
45     44
46     45
47     41
48     43
49     44
50     45
51     43
52     42
53     42
54     47
55     44
56     44
57     46
58     45
59     43
60     45
61     41
62     45
63     43
64     41
65     31
66     34
67     43
68     41
69     44
70     42
71     43
72     47
73     44
74     44
75     42
76     39
77     45
78     44
79     43
80     41
81     38
82     41
83     41
84     41
85     44
86     43
87     43
88     40
89     42
90     44
91     43
92     41
93     39
94     42
95     44
96     43
97     41
98     38
99     42
100    44
101    39
102    40
103    43
104    40
105    38
106    40
107    41
108    43
109    38
110    41
111    42
112    42
113    36
114    41
115    39
116    40
117    41
118    41
119    41
120    39
121    40
122    42
123    39
124    42
125    37
126    45
127    37
128    41
129    39
130    37
131    29
132    18
133    21
134    10
Name: count, dtype: int64

In [60]:
df['SOS'].isna().sum()

np.int64(0)

In [61]:
df['SOS'].unique()

array([110,  67,   1,  71,  61,   2,  86,   4, 105,  25,  82,  72, 114,
       127, 119, 128,  54, 130,  48, 104,  77,  87, 103,  17, 112, 125,
        41,  95,   3, 100,  88,  12,  99,  78,  53,   7,  23,  24,  34,
        39,  85,  32, 106, 101,  98,  50,  14, 113,  21, 115,  36,  89,
         5,  13, 111,  44,  29,  22,  65,  63,  11,  94,  42, 126,  73,
        37,  43, 129,  27,  18, 109,  19,   8,  69,  10,  57,  15,  93,
        20, 102, 123,  84, 116,   9,  66,  74,  58,  28,  96,   6,  31,
        52, 117, 108, 122,  51,  33,  46,  75,  76,  79,  91,  56,  47,
       107, 120, 118,  60,  45,  62,  26,  92,  64,  35, 124, 131, 121,
        83,  80,  40,  16,  90,  55,  97,  30,  38,  81,  68,  49, 132,
        70,  59, 133, 134])

In [62]:
df['SOS'].value_counts().sort_index()

SOS
1      49
2      49
3      46
4      50
5      47
6      45
7      45
8      43
9      46
10     45
11     44
12     46
13     44
14     44
15     45
16     43
17     45
18     45
19     46
20     45
21     45
22     42
23     47
24     44
25     42
26     45
27     47
28     46
29     42
30     44
31     44
32     44
33     46
34     45
35     48
36     43
37     43
38     42
39     44
40     42
41     44
42     44
43     47
44     44
45     42
46     44
47     45
48     44
49     42
50     45
51     45
52     43
53     43
54     42
55     39
56     42
57     43
58     44
59     39
60     44
61     45
62     44
63     45
64     42
65     45
66     41
67     42
68     44
69     43
70     44
71     40
72     46
73     41
74     41
75     42
76     44
77     42
78     44
79     40
80     42
81     35
82     44
83     40
84     39
85     42
86     39
87     40
88     38
89     43
90     39
91     40
92     43
93     43
94     41
95     40
96     44
97     39
98     42
99     33
100    41
101    41
102    42
103    40
104    39
105    42
106    39
107    42
108    45
109    42
110    45
111    45
112    39
113    42
114    40
115    32
116    39
117    36
118    43
119    42
120    44
121    43
122    41
123    43
124    43
125    42
126    42
127    44
128    40
129    42
130    42
131    31
132    21
133    18
134    11
Name: count, dtype: int64

In [63]:
df['AVGWP'].isna().sum()

np.int64(0)

In [64]:
df['AVGWP'].unique()

array([  6, 125,   3, 122,  63,  41,  21,  58,  80,   7,  29,  65, 100,
       107,  44,  97,   2,   5, 102, 106, 115,  66,  87,  62,  89, 124,
        74,  19,   1, 111,  60, 110,  85,  10,  82, 119,  54,  56, 123,
        48,  83,  15,  49,  12,  81,  46,  52,  34,  79,  50,  57,  67,
         4,  39,  84,  26,  71,  91, 104,  30,  76, 121,  70,  93,  78,
       120,  11,  98,   8,  23,  90,  16,  37,  59,  33,   9,  47, 109,
       103,  24, 101,  45,  75,  95, 116, 105, 118,  96, 128,  27,  55,
        28, 112,  35,  94, 114,  69,  31,  42,  36, 113, 108,  99,  18,
        61,  64,  25,  73,  13,  86,  77,  43,  32,  14,  92,  53, 131,
       127,  22,  88,  72,  40, 126,  20, 117, 130,  51,  17, 129,  38,
       132,  68, 133, 134])

In [65]:
df['AVGWP'].value_counts().sort_index()

AVGWP
1      52
2      47
3      52
4      48
5      51
6      43
7      48
8      49
9      44
10     46
11     46
12     44
13     46
14     46
15     46
16     45
17     44
18     44
19     44
20     42
21     44
22     40
23     47
24     46
25     46
26     45
27     44
28     44
29     42
30     46
31     44
32     43
33     44
34     42
35     44
36     43
37     45
38     34
39     45
40     44
41     43
42     45
43     44
44     46
45     43
46     46
47     46
48     46
49     40
50     42
51     44
52     43
53     44
54     35
55     44
56     46
57     41
58     47
59     46
60     43
61     43
62     42
63     46
64     42
65     41
66     44
67     44
68     34
69     47
70     42
71     43
72     42
73     43
74     40
75     39
76     40
77     43
78     44
79     44
80     46
81     39
82     42
83     47
84     42
85     43
86     40
87     42
88     43
89     40
90     40
91     45
92     37
93     41
94     40
95     43
96     42
97     41
98     40
99     43
100    41
101    41
102    40
103    42
104    42
105    39
106    42
107    43
108    40
109    41
110    40
111    41
112    42
113    41
114    38
115    39
116    41
117    40
118    43
119    40
120    39
121    41
122    38
123    41
124    42
125    40
126    40
127    39
128    40
129    38
130    38
131    32
132    19
133    21
134    10
Name: count, dtype: int64

In [66]:
df['AP_rank'].isna().sum()

np.int64(4485)

In [67]:
df['AP_rank'].unique()

array([nan,  3., 12., 14.,  2., 21., 25.,  1., 20., 19., 18., 24.,  9.,
        5.,  8.,  6., 11., 15.,  7., 22., 23., 13., 16., 10.,  4., 17.])

In [68]:
unique_AP_rank = df['AP_rank'].unique()
unique_AP_rank = sorted(unique_AP_rank)
unique_AP_rank

[np.float64(nan),
 np.float64(1.0),
 np.float64(2.0),
 np.float64(3.0),
 np.float64(4.0),
 np.float64(5.0),
 np.float64(6.0),
 np.float64(7.0),
 np.float64(8.0),
 np.float64(9.0),
 np.float64(10.0),
 np.float64(11.0),
 np.float64(12.0),
 np.float64(13.0),
 np.float64(14.0),
 np.float64(15.0),
 np.float64(16.0),
 np.float64(17.0),
 np.float64(18.0),
 np.float64(19.0),
 np.float64(20.0),
 np.float64(21.0),
 np.float64(22.0),
 np.float64(23.0),
 np.float64(24.0),
 np.float64(25.0)]

In [69]:
df['AP_rank'].value_counts().sort_index()

AP_rank
1.0     49
2.0     57
3.0     51
4.0     45
5.0     50
6.0     46
7.0     48
8.0     45
9.0     43
10.0    49
11.0    47
12.0    45
13.0    45
14.0    44
15.0    44
16.0    46
17.0    46
18.0    45
19.0    45
20.0    45
21.0    42
22.0    47
23.0    43
24.0    47
25.0    47
Name: count, dtype: int64

In [70]:
df['opponent_rank'].isna().sum()

np.int64(4450)

In [71]:
df['opponent_rank'].unique()

array([nan, 13., 25., 21., 24.,  9., 15.,  3., 22., 23.,  1.,  8., 10.,
       19.,  5., 20., 14., 18., 12.,  7., 11.,  2., 16.,  6.,  4., 17.])

In [72]:
df['opponent_rank'].value_counts().sort_index()

opponent_rank
1.0     52
2.0     58
3.0     51
4.0     46
5.0     50
6.0     48
7.0     47
8.0     46
9.0     41
10.0    48
11.0    49
12.0    44
13.0    48
14.0    46
15.0    55
16.0    53
17.0    44
18.0    48
19.0    45
20.0    41
21.0    47
22.0    44
23.0    43
24.0    46
25.0    56
Name: count, dtype: int64

In [73]:
df['rank_change'].isna().sum()

np.int64(175)

In [74]:
df['rank_change'].unique()

array([  0.,  -1.,   7.,  -9.,  -4.,  -3.,  -6.,   9.,   3.,   6.,  -2.,
         1.,   5., -11.,   2.,  -5.,  10.,   4.,   8.,  -8.,  11.,  -7.,
       -12.,  24.,  19.,  15.,  21.,  23.,  nan,  13., -10.,  16.,  12.,
        17.])

In [75]:
df['rank_change'].value_counts().sort_index()

rank_change
-12.0       1
-11.0       4
-10.0       4
-9.0       10
-8.0        9
-7.0       18
-6.0       30
-5.0       41
-4.0       57
-3.0      115
-2.0      167
-1.0      211
 0.0     4426
 1.0       57
 2.0       34
 3.0       44
 4.0       45
 5.0       42
 6.0       36
 7.0       31
 8.0       21
 9.0       22
 10.0      14
 11.0      13
 12.0       8
 13.0       4
 15.0       1
 16.0       1
 17.0       1
 19.0       1
 21.0       1
 23.0       1
 24.0       1
Name: count, dtype: int64

In [76]:
unique_rank_change = df['rank_change'].unique()
unique_rank_change = sorted(unique_rank_change)
unique_rank_change

[np.float64(-12.0),
 np.float64(-11.0),
 np.float64(-10.0),
 np.float64(-9.0),
 np.float64(-8.0),
 np.float64(-7.0),
 np.float64(-6.0),
 np.float64(-5.0),
 np.float64(-4.0),
 np.float64(-3.0),
 np.float64(-2.0),
 np.float64(-1.0),
 np.float64(0.0),
 np.float64(1.0),
 np.float64(2.0),
 np.float64(3.0),
 np.float64(4.0),
 np.float64(5.0),
 np.float64(6.0),
 np.float64(7.0),
 np.float64(8.0),
 np.float64(9.0),
 np.float64(10.0),
 np.float64(11.0),
 np.float64(12.0),
 np.float64(13.0),
 np.float64(15.0),
 np.float64(16.0),
 np.float64(17.0),
 np.float64(19.0),
 np.float64(21.0),
 np.float64(23.0),
 np.float64(24.0),
 np.float64(nan)]

In [79]:
df['pass'].isna().sum()

np.int64(12)

In [80]:
df['pass'].unique()

array([226., 305., 302., 129., 145., 191., 175., 153., 126., 214., 283.,
       112.,  65., 151., 268., 448., 274., 233., 170., 187., 174., 197.,
       354., 258., 315., 306., 255.,  83.,  98., 194., 296., 385., 190.,
        88., 172., 252., 105., 244., 322., 372., 173., 166., 196., 160.,
       351., 371., 392., 389., 168., 276., 147., 180., 417.,  78.,  18.,
       398., 269.,  28., 216., 264., 270., 230., 405., 182., 324., 135.,
       363., 416., 536., 253.,  81.,  99., 150., 377., 138., 289., 116.,
        59., 461.,  37., 316., 101., 192., 262., 350., 188., 229., 265.,
        nan, 227., 131., 140., 359., 327., 286.,  73., 111., 109., 281.,
       217., 240.,  92., 133., 328., 159., 349., 284.,  67.,  75.,  94.,
       203., 219., 330., 246., 406.,  95., 254., 299., 247., 251., 201.,
       130., 202., 257., 278., 120., 205., 527., 288.,  82.,  52., 329.,
       224., 193., 285., 223.,  77., 136., 137., 357., 143., 397.,  42.,
       388.,  85., 362.,  76., 261., 304., 198., 176., 334., 275., 280.,
       200.,  84., 236., 195., 486., 279., 237.,  79., 301., 228., 125.,
       128., 332., 132., 169., 310., 360., 177., 152., 408., 320., 185.,
        93., 156., 300.,  41.,  40., 115., 263., 165., 171., 210., 277.,
       245., 220.,  86., 282., 293., 290., 208., 102., 212., 186., 307.,
       287., 235., 225., 238., 141., 121.,  50., 335., 178., 167., 241.,
       272., 313., 189., 344., 387., 386., 144., 234., 399.,  12., 402.,
       248., 407., 345., 484., 218., 106., 369., 161., 134.,  38., 256.,
       154., 333., 243.,  54., 378., 207.,  48., 239., 331., 242., 119.,
        51.,  57.,  66., 206., 157., 343., 309., 184., 103., 183.,  62.,
       123., 266., 454., 400., 213., 222., 155., 319., 211., 250., 142.,
       515., 294., 146., 267., 323., 292.,  56., 404., 149., 179., 342.,
        90., 444., 117., 108., 162., 158.,  68.,  80., 356.,  55., 209.,
       232., 415.,  34., 298., 100., 361., 231., 346., 390., 380.,  97.,
        33.,  46., 358., 297.,  87., 215., 482.,  60., 273., 395., 163.,
       124., 325., 204., 107.,  74.,  64., 221., 414., 139.,  96., 295.,
       355., 127., 148., 409., 114.,  71., 110., 104., 311., 507., 260.,
       423., 348., 412.,  70.,  89., 317.,  49., 312., 314.,  14.,  15.,
       291., 383.,  58., 164., 199., 379.,  23., 559., 326., 122., 419.,
       303., 259., 340.,  16., 432.,  91.,  63., 113., 181., 487., 470.,
       338., 391., 435.,  31.,  53., 381., 438., 271., 485.,  35.,  22.,
       384., 308., 413., 321., 366., 339., 364., 411., 347.,  13., 446.,
       353.,  72., 375.,  19., 249., 336., 394., 376.,  25., 318., 449.,
       436., 382.,  30., 403., 367., 368.,  61.,  26., 396., 370., 453.,
       401., 118., 421., 509., 573., 534., 577., 418., 352., 544., 341.,
       410.,  45., 452., 469., 430., 374., 462.,  17., 445.,  44.,  32.,
        39.,   8.,  27.,  43., 337., 365., 393.,  69., 433., 428., 554.,
       424., 466., 473., 456., 455., 373.,  36., 475.,  29., 488.,  11.,
       465., 426., 439., 463., 523., 496., 427., 442., 472., 437., 425.,
        21., 578., 468., 420., 516., 459., 458., 476., 492., 532., 519.,
        47., 434.])

In [81]:
unique_pass = df['pass'].unique()
unique_pass = sorted(unique_pass)
unique_pass

[np.float64(8.0),
 np.float64(18.0),
 np.float64(28.0),
 np.float64(37.0),
 np.float64(59.0),
 np.float64(65.0),
 np.float64(67.0),
 np.float64(73.0),
 np.float64(75.0),
 np.float64(78.0),
 np.float64(81.0),
 np.float64(83.0),
 np.float64(88.0),
 np.float64(92.0),
 np.float64(94.0),
 np.float64(95.0),
 np.float64(98.0),
 np.float64(99.0),
 np.float64(101.0),
 np.float64(105.0),
 np.float64(109.0),
 np.float64(111.0),
 np.float64(112.0),
 np.float64(116.0),
 np.float64(126.0),
 np.float64(129.0),
 np.float64(131.0),
 np.float64(133.0),
 np.float64(135.0),
 np.float64(138.0),
 np.float64(140.0),
 np.float64(145.0),
 np.float64(147.0),
 np.float64(150.0),
 np.float64(151.0),
 np.float64(153.0),
 np.float64(159.0),
 np.float64(160.0),
 np.float64(166.0),
 np.float64(168.0),
 np.float64(170.0),
 np.float64(172.0),
 np.float64(173.0),
 np.float64(174.0),
 np.float64(175.0),
 np.float64(180.0),
 np.float64(182.0),
 np.float64(187.0),
 np.float64(188.0),
 np.float64(190.0),
 np.float64(191.0),
 np.float64(192.0),
 np.float64(194.0),
 np.float64(196.0),
 np.float64(197.0),
 np.float64(203.0),
 np.float64(214.0),
 np.float64(216.0),
 np.float64(217.0),
 np.float64(219.0),
 np.float64(226.0),
 np.float64(227.0),
 np.float64(229.0),
 np.float64(230.0),
 np.float64(233.0),
 np.float64(240.0),
 np.float64(244.0),
 np.float64(246.0),
 np.float64(247.0),
 np.float64(251.0),
 np.float64(252.0),
 np.float64(253.0),
 np.float64(254.0),
 np.float64(255.0),
 np.float64(258.0),
 np.float64(262.0),
 np.float64(264.0),
 np.float64(265.0),
 np.float64(268.0),
 np.float64(269.0),
 np.float64(270.0),
 np.float64(274.0),
 np.float64(276.0),
 np.float64(281.0),
 np.float64(283.0),
 np.float64(284.0),
 np.float64(286.0),
 np.float64(289.0),
 np.float64(296.0),
 np.float64(299.0),
 np.float64(302.0),
 np.float64(305.0),
 np.float64(306.0),
 np.float64(315.0),
 np.float64(316.0),
 np.float64(322.0),
 np.float64(324.0),
 np.float64(327.0),
 np.float64(328.0),
 np.float64(330.0),
 np.float64(349.0),
 np.float64(350.0),
 np.float64(351.0),
 np.float64(354.0),
 np.float64(359.0),
 np.float64(363.0),
 np.float64(371.0),
 np.float64(372.0),
 np.float64(377.0),
 np.float64(385.0),
 np.float64(389.0),
 np.float64(392.0),
 np.float64(398.0),
 np.float64(405.0),
 np.float64(406.0),
 np.float64(416.0),
 np.float64(417.0),
 np.float64(448.0),
 np.float64(461.0),
 np.float64(536.0),
 np.float64(nan),
 np.float64(11.0),
 np.float64(12.0),
 np.float64(13.0),
 np.float64(14.0),
 np.float64(15.0),
 np.float64(16.0),
 np.float64(17.0),
 np.float64(19.0),
 np.float64(21.0),
 np.float64(22.0),
 np.float64(23.0),
 np.float64(25.0),
 np.float64(26.0),
 np.float64(27.0),
 np.float64(29.0),
 np.float64(30.0),
 np.float64(31.0),
 np.float64(32.0),
 np.float64(33.0),
 np.float64(34.0),
 np.float64(35.0),
 np.float64(36.0),
 np.float64(38.0),
 np.float64(39.0),
 np.float64(40.0),
 np.float64(41.0),
 np.float64(42.0),
 np.float64(43.0),
 np.float64(44.0),
 np.float64(45.0),
 np.float64(46.0),
 np.float64(47.0),
 np.float64(48.0),
 np.float64(49.0),
 np.float64(50.0),
 np.float64(51.0),
 np.float64(52.0),
 np.float64(53.0),
 np.float64(54.0),
 np.float64(55.0),
 np.float64(56.0),
 np.float64(57.0),
 np.float64(58.0),
 np.float64(60.0),
 np.float64(61.0),
 np.float64(62.0),
 np.float64(63.0),
 np.float64(64.0),
 np.float64(66.0),
 np.float64(68.0),
 np.float64(69.0),
 np.float64(70.0),
 np.float64(71.0),
 np.float64(72.0),
 np.float64(74.0),
 np.float64(76.0),
 np.float64(77.0),
 np.float64(79.0),
 np.float64(80.0),
 np.float64(82.0),
 np.float64(84.0),
 np.float64(85.0),
 np.float64(86.0),
 np.float64(87.0),
 np.float64(89.0),
 np.float64(90.0),
 np.float64(91.0),
 np.float64(93.0),
 np.float64(96.0),
 np.float64(97.0),
 np.float64(100.0),
 np.float64(102.0),
 np.float64(103.0),
 np.float64(104.0),
 np.float64(106.0),
 np.float64(107.0),
 np.float64(108.0),
 np.float64(110.0),
 np.float64(113.0),
 np.float64(114.0),
 np.float64(115.0),
 np.float64(117.0),
 np.float64(118.0),
 np.float64(119.0),
 np.float64(120.0),
 np.float64(121.0),
 np.float64(122.0),
 np.float64(123.0),
 np.float64(124.0),
 np.float64(125.0),
 np.float64(127.0),
 np.float64(128.0),
 np.float64(130.0),
 np.float64(132.0),
 np.float64(134.0),
 np.float64(136.0),
 np.float64(137.0),
 np.float64(139.0),
 np.float64(141.0),
 np.float64(142.0),
 np.float64(143.0),
 np.float64(144.0),
 np.float64(146.0),
 np.float64(148.0),
 np.float64(149.0),
 np.float64(152.0),
 np.float64(154.0),
 np.float64(155.0),
 np.float64(156.0),
 np.float64(157.0),
 np.float64(158.0),
 np.float64(161.0),
 np.float64(162.0),
 np.float64(163.0),
 np.float64(164.0),
 np.float64(165.0),
 np.float64(167.0),
 np.float64(169.0),
 np.float64(171.0),
 np.float64(176.0),
 np.float64(177.0),
 np.float64(178.0),
 np.float64(179.0),
 np.float64(181.0),
 np.float64(183.0),
 np.float64(184.0),
 np.float64(185.0),
 np.float64(186.0),
 np.float64(189.0),
 np.float64(193.0),
 np.float64(195.0),
 np.float64(198.0),
 np.float64(199.0),
 np.float64(200.0),
 np.float64(201.0),
 np.float64(202.0),
 np.float64(204.0),
 np.float64(205.0),
 np.float64(206.0),
 np.float64(207.0),
 np.float64(208.0),
 np.float64(209.0),
 np.float64(210.0),
 np.float64(211.0),
 np.float64(212.0),
 np.float64(213.0),
 np.float64(215.0),
 np.float64(218.0),
 np.float64(220.0),
 np.float64(221.0),
 np.float64(222.0),
 np.float64(223.0),
 np.float64(224.0),
 np.float64(225.0),
 np.float64(228.0),
 np.float64(231.0),
 np.float64(232.0),
 np.float64(234.0),
 np.float64(235.0),
 np.float64(236.0),
 np.float64(237.0),
 np.float64(238.0),
 np.float64(239.0),
 np.float64(241.0),
 np.float64(242.0),
 np.float64(243.0),
 np.float64(245.0),
 np.float64(248.0),
 np.float64(249.0),
 np.float64(250.0),
 np.float64(256.0),
 np.float64(257.0),
 np.float64(259.0),
 np.float64(260.0),
 np.float64(261.0),
 np.float64(263.0),
 np.float64(266.0),
 np.float64(267.0),
 np.float64(271.0),
 np.float64(272.0),
 np.float64(273.0),
 np.float64(275.0),
 np.float64(277.0),
 np.float64(278.0),
 np.float64(279.0),
 np.float64(280.0),
 np.float64(282.0),
 np.float64(285.0),
 np.float64(287.0),
 np.float64(288.0),
 np.float64(290.0),
 np.float64(291.0),
 np.float64(292.0),
 np.float64(293.0),
 np.float64(294.0),
 np.float64(295.0),
 np.float64(297.0),
 np.float64(298.0),
 np.float64(300.0),
 np.float64(301.0),
 np.float64(303.0),
 np.float64(304.0),
 np.float64(307.0),
 np.float64(308.0),
 np.float64(309.0),
 np.float64(310.0),
 np.float64(311.0),
 np.float64(312.0),
 np.float64(313.0),
 np.float64(314.0),
 np.float64(317.0),
 np.float64(318.0),
 np.float64(319.0),
 np.float64(320.0),
 np.float64(321.0),
 np.float64(323.0),
 np.float64(325.0),
 np.float64(326.0),
 np.float64(329.0),
 np.float64(331.0),
 np.float64(332.0),
 np.float64(333.0),
 np.float64(334.0),
 np.float64(335.0),
 np.float64(336.0),
 np.float64(337.0),
 np.float64(338.0),
 np.float64(339.0),
 np.float64(340.0),
 np.float64(341.0),
 np.float64(342.0),
 np.float64(343.0),
 np.float64(344.0),
 np.float64(345.0),
 np.float64(346.0),
 np.float64(347.0),
 np.float64(348.0),
 np.float64(352.0),
 np.float64(353.0),
 np.float64(355.0),
 np.float64(356.0),
 np.float64(357.0),
 np.float64(358.0),
 np.float64(360.0),
 np.float64(361.0),
 np.float64(362.0),
 np.float64(364.0),
 np.float64(365.0),
 np.float64(366.0),
 np.float64(367.0),
 np.float64(368.0),
 np.float64(369.0),
 np.float64(370.0),
 np.float64(373.0),
 np.float64(374.0),
 np.float64(375.0),
 np.float64(376.0),
 np.float64(378.0),
 np.float64(379.0),
 np.float64(380.0),
 np.float64(381.0),
 np.float64(382.0),
 np.float64(383.0),
 np.float64(384.0),
 np.float64(386.0),
 np.float64(387.0),
 np.float64(388.0),
 np.float64(390.0),
 np.float64(391.0),
 np.float64(393.0),
 np.float64(394.0),
 np.float64(395.0),
 np.float64(396.0),
 np.float64(397.0),
 np.float64(399.0),
 np.float64(400.0),
 np.float64(401.0),
 np.float64(402.0),
 np.float64(403.0),
 np.float64(404.0),
 np.float64(407.0),
 np.float64(408.0),
 np.float64(409.0),
 np.float64(410.0),
 np.float64(411.0),
 np.float64(412.0),
 np.float64(413.0),
 np.float64(414.0),
 np.float64(415.0),
 np.float64(418.0),
 np.float64(419.0),
 np.float64(420.0),
 np.float64(421.0),
 np.float64(423.0),
 np.float64(424.0),
 np.float64(425.0),
 np.float64(426.0),
 np.float64(427.0),
 np.float64(428.0),
 np.float64(430.0),
 np.float64(432.0),
 np.float64(433.0),
 np.float64(434.0),
 np.float64(435.0),
 np.float64(436.0),
 np.float64(437.0),
 np.float64(438.0),
 np.float64(439.0),
 np.float64(442.0),
 np.float64(444.0),
 np.float64(445.0),
 np.float64(446.0),
 np.float64(449.0),
 np.float64(452.0),
 np.float64(453.0),
 np.float64(454.0),
 np.float64(455.0),
 np.float64(456.0),
 np.float64(458.0),
 np.float64(459.0),
 np.float64(462.0),
 np.float64(463.0),
 np.float64(465.0),
 np.float64(466.0),
 np.float64(468.0),
 np.float64(469.0),
 np.float64(470.0),
 np.float64(472.0),
 np.float64(473.0),
 np.float64(475.0),
 np.float64(476.0),
 np.float64(482.0),
 np.float64(484.0),
 np.float64(485.0),
 np.float64(486.0),
 np.float64(487.0),
 np.float64(488.0),
 np.float64(492.0),
 np.float64(496.0),
 np.float64(507.0),
 np.float64(509.0),
 np.float64(515.0),
 np.float64(516.0),
 np.float64(519.0),
 np.float64(523.0),
 np.float64(527.0),
 np.float64(532.0),
 np.float64(534.0),
 np.float64(544.0),
 np.float64(554.0),
 np.float64(559.0),
 np.float64(573.0),
 np.float64(577.0),
 np.float64(578.0)]

In [82]:
df['pass'].value_counts().sort_index()

pass
8.0       1
11.0      2
12.0      1
13.0      1
14.0      4
15.0      1
16.0      2
17.0      2
18.0      5
19.0      1
21.0      2
22.0      2
23.0      3
25.0      2
26.0      2
27.0      2
28.0      1
29.0      1
30.0      2
31.0      2
32.0      3
33.0      4
34.0      3
35.0      2
36.0      1
37.0      6
38.0      6
39.0      4
40.0      2
41.0      5
42.0      8
43.0      1
44.0      5
45.0      1
46.0      3
47.0      1
48.0      6
49.0      6
50.0      2
51.0      9
52.0      8
53.0      5
54.0      5
55.0      8
56.0      8
57.0      6
58.0      6
59.0      5
60.0      9
61.0      6
62.0     14
63.0      6
64.0      5
65.0     10
66.0     11
67.0      5
68.0     10
69.0      8
70.0      7
71.0      8
72.0      4
73.0      8
74.0     11
75.0      5
76.0     10
77.0      7
78.0     12
79.0      9
80.0     11
81.0     12
82.0     16
83.0     10
84.0     14
85.0     14
86.0     15
87.0     12
88.0      8
89.0      7
90.0      6
91.0     11
92.0     15
93.0     19
94.0      8
95.0      8
96.0     15
97.0      9
98.0     13
99.0     13
100.0    13
101.0    10
102.0    19
103.0    17
104.0    17
105.0    10
106.0    14
107.0    15
108.0    13
109.0    14
110.0    19
111.0    13
112.0    23
113.0    13
114.0     8
115.0    19
116.0    19
117.0    13
118.0     6
119.0    13
120.0    20
121.0    16
122.0    16
123.0    20
124.0    14
125.0    20
126.0    20
127.0    15
128.0    18
129.0    19
130.0    17
131.0    20
132.0    19
133.0    13
134.0    13
135.0    11
136.0    14
137.0    29
138.0    21
139.0     9
140.0    25
141.0    20
142.0    16
143.0    18
144.0    14
145.0    21
146.0    16
147.0    22
148.0    18
149.0    14
150.0    20
151.0    27
152.0    27
153.0    13
154.0    19
155.0    21
156.0    25
157.0    19
158.0    25
159.0    20
160.0    18
161.0    25
162.0    19
163.0    13
164.0    19
165.0    24
166.0    26
167.0    26
168.0    15
169.0    23
170.0    25
171.0    17
172.0    18
173.0    26
174.0    22
175.0    32
176.0    34
177.0    18
178.0    31
179.0    29
180.0    15
181.0    17
182.0    26
183.0    22
184.0    20
185.0    21
186.0    29
187.0    18
188.0    23
189.0    27
190.0    26
191.0    27
192.0    32
193.0    21
194.0    28
195.0    23
196.0    30
197.0    16
198.0    24
199.0    17
200.0    25
201.0    22
202.0    29
203.0    29
204.0    21
205.0    20
206.0    27
207.0    26
208.0    25
209.0    26
210.0    17
211.0    17
212.0    18
213.0    21
214.0    27
215.0    17
216.0    13
217.0    21
218.0    23
219.0    32
220.0    25
221.0    20
222.0    23
223.0    23
224.0    19
225.0    26
226.0    15
227.0    18
228.0    23
229.0    15
230.0    28
231.0    19
232.0    13
233.0    22
234.0    27
235.0    22
236.0    22
237.0    20
238.0    20
239.0    26
240.0    24
241.0    22
242.0    19
243.0    20
244.0    25
245.0    24
246.0    17
247.0    25
248.0    22
249.0    14
250.0    20
251.0    20
252.0    16
253.0    21
254.0    24
255.0    30
256.0    29
257.0    29
258.0    14
259.0    25
260.0    14
261.0    17
262.0    25
263.0    25
264.0    21
265.0    23
266.0    16
267.0    12
268.0    25
269.0    23
270.0    20
271.0    17
272.0    14
273.0    12
274.0    17
275.0    25
276.0    18
277.0    18
278.0    17
279.0    20
280.0    32
281.0    16
282.0    12
283.0    16
284.0    19
285.0    23
286.0    21
287.0    22
288.0    18
289.0    24
290.0    16
291.0    11
292.0    14
293.0    18
294.0    21
295.0    14
296.0    11
297.0    20
298.0    21
299.0    15
300.0    14
301.0    13
302.0    16
303.0    15
304.0    16
305.0    17
306.0    19
307.0    15
308.0    11
309.0    12
310.0    10
311.0    11
312.0    12
313.0    20
314.0    11
315.0    10
316.0    13
317.0     7
318.0    11
319.0    17
320.0    15
321.0    14
322.0    15
323.0    14
324.0    12
325.0    18
326.0    11
327.0    10
328.0     5
329.0    11
330.0    10
331.0     8
332.0     8
333.0     7
334.0     5
335.0     8
336.0    10
337.0    11
338.0    12
339.0     6
340.0    10
341.0     9
342.0    12
343.0     7
344.0    10
345.0     8
346.0     7
347.0     6
348.0    10
349.0    14
350.0     8
351.0     9
352.0     4
353.0     4
354.0    10
355.0     6
356.0     6
357.0     6
358.0     3
359.0    11
360.0    10
361.0    10
362.0     1
363.0     6
364.0     9
365.0     3
366.0     8
367.0     7
368.0     3
369.0     5
370.0     3
371.0    11
372.0     7
373.0     5
374.0     4
375.0     4
376.0     1
377.0     9
378.0     6
379.0     6
380.0     7
381.0     9
382.0     5
383.0     8
384.0     5
385.0     5
386.0     1
387.0     3
388.0     8
389.0     5
390.0     2
391.0     8
392.0     3
393.0     2
394.0     5
395.0     9
396.0     7
397.0     4
398.0     5
399.0     4
400.0     5
401.0     5
402.0     7
403.0     6
404.0     4
405.0     5
406.0     5
407.0     4
408.0     4
409.0     5
410.0     2
411.0     4
412.0     4
413.0     1
414.0     5
415.0     3
416.0     2
417.0     3
418.0     2
419.0     3
420.0     1
421.0     2
423.0     3
424.0     3
425.0     1
426.0     2
427.0     3
428.0     2
430.0     2
432.0     2
433.0     1
434.0     1
435.0     5
436.0     1
437.0     1
438.0     2
439.0     3
442.0     1
444.0     1
445.0     2
446.0     1
448.0     4
449.0     3
452.0     1
453.0     2
454.0     1
455.0     2
456.0     1
458.0     2
459.0     1
461.0     3
462.0     1
463.0     1
465.0     1
466.0     2
468.0     1
469.0     1
470.0     2
472.0     1
473.0     1
475.0     1
476.0     1
482.0     1
484.0     3
485.0     1
486.0     1
487.0     3
488.0     1
492.0     1
496.0     1
507.0     1
509.0     1
515.0     1
516.0     1
519.0     1
523.0     1
527.0     4
532.0     1
534.0     1
536.0     1
544.0     1
554.0     1
559.0     1
573.0     1
577.0     1
578.0     1
Name: count, dtype: int64

In [83]:
df['rush'].isna().sum()

np.int64(1)

In [84]:
df['rush'].unique()

array([ 68.,  58.,  18., 202., 107.,  39.,  69., 109., 125., 117., 116.,
        53.,  91., 215.,  38.,  43., 128., 151.,  88.,  89., 146.,  62.,
       101.,  54.,  33., 186.,  41.,  99.,  75.,  30., 130.,  67.,  37.,
       141., 136., 162.,  83., 102.,  81., 134., 104.,  90.,  17., 168.,
        95.,  60.,  40.,  42.,  73.,  92., 213., 119., 155.,  78., 158.,
       115., 123.,  98.,  50.,  32.,  55.,  77., 111.,  97.,  46.,  82.,
        70., 112., 121.,  21.,  71., 210.,  65.,  74., 177.,  57.,  72.,
       169.,  48.,  25., 147., 129., 166., 135., 144.,  64., 108., 198.,
        49.,  52., 100., 293.,  63.,  61., 133.,  66., 103.,  44., 200.,
       224.,  93.,  80., 126.,  27.,  45.,  87.,  29.,  56., 114., 145.,
       106.,  51.,  28., 120., 105.,  86., 124., 247.,  23.,  19.,  26.,
       209., 122.,  85., 157.,  31., 176., 137.,  47., 180.,  35.,  76.,
       179., 170., 183.,  79., 132., 159., 163.,   4., 234., 118.,  96.,
        24.,  34., 154., 131., 164.,  59., 256.,  20., 153., 196., 171.,
        36.,  16., 113., 152., 172.,  84., 110.,  94., 142., 184., 138.,
       206., 148., 219., 191., 187.,  14., 143., 156., 203., 266., 173.,
        13., 161., 190., 178., 211., 220., 150., 181., 167., 140., 127.,
       165., 205.,  12., 182., 204., 185.,  15., 207., 149., 208., 194.,
         5., 139., 228., 232.,  10.,  22., 263., 214., 243., 242.,  11.,
       160., 244., 193., 264., 216., 199., 221., 272., 212., 276., 217.,
       233., 226., 192., 329., 175., 201., 188., 174., 195., 262., 197.,
         9., 189., 277., 218.,  nan, 258., 223., 236., 274., 227., 222.,
       240., 230., 280., 259.,   8., 257., 320.,   7., 245., 238., 287.,
       231., 282.,   3., 271., 254., 265., 278.])

In [85]:
df['rush'].value_counts().sort_index()

rush
3.0       1
4.0       1
5.0       2
7.0       1
8.0       2
9.0       4
10.0      1
11.0      7
12.0      9
13.0      4
14.0      8
15.0     12
16.0     11
17.0     11
18.0     16
19.0     12
20.0     19
21.0     13
22.0     15
23.0     27
24.0     21
25.0     22
26.0     20
27.0     29
28.0     37
29.0     38
30.0     32
31.0     39
32.0     40
33.0     37
34.0     31
35.0     43
36.0     38
37.0     44
38.0     42
39.0     49
40.0     35
41.0     45
42.0     58
43.0     47
44.0     31
45.0     54
46.0     46
47.0     50
48.0     48
49.0     58
50.0     52
51.0     41
52.0     53
53.0     61
54.0     56
55.0     51
56.0     50
57.0     54
58.0     46
59.0     48
60.0     68
61.0     53
62.0     55
63.0     63
64.0     52
65.0     54
66.0     54
67.0     61
68.0     58
69.0     55
70.0     45
71.0     59
72.0     49
73.0     56
74.0     51
75.0     61
76.0     53
77.0     49
78.0     55
79.0     49
80.0     63
81.0     52
82.0     52
83.0     58
84.0     52
85.0     42
86.0     50
87.0     53
88.0     39
89.0     48
90.0     34
91.0     39
92.0     35
93.0     35
94.0     43
95.0     47
96.0     41
97.0     48
98.0     30
99.0     36
100.0    36
101.0    40
102.0    42
103.0    31
104.0    55
105.0    35
106.0    40
107.0    37
108.0    36
109.0    32
110.0    33
111.0    48
112.0    30
113.0    40
114.0    27
115.0    36
116.0    20
117.0    39
118.0    33
119.0    29
120.0    35
121.0    29
122.0    22
123.0    32
124.0    29
125.0    29
126.0    22
127.0    29
128.0    25
129.0    28
130.0    20
131.0    17
132.0    21
133.0    19
134.0    16
135.0    19
136.0    27
137.0    20
138.0    27
139.0    15
140.0    16
141.0    12
142.0    15
143.0    19
144.0    17
145.0    20
146.0    29
147.0    14
148.0    17
149.0    14
150.0    13
151.0    14
152.0    15
153.0    17
154.0    10
155.0    11
156.0    14
157.0     8
158.0    15
159.0    14
160.0    12
161.0     6
162.0    11
163.0    15
164.0    10
165.0    12
166.0    14
167.0     5
168.0    12
169.0    16
170.0     7
171.0     9
172.0     8
173.0     6
174.0     6
175.0     4
176.0     7
177.0     8
178.0    11
179.0    12
180.0     6
181.0     3
182.0     7
183.0     7
184.0     5
185.0     5
186.0     9
187.0     5
188.0     3
189.0     3
190.0     3
191.0     5
192.0     6
193.0     6
194.0     1
195.0     4
196.0     5
197.0     5
198.0     8
199.0     5
200.0     5
201.0     2
202.0     3
203.0     3
204.0     7
205.0     4
206.0     5
207.0     5
208.0     4
209.0     6
210.0     3
211.0     5
212.0     2
213.0     2
214.0     3
215.0     2
216.0     4
217.0     3
218.0     3
219.0     2
220.0     1
221.0     2
222.0     1
223.0     2
224.0     2
226.0     1
227.0     1
228.0     1
230.0     1
231.0     1
232.0     2
233.0     2
234.0     2
236.0     2
238.0     1
240.0     1
242.0     2
243.0     2
244.0     1
245.0     1
247.0     1
254.0     1
256.0     1
257.0     1
258.0     1
259.0     2
262.0     1
263.0     1
264.0     1
265.0     1
266.0     3
271.0     1
272.0     1
274.0     1
276.0     2
277.0     1
278.0     1
280.0     2
282.0     1
287.0     1
293.0     1
320.0     1
329.0     1
Name: count, dtype: int64

In [86]:
df['rec'].isna().sum()

np.int64(10)

In [87]:
df['rec'].unique()

array([106., 122., 160.,  46.,  68.,  63., 118.,  50.,  45., 121.,  69.,
        55., 104.,  61., 150., 113., 101.,  52.,  98.,  78., 102., 127.,
        92.,  59., 199.,  49., 107.,  76.,  66.,  72., 115., 164.,  67.,
        34.,  96.,  82.,  94., 100., 166.,  56.,  71.,  54., 140.,  85.,
        88., 210., 136., 108.,  73.,  51., 117.,  84.,  18., 129.,  75.,
        13.,  83.,  89., 139., 240., 126.,  43., 242., 171., 217., 143.,
        41.,  81.,  65., 111., 105.,  53.,  42., 142.,  32.,  36.,  77.,
        35.,  62.,  86.,  74., 137., 215., 114.,  44.,  30., 110.,  97.,
       119.,  29.,  80., 103., 157.,  60., 168.,  90.,  39.,  93.,  48.,
       180., 123.,  27., 145.,  25., 159.,  64., 133., 120.,  79., 156.,
       128.,  70., 176.,  58.,  47.,  20.,  23., 130.,  57., 124.,  37.,
        28., 219.,  95.,  22., 131.,  87., 112.,  91.,  33., 134., 213.,
        99.,   5., 132., 149., 141., 116., 179., 165., 109., 135.,  24.,
       148., 146., 205., 254., 153.,  31., 186., 158.,  40., 144.,  38.,
        21.,  19., 200., 152., 175., 198., 181., 246., 163., 162., 147.,
       189., 169., 178., 155.,  11.,   8., 138., 167., 161., 170.,  16.,
       190.,  14.,  26., 202., 174., 206., 125.,  nan, 154., 151., 177.,
        12., 193., 188., 187., 173., 172.,  15., 191.,  17., 266., 218.,
       197., 184., 347., 182., 194.,   9., 183., 239., 273., 203., 220.,
       225.,  10., 185., 256., 272., 196., 232., 201., 221., 261., 195.,
       247., 294., 207., 211., 244., 234., 223., 224., 237., 283., 309.,
       295.])

In [88]:
df['rec'].value_counts().sort_index()

rec
5.0       1
8.0       3
9.0       2
10.0      3
11.0      3
12.0      2
13.0      2
14.0     10
15.0      6
16.0      3
17.0      3
18.0      9
19.0      7
20.0      9
21.0     12
22.0     19
23.0     15
24.0      8
25.0     15
26.0     14
27.0     18
28.0     14
29.0     12
30.0     14
31.0     26
32.0     25
33.0     32
34.0     33
35.0     38
36.0     40
37.0     28
38.0     31
39.0     36
40.0     33
41.0     35
42.0     41
43.0     53
44.0     53
45.0     48
46.0     42
47.0     44
48.0     52
49.0     49
50.0     59
51.0     47
52.0     53
53.0     58
54.0     63
55.0     49
56.0     48
57.0     54
58.0     49
59.0     65
60.0     67
61.0     55
62.0     55
63.0     61
64.0     60
65.0     58
66.0     51
67.0     68
68.0     69
69.0     57
70.0     65
71.0     47
72.0     66
73.0     69
74.0     57
75.0     75
76.0     70
77.0     63
78.0     68
79.0     60
80.0     64
81.0     73
82.0     56
83.0     60
84.0     74
85.0     63
86.0     53
87.0     56
88.0     50
89.0     70
90.0     52
91.0     49
92.0     44
93.0     61
94.0     52
95.0     37
96.0     53
97.0     34
98.0     60
99.0     50
100.0    47
101.0    47
102.0    57
103.0    45
104.0    36
105.0    43
106.0    46
107.0    36
108.0    33
109.0    31
110.0    34
111.0    32
112.0    36
113.0    36
114.0    31
115.0    42
116.0    46
117.0    38
118.0    36
119.0    26
120.0    40
121.0    29
122.0    25
123.0    23
124.0    18
125.0    28
126.0    27
127.0    29
128.0    29
129.0    21
130.0    25
131.0    19
132.0    19
133.0    18
134.0    22
135.0    28
136.0    21
137.0    24
138.0    18
139.0    14
140.0    25
141.0    16
142.0    17
143.0    18
144.0     8
145.0    13
146.0    14
147.0     9
148.0     9
149.0    15
150.0    16
151.0     4
152.0    16
153.0    12
154.0     7
155.0    16
156.0     7
157.0    14
158.0     6
159.0     9
160.0    15
161.0    10
162.0    10
163.0    10
164.0    10
165.0     9
166.0    10
167.0     6
168.0     7
169.0     7
170.0    11
171.0     9
172.0     7
173.0     4
174.0     9
175.0     6
176.0     8
177.0     4
178.0     2
179.0     7
180.0    11
181.0     4
182.0     1
183.0     5
184.0     2
185.0     4
186.0     5
187.0     4
188.0     4
189.0     3
190.0     1
191.0     1
193.0     5
194.0     2
195.0     1
196.0     1
197.0     4
198.0     2
199.0     4
200.0     5
201.0     1
202.0     3
203.0     2
205.0     3
206.0     2
207.0     2
210.0     2
211.0     1
213.0     6
215.0     2
217.0     3
218.0     1
219.0     1
220.0     1
221.0     2
223.0     1
224.0     1
225.0     2
232.0     1
234.0     1
237.0     1
239.0     3
240.0     2
242.0     1
244.0     1
246.0     2
247.0     1
254.0     1
256.0     1
261.0     1
266.0     1
272.0     1
273.0     1
283.0     1
294.0     1
295.0     1
309.0     1
347.0     1
Name: count, dtype: int64

In [89]:
df['points_allowed'].isna().sum()

np.int64(0)

In [90]:
df['points_allowed'].value_counts().sort_index()

points_allowed
0      81
3      98
5       2
6      60
7     163
8       5
9      40
10    193
11     13
12     37
13    173
14    258
15     35
16     95
17    262
18     34
19     72
20    253
21    241
22     51
23    137
24    322
25     48
26     83
27    242
28    216
29     67
30    133
31    283
32     49
33     80
34    212
35    173
36     37
37     97
38    204
39     38
40     55
41    150
42    136
43     30
44     67
45    148
46     14
47     17
48     70
49     81
50     19
51     21
52     65
53      7
54     12
55     34
56     38
57      2
58      8
59     29
60      1
61      2
62     10
63     18
64      1
65      1
66     11
69      2
70      4
71      2
73      1
77      3
Name: count, dtype: int64

In [91]:
unique_points_allowed = df['points_allowed'].unique()
unique_points_allowed = sorted(unique_points_allowed)
unique_points_allowed

[np.int64(0),
 np.int64(3),
 np.int64(5),
 np.int64(6),
 np.int64(7),
 np.int64(8),
 np.int64(9),
 np.int64(10),
 np.int64(11),
 np.int64(12),
 np.int64(13),
 np.int64(14),
 np.int64(15),
 np.int64(16),
 np.int64(17),
 np.int64(18),
 np.int64(19),
 np.int64(20),
 np.int64(21),
 np.int64(22),
 np.int64(23),
 np.int64(24),
 np.int64(25),
 np.int64(26),
 np.int64(27),
 np.int64(28),
 np.int64(29),
 np.int64(30),
 np.int64(31),
 np.int64(32),
 np.int64(33),
 np.int64(34),
 np.int64(35),
 np.int64(36),
 np.int64(37),
 np.int64(38),
 np.int64(39),
 np.int64(40),
 np.int64(41),
 np.int64(42),
 np.int64(43),
 np.int64(44),
 np.int64(45),
 np.int64(46),
 np.int64(47),
 np.int64(48),
 np.int64(49),
 np.int64(50),
 np.int64(51),
 np.int64(52),
 np.int64(53),
 np.int64(54),
 np.int64(55),
 np.int64(56),
 np.int64(57),
 np.int64(58),
 np.int64(59),
 np.int64(60),
 np.int64(61),
 np.int64(62),
 np.int64(63),
 np.int64(64),
 np.int64(65),
 np.int64(66),
 np.int64(69),
 np.int64(70),
 np.int64(71),
 np.int64(73),
 np.int64(77)]

In [92]:
df['points_scored'].isna().sum()

np.int64(0)

In [93]:
df['points_scored'].unique()

array([14, 40, 20, 10, 31, 21,  3, 29, 28, 17, 18, 54, 32, 37, 45, 26, 16,
       24, 30, 43,  8,  7, 35, 42, 38, 33, 50,  6, 55, 23, 58, 12, 34, 47,
       27, 49, 52, 19, 25, 44, 48, 13, 36, 56, 41, 63, 15, 39,  9,  0, 22,
       59, 51, 46, 53, 57, 66, 62, 11, 60, 77, 65, 61, 71, 70,  5, 73, 64,
       69])

In [94]:
df['points_scored'].value_counts().sort_index()

points_scored
0      85
3      96
5       2
6      68
7     170
8       6
9      40
10    187
11     13
12     35
13    181
14    259
15     36
16     98
17    273
18     33
19     68
20    251
21    253
22     50
23    135
24    319
25     46
26     77
27    246
28    219
29     66
30    129
31    287
32     48
33     80
34    213
35    170
36     38
37     94
38    205
39     37
40     55
41    147
42    131
43     29
44     62
45    149
46     14
47     19
48     66
49     77
50     19
51     20
52     67
53      8
54     11
55     34
56     34
57      2
58      7
59     26
60      1
61      1
62     10
63     18
64      1
65      1
66     12
69      1
70      5
71      2
73      1
77      3
Name: count, dtype: int64

In [95]:
df['point_differential'].isna().sum()

np.int64(0)

In [96]:
df['point_differential'].value_counts().sort_index()

point_differential
-73      1
-71      1
-66      1
-63      1
-62      3
-60      1
-59      4
-58      2
-57      2
-56     11
-55      5
-53      4
-52      9
-51      2
-50      2
-49     17
-48      7
-47      3
-46      8
-45     20
-44      8
-43      2
-42     26
-41     11
-40      7
-39     16
-38     33
-37     18
-36     12
-35     43
-34     35
-33     18
-32     37
-31     55
-30     16
-29     26
-28     74
-27     50
-26     32
-25     41
-24     74
-23     35
-22     38
-21    110
-20     52
-19     35
-18     63
-17    111
-16     28
-15     56
-14    127
-13     58
-12     46
-11     58
-10    137
-9      42
-8      96
-7     254
-6      97
-5      65
-4     104
-3     300
-2     102
-1      89
 1      89
 2      98
 3     297
 4     105
 5      66
 6      97
 7     250
 8      95
 9      42
 10    145
 11     57
 12     46
 13     63
 14    124
 15     55
 16     28
 17    113
 18     61
 19     34
 20     51
 21    111
 22     36
 23     32
 24     73
 25     39
 26     30
 27     50
 28     75
 29     27
 30     14
 31     49
 32     33
 33     17
 34     33
 35     45
 36     11
 37     16
 38     30
 39     15
 40      7
 41     12
 42     25
 43      2
 44      9
 45     18
 46      8
 47      3
 48      7
 49     16
 50      2
 51      2
 52      9
 53      4
 55      4
 56     10
 57      2
 58      2
 59      3
 60      1
 62      3
 63      1
 66      1
 71      1
 73      1
Name: count, dtype: int64

In [97]:
unique_point_differential = df['point_differential'].unique()
unique_point_differential = sorted(unique_point_differential)
unique_point_differential

[np.int64(-73),
 np.int64(-71),
 np.int64(-66),
 np.int64(-63),
 np.int64(-62),
 np.int64(-60),
 np.int64(-59),
 np.int64(-58),
 np.int64(-57),
 np.int64(-56),
 np.int64(-55),
 np.int64(-53),
 np.int64(-52),
 np.int64(-51),
 np.int64(-50),
 np.int64(-49),
 np.int64(-48),
 np.int64(-47),
 np.int64(-46),
 np.int64(-45),
 np.int64(-44),
 np.int64(-43),
 np.int64(-42),
 np.int64(-41),
 np.int64(-40),
 np.int64(-39),
 np.int64(-38),
 np.int64(-37),
 np.int64(-36),
 np.int64(-35),
 np.int64(-34),
 np.int64(-33),
 np.int64(-32),
 np.int64(-31),
 np.int64(-30),
 np.int64(-29),
 np.int64(-28),
 np.int64(-27),
 np.int64(-26),
 np.int64(-25),
 np.int64(-24),
 np.int64(-23),
 np.int64(-22),
 np.int64(-21),
 np.int64(-20),
 np.int64(-19),
 np.int64(-18),
 np.int64(-17),
 np.int64(-16),
 np.int64(-15),
 np.int64(-14),
 np.int64(-13),
 np.int64(-12),
 np.int64(-11),
 np.int64(-10),
 np.int64(-9),
 np.int64(-8),
 np.int64(-7),
 np.int64(-6),
 np.int64(-5),
 np.int64(-4),
 np.int64(-3),
 np.int64(-2),
 np.int64(-1),
 np.int64(1),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(6),
 np.int64(7),
 np.int64(8),
 np.int64(9),
 np.int64(10),
 np.int64(11),
 np.int64(12),
 np.int64(13),
 np.int64(14),
 np.int64(15),
 np.int64(16),
 np.int64(17),
 np.int64(18),
 np.int64(19),
 np.int64(20),
 np.int64(21),
 np.int64(22),
 np.int64(23),
 np.int64(24),
 np.int64(25),
 np.int64(26),
 np.int64(27),
 np.int64(28),
 np.int64(29),
 np.int64(30),
 np.int64(31),
 np.int64(32),
 np.int64(33),
 np.int64(34),
 np.int64(35),
 np.int64(36),
 np.int64(37),
 np.int64(38),
 np.int64(39),
 np.int64(40),
 np.int64(41),
 np.int64(42),
 np.int64(43),
 np.int64(44),
 np.int64(45),
 np.int64(46),
 np.int64(47),
 np.int64(48),
 np.int64(49),
 np.int64(50),
 np.int64(51),
 np.int64(52),
 np.int64(53),
 np.int64(55),
 np.int64(56),
 np.int64(57),
 np.int64(58),
 np.int64(59),
 np.int64(60),
 np.int64(62),
 np.int64(63),
 np.int64(66),
 np.int64(71),
 np.int64(73)]