In [124]:
import pandas as pd
import numpy as np
# pd.reset_option('display.max_rows')
pd.set_option('display.max_rows', None)

In [ ]:
df = pd.read_csv('WeekByWeekRankings2020to2025.csv')
df_copy = df.copy()

In [ ]:
df1 = pd.read_csv('CollegeFootballRankings24to20.csv')
df_copy = df.copy()

In [123]:
headers = df.columns
print(headers)

Index(['AP_rank', 'Team', 'Week', 'year'], dtype='object')

In [105]:
df['AP_rank'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25])

In [144]:
df['AP_rank'].value_counts()
AP_rank_values = df['AP_rank'].value_counts()
AP_rank_sorted_values = AP_rank_values.sort_index(ascending = True)
print(AP_rank_sorted_values)

AP_rank
1     79
2     80
3     80
4     77
5     79
6     79
7     79
8     81
9     77
10    79
11    81
12    77
13    79
14    79
15    79
16    80
17    78
18    79
19    79
20    79
21    80
22    78
23    79
24    79
25    79
Name: count, dtype: int64

In [107]:
df['AP_rank'].isna().sum()

np.int64(0)

In [108]:
df['Team'].isna().sum()

np.int64(0)

In [109]:
df['Team'].unique()

array(['Georgia', 'Ohio State', 'Oregon', 'Texas', 'Alabama', 'Ole Miss',
       'Notre Dame', 'Michigan', 'Penn State', 'Florida State',
       'Missouri', 'LSU', 'Utah', 'Clemson', 'Tennessee', 'Oklahoma',
       'Kansas State', 'Oklahoma State', 'Miami', 'Texas A&M', 'Arizona',
       'NC State', 'USC', 'Kansas', 'Iowa', 'Louisville', 'Washington',
       'Iowa State', 'Nebraska', 'Memphis', 'UNLV', 'Illinois', 'BYU',
       'Indiana', 'Boise State', 'Pittsburgh', 'SMU', 'Army', 'Navy',
       'Vanderbilt', 'Washington State', 'Colorado', 'South Carolina',
       'Tulane', 'Arizona State', 'Syracuse', 'TCU', 'Oregon State',
       'North Carolina', 'Wisconsin', 'Texas Tech', 'Duke', 'UCLA',
       'Florida', 'Kentucky', 'Fresno State', 'Air Force',
       'James Madison', 'Liberty', 'Toledo', 'West Virginia', 'Baylor',
       'Michigan State', 'Wake Forest', 'Cincinnati', 'Arkansas',
       'Houston', 'Minnesota', 'Mississippi State', 'UCF',
       'Coastal Carolina', 'UTSA', 'Troy', 'Louisiana', 'Virginia Tech',
       'Auburn', 'San Diego State', 'Utah State', 'Appalachian State',
       'Marshall', 'Northwestern', 'Tulsa', 'Buffalo', 'Ball State',
       'San José State'], dtype=object)

In [143]:
df['Team'].value_counts()
dfteam_values = df['Team'].value_counts()
dfteam_sorted_values = dfteam_values.sort_index(ascending = True)
print(dfteam_sorted_values)

Team
Air Force             3
Alabama              79
Appalachian State     1
Arizona               9
Arizona State         8
Arkansas             16
Army                 13
Auburn               18
BYU                  43
Ball State            1
Baylor               18
Boise State          11
Buffalo               2
Cincinnati           37
Clemson              63
Coastal Carolina     22
Colorado             10
Duke                  8
Florida              26
Florida State        24
Fresno State          5
Georgia              79
Houston               8
Illinois             14
Indiana              20
Iowa                 29
Iowa State           30
James Madison         7
Kansas                9
Kansas State         34
Kentucky             21
LSU                  42
Liberty              12
Louisiana            17
Louisville           19
Marshall              7
Memphis               8
Miami                40
Michigan             62
Michigan State       17
Minnesota             5
Mississippi State     7
Missouri             26
NC State             28
Navy                  1
Nebraska              3
North Carolina       36
Northwestern          6
Notre Dame           71
Ohio State           78
Oklahoma             56
Oklahoma State       52
Ole Miss             61
Oregon               74
Oregon State         21
Penn State           64
Pittsburgh           19
SMU                  24
San Diego State       6
San José State        1
South Carolina        9
Syracuse              8
TCU                  12
Tennessee            50
Texas                56
Texas A&M            49
Texas Tech            1
Toledo                2
Troy                  2
Tulane               22
Tulsa                 3
UCF                  10
UCLA                 21
UNLV                  7
USC                  45
UTSA                  9
Utah                 42
Utah State            1
Vanderbilt            2
Virginia Tech         9
Wake Forest          22
Washington           29
Washington State      8
West Virginia         1
Wisconsin            24
Name: count, dtype: int64

In [111]:
df['Week'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [112]:
df['Week'].isna().sum()

np.int64(0)

In [145]:
df['Week'].value_counts()
week_values = df['Week'].value_counts()
week_sorted_values = week_values.sort_index(ascending = True)
print(week_sorted_values)

Week
1     125
2     100
3     125
4     125
5     125
6     125
7     125
8     125
9     125
10    125
11    125
12    125
13    125
14    125
15    125
16    125
Name: count, dtype: int64

In [ ]:
df['year'].unique()

array([2024, 2023, 2022, 2021, 2020])

In [146]:
df['year'].value_counts()
year_values = df['year'].value_counts()
year_sorted_values = year_values.sort_index(ascending = True)
print(year_sorted_values)

year
2020    375
2021    400
2022    400
2023    400
2024    400
Name: count, dtype: int64

In [116]:
df['year'].isna().sum()

np.int64(0)

In [129]:
headers1 = df1.columns
print(headers1)

Index(['Team', 'date', 'opponent', 'win_loss', 'pass', 'rush', 'rec',
       'points_allowed', 'points_scored', 'point_differential', 'home_game',
       'season', 'CONF', 'SOR', 'FPI', 'AP/CFP', 'SOS', 'GC', 'AVGWP'],
      dtype='object')

In [118]:
df1['Team'].unique()

array(['Air Force Falcons', 'Akron Zips', 'Alabama Crimson Tide',
       'App State Mountaineers', 'Arizona State Sun Devils',
       'Arizona Wildcats', 'Arkansas Razorbacks',
       'Arkansas State Red Wolves', 'Army Black Knights', 'Auburn Tigers',
       'Ball State Cardinals', 'Baylor Bears', 'Boise State Broncos',
       'Boston College Eagles', 'Bowling Green Falcons', 'Buffalo Bulls',
       'BYU Cougars', 'California Golden Bears',
       'Central Michigan Chippewas', 'Charlotte 49ers',
       'Cincinnati Bearcats', 'Clemson Tigers',
       'Coastal Carolina Chanticleers', 'Colorado Buffaloes',
       'Colorado State Rams', 'Duke Blue Devils', 'East Carolina Pirates',
       'Eastern Michigan Eagles', 'Florida Atlantic Owls',
       'Florida Gators', 'Florida International Panthers',
       'Florida State Seminoles', 'Fresno State Bulldogs',
       'Georgia Bulldogs', 'Georgia Southern Eagles',
       'Georgia State Panthers', 'Georgia Tech Yellow Jackets',
       "Hawai'i Rainbow Warriors", 'Houston Cougars',
       'Illinois Fighting Illini', 'Indiana Hoosiers', 'Iowa Hawkeyes',
       'Iowa State Cyclones', 'Jacksonville State Gamecocks',
       'James Madison Dukes', 'Kansas Jayhawks', 'Kansas State Wildcats',
       'Kennesaw State Owls', 'Kent State Golden Flashes',
       'Kentucky Wildcats', 'Liberty Flames', "Louisiana Ragin' Cajuns",
       'Louisiana Tech Bulldogs', 'Louisville Cardinals', 'LSU Tigers',
       'Marshall Thundering Herd', 'Maryland Terrapins',
       'Massachusetts Minutemen', 'Memphis Tigers', 'Miami (OH) RedHawks',
       'Miami Hurricanes', 'Michigan State Spartans',
       'Michigan Wolverines', 'Middle Tennessee Blue Raiders',
       'Minnesota Golden Gophers', 'Mississippi State Bulldogs',
       'Missouri Tigers', 'Navy Midshipmen', 'NC State Wolfpack',
       'Nebraska Cornhuskers', 'Nevada Wolf Pack', 'New Mexico Lobos',
       'New Mexico State Aggies', 'North Carolina Tar Heels',
       'North Texas Mean Green', 'Northern Illinois Huskies',
       'Northwestern Wildcats', 'Notre Dame Fighting Irish',
       'Ohio Bobcats', 'Ohio State Buckeyes', 'Oklahoma Sooners',
       'Oklahoma State Cowboys', 'Old Dominion Monarchs',
       'Ole Miss Rebels', 'Oregon Ducks', 'Oregon State Beavers',
       'Penn State Nittany Lions', 'Pittsburgh Panthers',
       'Purdue Boilermakers', 'Rice Owls', 'Rutgers Scarlet Knights',
       'Sam Houston Bearkats', 'San Diego State Aztecs',
       'San José State Spartans', 'SMU Mustangs', 'South Alabama Jaguars',
       'South Carolina Gamecocks', 'South Florida Bulls',
       'Southern Miss Golden Eagles', 'Stanford Cardinal',
       'Syracuse Orange', 'TCU Horned Frogs', 'Temple Owls',
       'Tennessee Volunteers', 'Texas A&M Aggies', 'Texas Longhorns',
       'Texas State Bobcats', 'Texas Tech Red Raiders', 'Toledo Rockets',
       'Troy Trojans', 'Tulane Green Wave', 'Tulsa Golden Hurricane',
       'UAB Blazers', 'UCF Knights', 'UCLA Bruins', 'UConn Huskies',
       'UL Monroe Warhawks', 'UNLV Rebels', 'USC Trojans',
       'Utah State Aggies', 'Utah Utes', 'UTEP Miners',
       'UTSA Roadrunners', 'Vanderbilt Commodores', 'Virginia Cavaliers',
       'Virginia Tech Hokies', 'Wake Forest Demon Deacons',
       'Washington Huskies', 'Washington State Cougars',
       'West Virginia Mountaineers', 'Western Kentucky Hilltoppers',
       'Western Michigan Broncos', 'Wisconsin Badgers', 'Wyoming Cowboys'],
      dtype=object)

In [142]:
df1['Team'].value_counts()
team_values = df1['Team'].value_counts()
team_sorted_values = team_values.sort_index(ascending = True)
print(team_sorted_values)

Team
Air Force Falcons                 54
Akron Zips                        41
Alabama Crimson Tide              64
App State Mountaineers             9
Arizona State Sun Devils          49
Arizona Wildcats                  53
Arkansas Razorbacks               59
Arkansas State Red Wolves         56
Army Black Knights                60
Auburn Tigers                     60
BYU Cougars                       60
Ball State Cardinals              39
Baylor Bears                      58
Boise State Broncos               58
Boston College Eagles             57
Bowling Green Falcons             36
Buffalo Bulls                     39
California Golden Bears           52
Central Michigan Chippewas        38
Charlotte 49ers                   51
Cincinnati Bearcats               61
Clemson Tigers                    63
Coastal Carolina Chanticleers     50
Colorado Buffaloes                53
Colorado State Rams               50
Duke Blue Devils                  57
East Carolina Pirates             53
Eastern Michigan Eagles           43
Florida Atlantic Owls             53
Florida Gators                    59
Florida International Panthers    43
Florida State Seminoles           55
Fresno State Bulldogs             55
Georgia Bulldogs                  65
Georgia Southern Eagles           56
Georgia State Panthers            52
Georgia Tech Yellow Jackets       56
Hawai'i Rainbow Warriors          58
Houston Cougars                   54
Illinois Fighting Illini          54
Indiana Hoosiers                  57
Iowa Hawkeyes                     60
Iowa State Cyclones               63
Jacksonville State Gamecocks      18
James Madison Dukes               34
Kansas Jayhawks                   56
Kansas State Wildcats             60
Kennesaw State Owls                9
Kent State Golden Flashes         38
Kentucky Wildcats                 62
LSU Tigers                        56
Liberty Flames                    54
Louisiana Ragin' Cajuns           55
Louisiana Tech Bulldogs           49
Louisville Cardinals              57
Marshall Thundering Herd          56
Maryland Terrapins                55
Massachusetts Minutemen           52
Memphis Tigers                    55
Miami (OH) RedHawks               43
Miami Hurricanes                  56
Michigan State Spartans           55
Michigan Wolverines               59
Middle Tennessee Blue Raiders     52
Minnesota Golden Gophers          52
Mississippi State Bulldogs        55
Missouri Tigers                   57
NC State Wolfpack                 55
Navy Midshipmen                   56
Nebraska Cornhuskers              56
Nevada Wolf Pack                  56
New Mexico Lobos                  53
New Mexico State Aggies           43
North Carolina Tar Heels          60
North Texas Mean Green            59
Northern Illinois Huskies         40
Northwestern Wildcats             57
Notre Dame Fighting Irish         63
Ohio Bobcats                      41
Ohio State Buckeyes               59
Oklahoma Sooners                  59
Oklahoma State Cowboys            60
Old Dominion Monarchs             47
Ole Miss Rebels                   56
Oregon Ducks                      58
Oregon State Beavers              57
Penn State Nittany Lions          60
Pittsburgh Panthers               56
Purdue Boilermakers               54
Rice Owls                         52
Rutgers Scarlet Knights           56
SMU Mustangs                      58
Sam Houston Bearkats              15
San Diego State Aztecs            58
San José State Spartans           49
South Alabama Jaguars             51
South Carolina Gamecocks          58
South Florida Bulls               55
Southern Miss Golden Eagles       46
Stanford Cardinal                 54
Syracuse Orange                   58
TCU Horned Frogs                  60
Temple Owls                       52
Tennessee Volunteers              58
Texas A&M Aggies                  59
Texas Longhorns                   61
Texas State Bobcats               58
Texas Tech Red Raiders            59
Toledo Rockets                    42
Troy Trojans                      58
Tulane Green Wave                 55
Tulsa Golden Hurricane            48
UAB Blazers                       52
UCF Knights                       53
UCLA Bruins                       56
UConn Huskies                     48
UL Monroe Warhawks                57
UNLV Rebels                       54
USC Trojans                       54
UTEP Miners                       49
UTSA Roadrunners                  63
Utah State Aggies                 53
Utah Utes                         53
Vanderbilt Commodores             58
Virginia Cavaliers                53
Virginia Tech Hokies              55
Wake Forest Demon Deacons         55
Washington Huskies                53
Washington State Cougars          53
West Virginia Mountaineers        53
Western Kentucky Hilltoppers      55
Western Michigan Broncos          38
Wisconsin Badgers                 54
Wyoming Cowboys                   55
Name: count, dtype: int64

In [120]:
df1['Team'].isna().sum()

np.int64(0)

In [131]:
df1['date'].isna().sum()

np.int64(0)

In [132]:
df1['date'].unique()

array(['Sat, Aug 31', 'Sat, Nov 9', 'Sat, Nov 30', 'Sat, Sep 14',
       'Sat, Sep 28', 'Sat, Oct 5', 'Sat, Sep 7', 'Sat, Oct 19',
       'Sat, Nov 2', 'Sat, Oct 12', 'Sat, Nov 23', 'Sat, Nov 16',
       'Sat, Sep 21', 'Sat, Oct 26', 'Fri, Oct 11', 'Sat, Dec 7',
       'Fri, Sep 13', 'Fri, Nov 15', 'Fri, Dec 27', 'Fri, Aug 30',
       'Sat, Dec 14', 'Fri, Dec 6', 'Sat, Dec 28', 'Fri, Nov 29',
       'Fri, Oct 25', 'Fri, Nov 1', 'Sat, Jan 4', 'Fri, Sep 6',
       'Fri, Oct 18', 'Fri, Nov 8', 'Sat, Dec 21', 'Fri, Dec 20',
       'Sat, Aug 24', 'Fri, Oct 4', 'Fri, Sep 20', 'Fri, Sep 27',
       'Fri, Nov 22', 'Fri, Jan 3', 'Fri, Jan 10', 'Sat, Oct 21',
       'Sat, Sep 9', 'Sat, Nov 18', 'Sat, Oct 28', 'Sat, Nov 4',
       'Sat, Sep 2', 'Fri, Sep 15', 'Fri, Nov 24', 'Sat, Dec 23',
       'Sat, Nov 11', 'Fri, Sep 22', 'Sat, Sep 30', 'Sat, Oct 14',
       'Sat, Sep 16', 'Sat, Oct 7', 'Sat, Sep 23', 'Sat, Nov 25',
       'Sat, Dec 2', 'Sat, Dec 9', 'Sat, Dec 30', 'Sat, Dec 16',
       'Fri, Nov 3', 'Fri, Sep 29', 'Fri, Sep 1', 'Fri, Oct 27',
       'Fri, Dec 29', 'Fri, Nov 17', 'Fri, Oct 13', 'Sat, Aug 26',
       'Fri, Dec 22', 'Fri, Sep 8', 'Fri, Oct 6', 'Fri, Dec 1',
       'Fri, Nov 10', 'Fri, Oct 20', 'Sat, Oct 22', 'Sat, Nov 5',
       'Sat, Oct 8', 'Sat, Oct 1', 'Sat, Oct 15', 'Sat, Sep 10',
       'Fri, Sep 23', 'Sat, Nov 12', 'Sat, Sep 3', 'Sat, Nov 26',
       'Fri, Sep 16', 'Sat, Nov 19', 'Sat, Sep 17', 'Sat, Sep 24',
       'Sat, Oct 29', 'Fri, Dec 2', 'Sat, Dec 31', 'Fri, Nov 25',
       'Sat, Dec 10', 'Fri, Sep 30', 'Fri, Sep 9', 'Sat, Dec 3',
       'Sat, Dec 17', 'Fri, Nov 4', 'Fri, Oct 28', 'Fri, Sep 2',
       'Sat, Aug 27', 'Fri, Nov 11', 'Fri, Dec 30', 'Fri, Oct 7',
       'Fri, Oct 14', 'Fri, Dec 23', 'Fri, Dec 16', 'Sat, Dec 24',
       'Fri, Nov 18', 'Fri, Oct 21', 'Sat, Sep 18', 'Sat, Sep 4',
       'Sat, Sep 25', 'Sat, Sep 11', 'Fri, Nov 26', 'Sat, Oct 16',
       'Sat, Oct 2', 'Sat, Oct 9', 'Sat, Nov 13', 'Fri, Nov 19',
       'Sat, Oct 23', 'Sat, Nov 6', 'Sat, Nov 27', 'Sat, Nov 20',
       'Sat, Dec 4', 'Fri, Dec 31', 'Fri, Oct 8', 'Sat, Oct 30',
       'Fri, Oct 22', 'Sat, Jan 1', 'Sat, Dec 11', 'Sat, Dec 25',
       'Fri, Sep 10', 'Fri, Nov 12', 'Fri, Nov 5', 'Fri, Oct 1',
       'Sat, Dec 18', 'Fri, Oct 15', 'Fri, Sep 3', 'Fri, Sep 24',
       'Fri, Dec 17', 'Sat, Aug 28', 'Fri, Sep 17', 'Fri, Oct 29',
       'Fri, Dec 3', 'Sat, Oct 31', 'Sat, Dec 19', 'Sat, Oct 24',
       'Fri, Nov 20', 'Sat, Oct 3', 'Sat, Nov 28', 'Sat, Dec 5',
       'Sat, Dec 12', 'Sat, Nov 21', 'Fri, Jan 1', 'Sat, Sep 26',
       'Sat, Oct 17', 'Sat, Oct 10', 'Sat, Nov 7', 'Fri, Dec 11',
       'Sat, Nov 14', 'Sat, Sep 5', 'Sat, Sep 12', 'Fri, Dec 18',
       'Fri, Nov 6', 'Sat, Sep 19', 'Fri, Dec 25', 'Fri, Oct 2',
       'Fri, Oct 16', 'Fri, Nov 27', 'Fri, Nov 13', 'Fri, Sep 18',
       'Sat, Dec 26', 'Fri, Oct 30', 'Fri, Oct 23', 'Fri, Oct 9',
       'Sat, Jan 2', 'Fri, Dec 4', 'Fri, Sep 25'], dtype=object)

In [141]:
df1['date'].value_counts()
date_values = df1['date'].value_counts()
date_sorted_values = date_values.sort_index(ascending = True)
print(date_sorted_values)

date
Fri, Aug 30     10
Fri, Dec 1       4
Fri, Dec 11      6
Fri, Dec 16      4
Fri, Dec 17      4
Fri, Dec 18      8
Fri, Dec 2       6
Fri, Dec 20      6
Fri, Dec 22      2
Fri, Dec 23      5
Fri, Dec 25      2
Fri, Dec 27     10
Fri, Dec 29      8
Fri, Dec 3       4
Fri, Dec 30      9
Fri, Dec 31      9
Fri, Dec 4       1
Fri, Dec 6       6
Fri, Jan 1       8
Fri, Jan 10      2
Fri, Jan 3       4
Fri, Nov 1       6
Fri, Nov 10      4
Fri, Nov 11      6
Fri, Nov 12      4
Fri, Nov 13      6
Fri, Nov 15      8
Fri, Nov 17      4
Fri, Nov 18      4
Fri, Nov 19     10
Fri, Nov 20      8
Fri, Nov 22      6
Fri, Nov 24     26
Fri, Nov 25     25
Fri, Nov 26     31
Fri, Nov 27     18
Fri, Nov 29     28
Fri, Nov 3       4
Fri, Nov 4       6
Fri, Nov 5       4
Fri, Nov 6       5
Fri, Nov 8       9
Fri, Oct 1       6
Fri, Oct 11      6
Fri, Oct 13      6
Fri, Oct 14      4
Fri, Oct 15      8
Fri, Oct 16      4
Fri, Oct 18      8
Fri, Oct 2       4
Fri, Oct 20      2
Fri, Oct 21      4
Fri, Oct 22      8
Fri, Oct 23      7
Fri, Oct 25      6
Fri, Oct 27      2
Fri, Oct 28      4
Fri, Oct 29      4
Fri, Oct 30      6
Fri, Oct 4       8
Fri, Oct 6       4
Fri, Oct 7       8
Fri, Oct 8       6
Fri, Oct 9       2
Fri, Sep 1      10
Fri, Sep 10      6
Fri, Sep 13      4
Fri, Sep 15      6
Fri, Sep 16      4
Fri, Sep 17      4
Fri, Sep 18      1
Fri, Sep 2      13
Fri, Sep 20      6
Fri, Sep 22      7
Fri, Sep 23      6
Fri, Sep 24      9
Fri, Sep 25      2
Fri, Sep 27      4
Fri, Sep 29      7
Fri, Sep 3      13
Fri, Sep 30     10
Fri, Sep 6       5
Fri, Sep 8       3
Fri, Sep 9       4
Sat, Aug 24      6
Sat, Aug 26     14
Sat, Aug 27     18
Sat, Aug 28      9
Sat, Aug 31     96
Sat, Dec 10      2
Sat, Dec 11      2
Sat, Dec 12     64
Sat, Dec 14      4
Sat, Dec 16     11
Sat, Dec 17     12
Sat, Dec 18     11
Sat, Dec 19     30
Sat, Dec 2      15
Sat, Dec 21      6
Sat, Dec 23     14
Sat, Dec 24      2
Sat, Dec 25      2
Sat, Dec 26      6
Sat, Dec 28     15
Sat, Dec 3      17
Sat, Dec 30      8
Sat, Dec 31      8
Sat, Dec 4      18
Sat, Dec 5      80
Sat, Dec 7      12
Sat, Dec 9       2
Sat, Jan 1      10
Sat, Jan 2       7
Sat, Jan 4       2
Sat, Nov 11    108
Sat, Nov 12    106
Sat, Nov 13    104
Sat, Nov 14     65
Sat, Nov 16     87
Sat, Nov 18    115
Sat, Nov 19    109
Sat, Nov 2      78
Sat, Nov 20    105
Sat, Nov 21     62
Sat, Nov 23    110
Sat, Nov 25     97
Sat, Nov 26     94
Sat, Nov 27     90
Sat, Nov 28     66
Sat, Nov 30    100
Sat, Nov 4     107
Sat, Nov 5     102
Sat, Nov 6     103
Sat, Nov 7      73
Sat, Nov 9      79
Sat, Oct 1     105
Sat, Oct 10     51
Sat, Oct 12     88
Sat, Oct 14     90
Sat, Oct 15     93
Sat, Oct 16     88
Sat, Oct 17     47
Sat, Oct 19     96
Sat, Oct 2     113
Sat, Oct 21     92
Sat, Oct 22     96
Sat, Oct 23     89
Sat, Oct 24     81
Sat, Oct 26     96
Sat, Oct 28     93
Sat, Oct 29     85
Sat, Oct 3      55
Sat, Oct 30     97
Sat, Oct 31     75
Sat, Oct 5      86
Sat, Oct 7      88
Sat, Oct 8     103
Sat, Oct 9      93
Sat, Sep 10    124
Sat, Sep 11    120
Sat, Sep 12     32
Sat, Sep 14    108
Sat, Sep 16    119
Sat, Sep 17    117
Sat, Sep 18    116
Sat, Sep 19     32
Sat, Sep 2      98
Sat, Sep 21    109
Sat, Sep 23    120
Sat, Sep 24    114
Sat, Sep 25    114
Sat, Sep 26     50
Sat, Sep 28    101
Sat, Sep 3      88
Sat, Sep 30    100
Sat, Sep 4      93
Sat, Sep 5       9
Sat, Sep 7     122
Sat, Sep 9     127
Name: count, dtype: int64

In [121]:
df1['opponent'].unique()

array(['Merrimack', 'Fresno State', 'San Diego State', 'Baylor',
       'Wyoming', 'Navy', 'San José State', 'Colorado State', ' Army',
       'New Mexico', 'Nevada', 'Oregon State', 'South Carolina',
       ' Ohio State', 'Rutgers', 'Colgate', 'Bowling Green',
       'Western Michigan', 'Eastern Michigan', 'Ohio', 'Buffalo',
       'Oklahoma', 'Auburn', 'Western Kentucky', 'South Florida',
       'Wisconsin', ' Georgia', 'Vanderbilt', ' Tennessee', ' Missouri',
       ' LSU', 'Mercer', 'East Tennessee State', 'Georgia Southern',
       'Louisiana', 'East Carolina', 'Marshall', ' Clemson',
       'Old Dominion', 'James Madison', 'Georgia State', ' Utah',
       'Arizona', 'UCF', ' Kansas State', ' BYU', 'Mississippi State',
       'Texas Tech', 'Kansas', 'Cincinnati', 'Oklahoma State',
       ' Iowa State ', 'Colorado', 'Northern Arizona', 'Houston', 'TCU',
       'West Virginia', ' Arizona State', ' Ole Miss', 'Louisiana Tech',
       'Texas Tech ', ' Oklahoma State', 'UAB', ' Texas A&M ', ' Texas',
       'Central Arkansas', ' Iowa State', 'Tulsa', ' Michigan', 'Troy',
       'South Alabama', 'Texas State', 'Southern Miss', 'UL Monroe',
       'Lehigh', 'Florida Atlantic', 'Rice', 'North Texas', 'Air Force',
       'Navy ', ' Notre Dame ', 'UTSA', 'Tulane', 'Louisiana Tech ',
       'California', 'Alabama A&M', ' Texas A&M', ' Alabama', 'Arkansas',
       ' Oklahoma', 'Kentucky', 'Northern Illinois', 'Missouri State',
       ' Miami', 'Central Michigan', 'Kent State', 'Tarleton State',
       'Utah State', 'UNLV', ' Oregon', 'Portland State',
       'Washington State', ' UNLV', "Hawai'i", 'Michigan State',
       'Nebraska ', 'Duquesne', 'Virginia', 'Louisville', 'Syracuse',
       'North Carolina', 'Pittsburgh', ' SMU', ' Penn State',
       'Miami (OH)', 'Akron', 'Ball State', 'Toledo', 'UConn',
       'Massachusetts', ' Northern Illinois', 'Liberty ', ' Colorado ',
       'Southern Illinois', 'SMU', 'Utah', 'NC State', 'Stanford',
       'UC Davis', 'Florida State', ' Pittsburgh', 'Wake Forest',
       'Illinois', 'Florida International', 'Indiana', 'Gardner-Webb',
       ' Navy', 'Memphis', 'Towson', 'Arizona State', 'Iowa State',
       'Kansas State', ' SMU ', ' Georgia ', 'App State', 'Virginia Tech',
       'The Citadel', ' South Carolina', 'William & Mary', 'Temple',
       'Nebraska', ' BYU ', 'Northern Colorado', 'UTEP', 'Miami (OH) ',
       'Elon', 'Northwestern', 'Middle Tennessee', 'Georgia Tech',
       'Norfolk State', 'Liberty', 'Charlotte', 'NC State ', 'Washington',
       'Jacksonville State', 'St. Francis (PA)', 'Army', 'Wagner',
       'Samford', 'Texas A&M', 'Tulane ', 'Monmouth', 'Kennesaw State',
       'Florida', 'Georgia Tech ', 'Duke', 'Charleston Southern',
       ' Notre Dame', 'Sacramento State', 'New Mexico State', 'UCLA',
       'Tennessee Tech', ' Clemson ', 'Florida ', ' Texas ',
       'Boise State', 'South Carolina State', 'Coastal Carolina',
       'Chattanooga', 'Arkansas State', ' Florida State ', 'Vanderbilt ',
       'VMI', ' Louisville', 'Delaware State', 'Sam Houston',
       'Northern Iowa', ' Boise State', ' Nebraska', 'Minnesota',
       ' Kansas', 'Northwestern ', 'Purdue', 'Western Illinois',
       'Maryland', 'Michigan', 'Illinois State', 'North Dakota',
       ' Arizona State ', ' Miami ', ' Iowa', 'Ohio ', ' Colorado',
       'UT Martin', ' Arizona', 'BYU', 'Murray State', 'Campbell',
       'Buffalo ', 'Grambling', 'TCU ', ' Army ', 'Nicholls',
       'Austin Peay', 'Boston College', 'Stony Brook', 'Villanova', 'USC',
       'Iowa', 'Central Connecticut', 'North Alabama', 'Colorado State ',
       'Florida A&M', 'Prairie View A&M', ' Indiana', ' Illinois', ' USC',
       'Virginia Tech ', 'Rhode Island', 'Eastern Kentucky',
       ' Boston College', ' Tulane', 'Oklahoma ', 'Bucknell',
       'Boston College ', 'Eastern Washington', 'Montana State',
       ' Washington State', 'Southeast Missouri State',
       'North Carolina Central', 'UConn ', 'Texas State ',
       'Stephen F. Austin', ' Illinois ', 'Eastern Illinois', ' Navy ',
       'Morgan State', 'Jacksonville State ', 'Maine', 'LSU',
       'South Dakota State', 'Furman', 'Idaho', ' Penn State ',
       'Idaho State', ' Oregon ', 'Youngstown State', 'Indiana State',
       'Texas Southern', 'East Texas A&M', 'Houston Christian',
       'Western Michigan ', 'Wofford', 'Bethune-Cookman', 'SE Louisiana',
       'Cal Poly', ' Georgia Tech', 'Holy Cross', 'Washington State ',
       'Long Island University', 'Louisiana ', ' NC State ', 'McNeese',
       'Arkansas ', 'USC ', ' Ohio State ', ' Oklahoma ', ' Vanderbilt',
       'Lamar', 'North Texas ', 'Sam Houston ', 'Abilene Christian',
       'North Carolina ', 'Utah Tech', 'Texas A&M ', 'Robert Morris',
       'Southern Utah', 'Alcorn State', 'Richmond', 'Minnesota ',
       'Weber State', 'Washington ', ' Syracuse ', 'UAlbany',
       'South Alabama ', 'South Dakota', 'Army ', 'James Madison ',
       ' Washington', ' UCLA', ' Oregon State', 'Western Carolina',
       'Northern Illinois ', ' Air Force ', 'Maryland ', 'UCLA ',
       ' Florida State', 'Miami', ' Wisconsin', 'Fordham',
       'New Hampshire', ' Florida', 'Kentucky ', ' North Carolina',
       'San José State ', ' TCU', ' Air Force', 'Troy ', 'Lafayette',
       'Appalachian State', 'Howard', 'Clemson', ' Duke', ' Louisville ',
       'New Mexico State ', ' Kentucky', ' Alabama ', 'Utah State ',
       'Louisville ', 'UCF ', ' Michigan ', 'Memphis ', 'Air Force ',
       'Missouri', 'Northwestern State', 'Indiana ', 'Auburn ',
       'Iowa State ', 'Missouri ', 'Toledo ', 'Appalachian State ',
       ' Iowa ', ' Fresno State', 'Fresno State ', ' Liberty',
       'South Carolina ', ' NC State', 'Arkansas State ', 'Utah ',
       'Iowa ', ' Oregon State ', 'Tennessee State', 'Georgia Southern ',
       ' Missouri ', 'Texas A&M-Commerce', ' James Madison',
       ' Washington ', 'Delaware', ' Ole Miss ', 'Syracuse ',
       'Coastal Carolina ', ' North Carolina ', 'Pittsburgh ',
       'Virginia ', ' Oklahoma State ', 'Jackson State', 'California ',
       'Wyoming ', 'Duke ', 'Boise State ', 'Sacred Heart', 'Bryant',
       'Georgia State ', 'Incarnate Word', ' Tennessee ',
       ' Michigan State', 'Texas', ' Mississippi State', ' Kansas State ',
       ' Arkansas', 'North Dakota State', ' Cincinnati', ' Wake Forest',
       'Albany', 'Notre Dame ', 'SMU ', ' Baylor', 'Notre Dame',
       ' Syracuse', 'North Carolina A&T', 'South Florida ', ' LSU ',
       ' TCU ', 'Houston ', 'Cincinnati ', 'Southern', 'Tennessee',
       ' UCF', 'UAB ', 'Purdue ', 'San Diego State ', 'Wake Forest ',
       'Valparaiso', 'BYU ', 'Penn State', 'Texas ',
       'Arkansas-Pine Bluff', 'Montana State ', ' Minnesota',
       'Southern Miss ', 'Middle Tennessee ', 'Georgia', 'East Carolina ',
       'Rice ', 'Tarleton', ' Arkansas ', ' Houston', 'UTSA ',
       'Alabama State', ' Utah ', ' USC ', ' San Diego State',
       ' Cincinnati ', 'Penn State ', 'Ole Miss', ' Coastal Carolina',
       'Arizona ', 'Alabama', 'UTEP ', ' Auburn', 'Ball State ',
       'Ohio State', ' Kentucky ', 'Stanford ', 'Eastern Michigan ',
       'Marshall ', ' UTSA', ' Louisiana ', ' Pittsburgh ', 'Rutgers ',
       'Kent State ', ' Wisconsin ', ' Purdue', ' Baylor ', 'Hampton',
       ' Wake Forest ', 'Oregon', 'Kansas State ', 'Colorado ',
       ' Louisiana', 'Yale', 'Oregon State ', 'Montana',
       'Central Michigan ', ' Virginia Tech', ' Florida ',
       ' Northwestern ', ' Tulsa', ' Marshall', 'New Mexico ',
       'Western Kentucky ', ' Northwestern', 'Ole Miss ',
       ' Coastal Carolina ', 'Southern Mississippi', 'Houston Baptist',
       ' Appalachian State', 'Nevada ', 'Ohio State ', ' Indiana ',
       ' Memphis'], dtype=object)

In [140]:
df1['opponent'].value_counts()
opponent_values = df1['opponent'].value_counts()
opponent_sorted_values = values.sort_index(ascending = True)
print(opponent_sorted_values)

opponent
 Air Force                   2
 Air Force                   1
 Alabama                    52
 Alabama                     7
 Appalachian State           1
 Arizona                     5
 Arizona State               5
 Arizona State               1
 Arkansas                    9
 Arkansas                    3
 Army                        5
 Army                        3
 Auburn                     10
 BYU                        27
 BYU                         2
 Baylor                     10
 Baylor                      2
 Boise State                12
 Boston College              1
 Cincinnati                 20
 Cincinnati                  2
 Clemson                    31
 Clemson                     8
 Coastal Carolina            9
 Coastal Carolina            1
 Colorado                    8
 Colorado                    1
 Duke                        5
 Florida                    19
 Florida                     2
 Florida State              16
 Florida State               3
 Fresno State                5
 Georgia                    41
 Georgia                    16
 Georgia Tech                1
 Houston                     4
 Illinois                   11
 Illinois                    1
 Indiana                    15
 Indiana                     1
 Iowa                       22
 Iowa                        3
 Iowa State                 21
 Iowa State                  4
 James Madison               2
 Kansas                      8
 Kansas State               27
 Kansas State                2
 Kentucky                   12
 Kentucky                    1
 LSU                        24
 LSU                         1
 Liberty                     3
 Louisiana                   4
 Louisiana                   2
 Louisville                 14
 Louisville                  1
 Marshall                    4
 Memphis                     1
 Miami                      25
 Miami                       2
 Michigan                   42
 Michigan                    5
 Michigan State             10
 Minnesota                   2
 Mississippi State           3
 Missouri                   18
 Missouri                    1
 NC State                   20
 NC State                    3
 Navy                        1
 Navy                        1
 Nebraska                    1
 North Carolina             22
 North Carolina              4
 Northern Illinois           1
 Northwestern                4
 Northwestern                1
 Notre Dame                 43
 Notre Dame                 10
 Ohio State                 51
 Ohio State                  5
 Oklahoma                   35
 Oklahoma                    4
 Oklahoma State             33
 Oklahoma State              3
 Ole Miss                   39
 Ole Miss                    2
 Oregon                     47
 Oregon                      5
 Oregon State               13
 Oregon State                2
 Penn State                 41
 Penn State                  2
 Pittsburgh                 12
 Pittsburgh                  2
 Purdue                      2
 SMU                        13
 SMU                         1
 San Diego State             6
 South Carolina              3
 Syracuse                    3
 Syracuse                    1
 TCU                         9
 TCU                         2
 Tennessee                  34
 Tennessee                   2
 Texas                      38
 Texas                       7
 Texas A&M                  29
 Texas A&M                   4
 Tulane                     15
 Tulsa                       2
 UCF                         8
 UCLA                       13
 UNLV                        4
 USC                        33
 USC                         1
 UTSA                        4
 Utah                       28
 Utah                        3
 Vanderbilt                  1
 Virginia Tech               5
 Wake Forest                11
 Wake Forest                 2
 Washington                 19
 Washington                  1
 Washington State            5
 Wisconsin                  13
 Wisconsin                   1
Abilene Christian            8
Air Force                   43
Air Force                    4
Akron                       38
Alabama                      1
Alabama A&M                  3
Alabama State                2
Albany                       2
Alcorn State                 4
App State                    8
Appalachian State           35
Appalachian State            2
Arizona                     43
Arizona                      1
Arizona State               43
Arkansas                    41
Arkansas                     3
Arkansas State              49
Arkansas State               1
Arkansas-Pine Bluff          2
Army                        39
Army                         6
Auburn                      44
Auburn                       2
Austin Peay                  7
BYU                         23
BYU                          3
Ball State                  34
Ball State                   2
Baylor                      42
Bethune-Cookman              6
Boise State                 40
Boise State                  3
Boston College              51
Boston College               1
Bowling Green               33
Bryant                       2
Bucknell                     4
Buffalo                     34
Buffalo                      3
Cal Poly                     3
California                  47
California                   1
Campbell                     8
Central Arkansas             5
Central Connecticut          4
Central Michigan            34
Central Michigan             1
Charleston Southern          4
Charlotte                   46
Chattanooga                  5
Cincinnati                  32
Cincinnati                   2
Clemson                     20
Coastal Carolina            33
Coastal Carolina             2
Colgate                      5
Colorado                    42
Colorado                     1
Colorado State              45
Colorado State               1
Delaware                     3
Delaware State               3
Duke                        47
Duke                         1
Duquesne                     7
East Carolina               45
East Carolina                1
East Tennessee State         4
East Texas A&M               1
Eastern Illinois             3
Eastern Kentucky            10
Eastern Michigan            38
Eastern Michigan             1
Eastern Washington           3
Elon                         2
Florida                     29
Florida                      6
Florida A&M                  5
Florida Atlantic            49
Florida International       40
Florida State               31
Fordham                      4
Fresno State                43
Fresno State                 4
Furman                       3
Gardner-Webb                 8
Georgia                      4
Georgia Southern            46
Georgia Southern             1
Georgia State               45
Georgia State                3
Georgia Tech                45
Georgia Tech                 6
Grambling                    5
Hampton                      1
Hawai'i                     53
Holy Cross                   5
Houston                     47
Houston                      2
Houston Baptist              3
Houston Christian            4
Howard                       4
Idaho                        8
Idaho State                  7
Illinois                    42
Illinois State               3
Incarnate Word               3
Indiana                     36
Indiana                      1
Indiana State                5
Iowa                        31
Iowa                         2
Iowa State                  33
Iowa State                   1
Jackson State                2
Jacksonville State          19
Jacksonville State           2
James Madison               26
James Madison                1
Kansas                      45
Kansas State                26
Kansas State                 1
Kennesaw State              11
Kent State                  33
Kent State                   1
Kentucky                    42
Kentucky                     2
LSU                         27
Lafayette                    3
Lamar                        5
Lehigh                       1
Liberty                     42
Liberty                      3
Long Island University       6
Louisiana                   41
Louisiana                    3
Louisiana Tech              40
Louisiana Tech               1
Louisville                  37
Louisville                   3
Maine                        6
Marshall                    40
Marshall                     2
Maryland                    50
Maryland                     1
Massachusetts               46
McNeese                      4
Memphis                     47
Memphis                      2
Mercer                       5
Merrimack                    3
Miami                       23
Miami (OH)                  34
Miami (OH)                   5
Michigan                    12
Michigan State              42
Middle Tennessee            46
Middle Tennessee             2
Minnesota                   47
Minnesota                    1
Mississippi State           47
Missouri                    34
Missouri                     3
Missouri State               5
Monmouth                     3
Montana                      1
Montana State                2
Montana State                1
Morgan State                 4
Murray State                 6
NC State                    35
NC State                     1
Navy                        44
Navy                         7
Nebraska                    50
Nebraska                     2
Nevada                      50
Nevada                       2
New Hampshire                3
New Mexico                  47
New Mexico                   3
New Mexico State            37
New Mexico State             1
Nicholls                     8
Norfolk State                7
North Alabama                5
North Carolina              25
North Carolina               1
North Carolina A&T           2
North Carolina Central       3
North Dakota                 4
North Dakota State           1
North Texas                 51
North Texas                  2
Northern Arizona             3
Northern Colorado            4
Northern Illinois           32
Northern Illinois            3
Northern Iowa                5
Northwestern                42
Northwestern                 6
Northwestern State           4
Notre Dame                   7
Notre Dame                   2
Ohio                        32
Ohio                         5
Ohio State                   1
Ohio State                   1
Oklahoma                    14
Oklahoma                     3
Oklahoma State              20
Old Dominion                45
Ole Miss                    11
Ole Miss                     1
Oregon                       2
Oregon State                37
Oregon State                 1
Penn State                  14
Penn State                   1
Pittsburgh                  36
Pittsburgh                   2
Portland State               7
Prairie View A&M             3
Purdue                      48
Purdue                       2
Rhode Island                 3
Rice                        46
Rice                         1
Richmond                     4
Robert Morris                4
Rutgers                     52
Rutgers                      2
SE Louisiana                 6
SMU                         38
SMU                          1
Sacramento State             4
Sacred Heart                 1
Sam Houston                 13
Sam Houston                  2
Samford                      4
San Diego State             47
San Diego State              1
San José State              44
San José State               3
South Alabama               46
South Alabama                1
South Carolina              50
South Carolina               2
South Carolina State         5
South Dakota                 3
South Dakota State           3
South Florida               49
South Florida                1
Southeast Missouri State     4
Southern                     2
Southern Illinois            4
Southern Miss               40
Southern Miss                1
Southern Mississippi         7
Southern Utah                4
St. Francis (PA)             3
Stanford                    50
Stanford                     1
Stephen F. Austin            8
Stony Brook                  4
Syracuse                    49
Syracuse                     1
TCU                         44
TCU                          1
Tarleton                     1
Tarleton State               2
Temple                      49
Tennessee                   17
Tennessee State              3
Tennessee Tech               5
Texas                       15
Texas                        1
Texas A&M                   18
Texas A&M                    3
Texas A&M-Commerce           1
Texas Southern               7
Texas State                 50
Texas State                  2
Texas Tech                  50
Texas Tech                   3
The Citadel                  5
Toledo                      36
Toledo                       4
Towson                       4
Troy                        47
Troy                         2
Tulane                      35
Tulane                       1
Tulsa                       45
UAB                         50
UAB                          2
UAlbany                      3
UC Davis                     3
UCF                         42
UCF                          1
UCLA                        39
UCLA                         2
UConn                       42
UConn                        1
UL Monroe                   51
UNLV                        47
USC                         19
USC                          1
UT Martin                    5
UTEP                        43
UTEP                         1
UTSA                        52
UTSA                         2
Utah                        19
Utah                         1
Utah State                  47
Utah State                   2
Utah Tech                    3
VMI                          2
Valparaiso                   1
Vanderbilt                  54
Vanderbilt                   1
Villanova                    4
Virginia                    48
Virginia                     1
Virginia Tech               47
Virginia Tech                1
Wagner                       7
Wake Forest                 34
Wake Forest                  1
Washington                  29
Washington                   1
Washington State            40
Washington State             4
Weber State                  3
West Virginia               48
Western Carolina             5
Western Illinois             4
Western Kentucky            48
Western Kentucky             1
Western Michigan            34
Western Michigan             1
William & Mary               4
Wisconsin                   38
Wofford                      4
Wyoming                     47
Wyoming                      3
Yale                         1
Youngstown State             4
Name: count, dtype: int64

In [137]:
df1['opponent'].value_counts()

opponent
Vanderbilt                  54
Hawai'i                     53
 Alabama                    52
Rutgers                     52
UTSA                        52
UL Monroe                   51
Boston College              51
North Texas                 51
 Ohio State                 51
UAB                         50
Maryland                    50
Nebraska                    50
Stanford                    50
Texas Tech                  50
Texas State                 50
South Carolina              50
Nevada                      50
Arkansas State              49
Syracuse                    49
Florida Atlantic            49
South Florida               49
Temple                      49
Virginia                    48
Purdue                      48
West Virginia               48
Western Kentucky            48
Wyoming                     47
Troy                        47
California                  47
Mississippi State           47
Houston                     47
Utah State                  47
 Oregon                     47
UNLV                        47
New Mexico                  47
Virginia Tech               47
Memphis                     47
Minnesota                   47
Duke                        47
San Diego State             47
Rice                        46
Georgia Southern            46
Massachusetts               46
Charlotte                   46
South Alabama               46
Middle Tennessee            46
Georgia State               45
Georgia Tech                45
Colorado State              45
Tulsa                       45
Old Dominion                45
Kansas                      45
East Carolina               45
Navy                        44
Auburn                      44
TCU                         44
San José State              44
Arizona State               43
UTEP                        43
 Notre Dame                 43
Air Force                   43
Arizona                     43
Fresno State                43
Baylor                      42
Colorado                    42
UCF                         42
 Michigan                   42
Kentucky                    42
UConn                       42
Liberty                     42
Michigan State              42
Northwestern                42
Illinois                    42
Arkansas                    41
Louisiana                   41
 Georgia                    41
 Penn State                 41
Southern Miss               40
Florida International       40
Marshall                    40
Louisiana Tech              40
Washington State            40
Boise State                 40
 Ole Miss                   39
Army                        39
UCLA                        39
Eastern Michigan            38
Akron                       38
SMU                         38
Wisconsin                   38
 Texas                      38
New Mexico State            37
Louisville                  37
Oregon State                37
Indiana                     36
Pittsburgh                  36
Toledo                      36
NC State                    35
Tulane                      35
 Oklahoma                   35
Appalachian State           35
Buffalo                     34
Missouri                    34
Wake Forest                 34
Central Michigan            34
Western Michigan            34
Miami (OH)                  34
 Tennessee                  34
Ball State                  34
Kent State                  33
 Oklahoma State             33
Iowa State                  33
Coastal Carolina            33
Bowling Green               33
 USC                        33
Ohio                        32
Northern Illinois           32
Cincinnati                  32
 Clemson                    31
Iowa                        31
Florida State               31
Washington                  29
Florida                     29
 Texas A&M                  29
 Utah                       28
 BYU                        27
 Kansas State               27
LSU                         27
Kansas State                26
James Madison               26
 Miami                      25
North Carolina              25
 LSU                        24
BYU                         23
Miami                       23
 North Carolina             22
 Iowa                       22
 Iowa State                 21
 NC State                   20
Clemson                     20
Oklahoma State              20
 Cincinnati                 20
 Florida                    19
 Washington                 19
Jacksonville State          19
USC                         19
Utah                        19
Texas A&M                   18
 Missouri                   18
Tennessee                   17
 Florida State              16
 Georgia                    16
 Tulane                     15
Texas                       15
 Indiana                    15
 Louisville                 14
Oklahoma                    14
Penn State                  14
Sam Houston                 13
 SMU                        13
 Oregon State               13
 UCLA                       13
 Wisconsin                  13
 Kentucky                   12
Michigan                    12
 Pittsburgh                 12
 Boise State                12
 Wake Forest                11
 Illinois                   11
Ole Miss                    11
Kennesaw State              11
 Auburn                     10
Eastern Kentucky            10
 Notre Dame                 10
 Michigan State             10
 Baylor                     10
 Arkansas                    9
 TCU                         9
 Coastal Carolina            9
Nicholls                     8
 Colorado                    8
Abilene Christian            8
Campbell                     8
Gardner-Webb                 8
App State                    8
 UCF                         8
 Clemson                     8
Stephen F. Austin            8
Idaho                        8
 Kansas                      8
Navy                         7
 Alabama                     7
Notre Dame                   7
Southern Mississippi         7
Norfolk State                7
Duquesne                     7
Portland State               7
Idaho State                  7
 Texas                       7
Wagner                       7
Texas Southern               7
Austin Peay                  7
Murray State                 6
Northwestern                 6
 San Diego State             6
Florida                      6
SE Louisiana                 6
Bethune-Cookman              6
Long Island University       6
Maine                        6
Army                         6
Georgia Tech                 6
Ohio                         5
Northern Iowa                5
 Army                        5
Grambling                    5
Colgate                      5
Mercer                       5
Tennessee Tech               5
 Oregon                      5
Indiana State                5
 Washington State            5
Chattanooga                  5
Western Carolina             5
 Duke                        5
Miami (OH)                   5
 Ohio State                  5
Holy Cross                   5
North Alabama                5
Florida A&M                  5
UT Martin                    5
South Carolina State         5
 Arizona                     5
 Virginia Tech               5
Missouri State               5
Central Arkansas             5
 Michigan                    5
Lamar                        5
The Citadel                  5
 Fresno State                5
 Arizona State               5
Morgan State                 4
Fordham                      4
Southern Illinois            4
Towson                       4
Robert Morris                4
 UTSA                        4
Southern Utah                4
Wofford                      4
Northern Colorado            4
Youngstown State             4
Sacramento State             4
Stony Brook                  4
William & Mary               4
Howard                       4
Georgia                      4
 Houston                     4
Southeast Missouri State     4
Central Connecticut          4
Western Illinois             4
Villanova                    4
Bucknell                     4
Houston Christian            4
North Dakota                 4
Charleston Southern          4
 Marshall                    4
 Louisiana                   4
Toledo                       4
East Tennessee State         4
 Texas A&M                   4
Fresno State                 4
 Iowa State                  4
 Northwestern                4
 North Carolina              4
 UNLV                        4
Northwestern State           4
Air Force                    4
Alcorn State                 4
Richmond                     4
 Oklahoma                    4
Washington State             4
McNeese                      4
Samford                      4
Delaware State               3
Rhode Island                 3
Illinois State               3
Prairie View A&M             3
Eastern Illinois             3
 Army                        3
New Mexico                   3
 Utah                        3
 Arkansas                    3
North Carolina Central       3
 Florida State               3
Oklahoma                     3
Buffalo                      3
 Iowa                        3
Eastern Washington           3
Houston Baptist              3
Merrimack                    3
 Oklahoma State              3
Wyoming                      3
Tennessee State              3
Georgia State                3
Northern Arizona             3
Lafayette                    3
Alabama A&M                  3
Missouri                     3
Delaware                     3
 Mississippi State           3
Louisville                   3
San José State               3
BYU                          3
Texas A&M                    3
Utah Tech                    3
South Dakota                 3
UC Davis                     3
Northern Illinois            3
Liberty                      3
UAlbany                      3
Weber State                  3
St. Francis (PA)             3
Louisiana                    3
 NC State                    3
South Dakota State           3
Furman                       3
Arkansas                     3
 South Carolina              3
Cal Poly                     3
Monmouth                     3
 Syracuse                    3
 Liberty                     3
Incarnate Word               3
Boise State                  3
Texas Tech                   3
New Hampshire                3
 Cincinnati                  2
Texas State                  2
Rutgers                      2
 Purdue                      2
 Tulsa                       2
 Florida                     2
 Miami                       2
 Pittsburgh                  2
VMI                          2
Montana State                2
 Minnesota                   2
Middle Tennessee             2
Arkansas-Pine Bluff          2
Alabama State                2
UTSA                         2
Cincinnati                   2
Southern                     2
 BYU                         2
UAB                          2
Purdue                       2
Sam Houston                  2
Jacksonville State           2
 Penn State                  2
 Louisiana                   2
Ball State                   2
Marshall                     2
 TCU                         2
Houston                      2
UCLA                         2
North Texas                  2
Elon                         2
Notre Dame                   2
Utah State                   2
Auburn                       2
Memphis                      2
Kentucky                     2
Troy                         2
 Air Force                   2
Appalachian State            2
Tarleton State               2
Nebraska                     2
North Carolina A&T           2
 James Madison               2
 Tennessee                   2
Albany                       2
 Kansas State                2
Bryant                       2
South Carolina               2
 Oregon State                2
Iowa                         2
 Ole Miss                    2
Coastal Carolina             2
Pittsburgh                   2
Jackson State                2
 Baylor                      2
Nevada                       2
Oregon                       2
 Wake Forest                 2
 Northwestern                1
Western Kentucky             1
Ole Miss                     1
 Coastal Carolina            1
 Appalachian State           1
Ohio State                   1
 Indiana                     1
Syracuse                     1
Virginia                     1
California                   1
Duke                         1
Sacred Heart                 1
Arkansas State               1
Utah                         1
Georgia Southern             1
 Missouri                    1
Texas A&M-Commerce           1
 Washington                  1
North Dakota State           1
SMU                          1
UCF                          1
Indiana                      1
Iowa State                   1
 Louisville                  1
New Mexico State             1
South Alabama                1
James Madison                1
 Air Force                   1
Maryland                     1
South Florida                1
 LSU                         1
San Diego State              1
Wake Forest                  1
Valparaiso                   1
Texas                        1
North Carolina               1
Minnesota                    1
Washington                   1
 Syracuse                    1
 Georgia Tech                1
USC                          1
 Vanderbilt                  1
East Texas A&M               1
Western Michigan             1
Montana State                1
Southern Miss                1
East Carolina                1
Rice                         1
Tarleton                     1
 USC                         1
 Boston College              1
Boston College               1
UConn                        1
 Illinois                    1
 Navy                        1
Colorado State               1
Virginia Tech                1
 Arizona State               1
TCU                          1
 Nebraska                    1
Vanderbilt                   1
Penn State                   1
Arizona                      1
Alabama                      1
UTEP                         1
Ohio State                   1
 Kentucky                    1
Stanford                     1
Eastern Michigan             1
NC State                     1
Tulane                       1
 Navy                        1
 SMU                         1
 Northern Illinois           1
 Colorado                    1
Louisiana Tech               1
Lehigh                       1
Kent State                   1
 Wisconsin                   1
Hampton                      1
Kansas State                 1
Colorado                     1
Yale                         1
Oregon State                 1
Montana                      1
Central Michigan             1
 Memphis                     1
Name: count, dtype: int64

In [147]:
df1['win_loss'].unique()

array(['W', 'L'], dtype=object)

In [148]:
df1['win_loss'].isna().sum()

np.int64(0)

In [158]:
df1['win_loss'].value_counts()
win_loss_values = df1['win_loss'].value_counts()
win_loss_sorted_values = win_loss_values.sort_index(ascending = True)
print(win_loss_sorted_values)

win_loss
L    3341
W    3716
Name: count, dtype: int64

In [153]:
df1.columns

Index(['Team', 'date', 'opponent', 'win_loss', 'pass', 'rush', 'rec',
       'points_allowed', 'points_scored', 'point_differential', 'home_game',
       'season', 'CONF', 'SOR', 'FPI', 'AP/CFP', 'SOS', 'GC', 'AVGWP'],
      dtype='object')

In [154]:
df1['pass'].unique()

array(['71', '14', '76', '18', '115', '54', '175', '79', '0', '110', '68',
       '138', '358', '206', '395', '121', '196', '378', '164', '256',
       '200', '194', '374', '310', '209', '239', '215', '109', '186',
       '326', '290', '236', '424', '293', '214', '212', '217', '299',
       '154', '291', '161', '275', '247', '258', '69', '282', '157',
       '155', '304', '219', '268', '301', '422', '173', '224', '284',
       '197', '294', '126', '207', '221', '229', '341', '416', '151',
       '279', '266', '240', '314', '149', '317', '255', '140', '261',
       '349', '345', '167', '97', '170', '35', '44', '107', '15', '102',
       '147', '48', '65', '26', '190', '17', '165', '286', '235', '322',
       '176', '213', '338', '172', '211', '333', '262', '111', '285',
       '168', '307', '192', '248', '148', '324', '274', '222', '242',
       '329', '204', '119', '280', '188', '184', '195', '158', '249',
       '234', '254', '51', '253', '237', '201', '250', '88', '313', '303',
       '171', '82', '55', '185', '210', '127', '309', '257', '137', '228',
       '346', '348', '202', '218', '364', '84', '225', '233', '198',
       '272', '385', '95', '92', '125', '62', 'Jr.', '193', '152', '183',
       '396', '383', '298', '180', '426', '241', '160', '66', '142',
       '308', '288', '336', '267', '103', '367', '182', '388', '244',
       '323', '340', '438', '208', '263', '59', '132', '269', '178',
       '370', '321', '302', '70', '245', '332', '243', '216', '205',
       '295', '325', '283', '226', '129', '273', '354', '265', '300',
       '91', '306', '123', '116', '87', '150', '351', '96', '179', '259',
       '133', '456', '305', '124', '362', '281', '319', '61', '177',
       '316', '220', '289', '297', '439', '278', '459', '347', 'IV',
       '238', '356', '146', '312', '67', '203', '469', '227', '252',
       '264', '153', '135', '260', '73', '156', '141', '191', '80', '379',
       '231', '189', '359', '380', '251', '99', '98', '108', '93', '270',
       '277', '311', 'III', '169', '181', '130', '117', '128', '58',
       '114', '394', '78', '30', '120', '40', '223', '83', '373', '104',
       '230', '232', '342', '337', '352', '409', '405', '131', '166',
       '112', '163', '134', '287', '454', '371', '159', '339', '296',
       '404', '343', '437', '400', '363', '32', '86', '118', '122', '271',
       '320', 'Buren', '42', '143', '13', '403', '292', '174', '37', '74',
       '475', '415', '393', '162', '445', '449', '89', '34', '328', '106',
       '53', '85', '38', '382', '515', '377', '418', '199', '391', '381',
       '350', '56', '246', '50', '430', '64', '375', '355', '318', '446',
       '81', '432', '113', '353', '187', '63', '139', '470', '392', '453',
       '402', '344', '136', '276', '100', '335', '401', '57', '101',
       '384', '75', '360', '372', '461', '145', '327', '72', '434', '357',
       '390', '398', 'Dyke', '45', '28', '41', 'Laura', '527', '105',
       '22', '94', '144', '77', 'V', '315', '510', '462', '423', '4',
       '366', '389', '466', '427', '507', '334', '52', '457', '410',
       '361', '414', '413', '25', '330', '60', '487', '331', '411', '43',
       '442', '421', '387', '386', '412', '46', '39', '47', '399', '435',
       'Rio-Wilson', '12', '472', '452', '49', '368', '484', '369', '451',
       '31', '8', '455', '376', '11', '406', '465', 'Sr.', '578', 'II',
       '468', '90', '27', '36', '407', '408', '448', '21', '450', '397',
       '537', '428', '33', '420', '486', '436', '460', '365', '23', '559',
       '444', '19', '464', '29', '419', '433', '417', '463', '458', '476',
       '16', '425', '509', '573', '519', '536', '554', '488', '523',
       '577', '482', '520', '474', '485', '440', '623', '9', '429', '443',
       '550', '513', '467', '601'], dtype=object)

In [155]:
df1['pass'].isna().sum()

np.int64(0)

In [157]:
df1['pass'].value_counts()
pass_values = df1['pass'].value_counts()
sorted_pass_values = pass_values.sort_index(ascending = True)
print(sorted_pass_values)

pass
0              16
100            14
101            13
102            21
103            16
104            22
105            10
106            19
107            20
108            19
109            18
11              2
110            27
111            18
112            23
113            18
114            15
115            24
116            18
117            17
118             9
119            13
12              2
120            24
121            21
122            16
123            21
124            15
125            27
126            20
127            21
128            18
129            23
13              1
130            22
131            22
132            22
133            16
134            17
135            12
136            19
137            32
138            26
139            16
14              4
140            25
141            27
142            18
143            23
144            25
145            25
146            17
147            25
148            27
149            21
15              1
150            22
151            29
152            29
153            17
154            26
155            25
156            26
157            19
158            28
159            20
16              1
160            23
161            29
162            26
163            20
164            24
165            32
166            34
167            32
168            20
169            33
17              2
170            25
171            20
172            25
173            29
174            33
175            34
176            30
177            22
178            33
179            29
18              4
180            22
181            26
182            34
183            29
184            26
185            21
186            28
187            21
188            26
189            34
19              1
190            30
191            29
192            35
193            30
194            33
195            30
196            36
197            21
198            28
199            22
200            31
201            30
202            34
203            38
204            28
205            22
206            28
207            27
208            35
209            34
21              2
210            29
211            26
212            28
213            20
214            28
215            22
216            19
217            25
218            24
219            35
22              2
220            27
221            27
222            23
223            28
224            22
225            30
226            19
227            30
228            27
229            20
23              2
230            34
231            21
232            21
233            29
234            24
235            24
236            31
237            19
238            28
239            32
240            28
241            23
242            25
243            21
244            32
245            24
246            20
247            31
248            27
249            18
25              3
250            20
251            24
252            19
253            23
254            34
255            30
256            34
257            31
258            20
259            28
26              2
260            20
261            20
262            25
263            33
264            18
265            26
266            18
267            17
268            30
269            31
27              3
270            27
271            20
272            18
273            20
274            22
275            27
276            20
277            22
278            24
279            23
28              6
280            36
281            20
282            16
283            18
284            17
285            25
286            22
287            26
288            17
289            23
29              3
290            19
291            17
292            25
293            21
294            22
295            18
296            12
297            24
298            23
299            16
30              5
300            20
301            16
302            21
303            19
304            20
305            19
306            18
307            16
308            19
309            12
31              2
310            12
311            10
312            17
313            23
314            18
315            12
316            12
317             9
318            17
319            19
32              3
320            20
321            16
322            20
323            17
324            13
325            23
326            12
327            13
328            10
329            13
33              3
330            13
331             8
332             9
333            11
334             9
335             7
336            16
337            13
338            15
339            10
34              3
340            11
341             9
342            11
343             8
344            14
345            14
346             8
347             8
348            12
349            16
35              3
350            11
351            11
352             5
353             5
354             8
355             8
356             8
357             4
358             6
359            11
36              2
360            10
361             7
362             3
363             7
364            11
365             5
366            10
367            11
368             3
369             3
37              7
370             3
371            13
372             7
373             2
374             3
375             4
376             1
377            11
378             5
379             6
38              7
380             9
381            10
382             6
383             9
384             7
385            12
386             2
387             6
388             7
389             4
39              3
390             4
391             7
392             6
393             3
394             7
395             8
396             7
397             3
398             5
399             3
4               1
40              5
400             7
401             6
402             6
403             8
404             7
405             5
406             6
407             3
408             4
409             4
41              6
410             3
411             5
412             5
413             1
414             5
415             4
416             3
417             6
418             3
419             4
42              9
420             3
421             2
422             4
423             3
424             4
425             1
426             2
427             2
428             3
429             2
43              1
430             4
432             5
433             2
434             1
435             7
436             1
437             2
438             3
439             4
44              6
440             1
442             1
443             2
444             1
445             1
446             2
448             4
449             2
45              2
450             1
451             1
452             1
453             2
454             1
455             2
456             3
457             1
458             2
459             1
46              3
460             1
461             2
462             1
463             1
464             1
465             1
466             2
467             1
468             1
469             1
47              2
470             3
472             1
474             3
475             1
476             1
48              7
482             1
484             2
485             1
486             2
487             3
488             1
49              6
50              3
507             1
509             1
51             12
510             1
513             1
515             1
519             1
52              8
520             1
523             1
527             4
53              9
536             1
537             1
54              5
55              9
550             1
554             1
559             1
56             10
57              6
573             1
577             1
578             1
58              8
59              7
60              9
601             1
61              7
62             14
623             1
63              8
64              7
65             12
66             12
67              8
68             12
69              9
70              8
71             12
72              2
73             12
74             10
75              5
76              9
77              7
78             12
79             12
8               1
80             13
81             12
82             18
83             13
84              9
85             21
86             18
87             16
88             15
89              9
9               1
90              9
91             14
92             18
93             20
94             15
95              8
96             15
97             10
98             12
99             16
Buren           8
Dyke           24
II              2
III            38
IV             57
Jr.           101
Laura          30
Rio-Wilson      3
Sr.            13
V               3
Name: count, dtype: int64

In [159]:
df1['rush'].unique()

array(['63', '120', '125', '71', '54', '29', '50', '60', '61', '103',
       '107', '97', '19', '42', '109', '49', '73', '12', '68', '45',
       '104', '102', '140', '75', '117', '79', '185', '43', '47', '127',
       '148', '40', '55', '80', '108', '115', '158', '177', '147', '262',
       '182', '153', '170', '48', '106', '112', '20', '72', '87', '81',
       '149', '37', '62', '26', '175', '56', '52', '78', '28', '89', '30',
       '114', '130', '137', '83', '160', '145', '136', '171', '53', '152',
       '57', '67', '91', '278', '69', '31', '13', '94', '65', '76', '32',
       '192', '82', '116', '142', '196', '123', '113', '186', '209',
       '128', '267', '259', '226', '217', '169', '159', '21', '22', '74',
       '51', '64', '198', '93', '90', '36', '124', '99', '38', '86',
       '119', '101', '88', '33', '35', '110', '151', '118', '58', '59',
       '164', '84', '105', '126', '143', '154', '41', '66', '44', '100',
       '92', '24', '132', '138', '11', '39', '25', '156', '77', '122',
       '111', '166', '131', '34', '220', 'III', 'Jr.', '134', '70', '16',
       '15', '23', 'IV', '27', '46', '17', 'II', '172', '98', '173',
       '206', '187', '135', '96', '176', '201', '95', '133', '207', '121',
       '150', '129', '178', '146', '85', '14', '179', '144', '199', '204',
       '155', '211', '193', '139', '210', '244', '203', '168', '208',
       '223', '161', '141', '10', '188', '190', '195', '184', '180',
       '191', '197', '18', '189', 'Laura', '183', '162', '212', '167',
       '205', '165', '200', '5', '174', '280', '163', '234', '157', '233',
       '238', '236', '218', '216', '245', '248', '181', '256', '9', '214',
       '232', '274', '222', '258', 'Sr.', '224', '240', '213', '243',
       '263', '202', '230', '320', 'V', '247', '265', '215', '221', '3',
       '242', '231', '272', '227', '7', 'Buren', '266', '194', '255',
       '257', '287', '8', '254', '219', '277', '264', '0', '228', '409',
       '301', '308', '331', '235', '251'], dtype=object)

In [160]:
df1['rush'].isna().sum()

np.int64(0)

In [161]:
df1['rush'].value_counts()
rush_values = df1['rush'].value_counts()
rush_sorted_values = rush_values.sort_index(ascending = True)
print(rush_sorted_values)

rush
0          1
10         5
100       46
101       50
102       55
103       43
104       62
105       43
106       47
107       35
108       44
109       34
11         7
110       42
111       58
112       41
113       53
114       33
115       38
116       19
117       43
118       37
119       39
12         9
120       37
121       34
122       29
123       39
124       38
125       35
126       23
127       35
128       32
129       32
13         5
130       28
131       21
132       27
133       24
134       20
135       28
136       28
137       23
138       29
139       18
14         6
140       20
141       13
142       16
143       19
144       16
145       20
146       28
147       17
148       20
149       15
15        11
150       13
151       15
152       14
153       15
154       14
155       10
156       19
157       12
158       18
159       14
16        13
160       14
161        5
162       13
163       12
164       15
165       12
166       14
167        8
168       11
169       18
17        16
170        9
171       10
172       12
173        7
174        8
175        3
176        6
177       11
178       12
179       14
18        17
180        5
181        4
182        7
183        6
184        7
185       11
186       10
187        5
188        4
189        5
19        13
190        4
191        7
192        7
193        7
194        1
195        5
196        6
197        6
198        7
199        4
20        20
200        4
201        2
202        2
203        4
204        6
205        3
206        7
207        6
208        3
209        7
21        16
210        4
211        5
212        2
213        2
214        4
215        1
216        4
217        3
218        3
219        2
22        17
220        2
221        3
222        2
223        3
224        2
226        2
227        1
228        1
23        27
230        1
231        1
232        2
233        2
234        3
235        1
236        2
238        1
24        25
240        1
242        2
243        3
244        2
245        1
247        1
248        1
25        20
251        1
254        1
255        1
256        1
257        1
258        1
259        2
26        20
262        1
263        1
264        1
265        1
266        2
267        1
27        37
272        1
274        1
277        1
278        1
28        41
280        2
287        1
29        42
3          1
30        35
301        1
308        1
31        49
32        43
320        1
33        44
331        1
34        38
35        50
36        40
37        46
38        47
39        60
40        45
409        1
41        45
42        60
43        58
44        36
45        52
46        44
47        54
48        59
49        72
5          2
50        52
51        56
52        65
53        66
54        66
55        64
56        58
57        66
58        56
59        55
60        70
61        53
62        60
63        65
64        61
65        62
66        60
67        74
68        63
69        67
7          1
70        57
71        67
72        56
73        59
74        67
75        64
76        64
77        57
78        64
79        51
8          1
80        69
81        59
82        59
83        61
84        52
85        41
86        53
87        67
88        46
89        51
9          4
90        39
91        46
92        36
93        38
94        49
95        58
96        53
97        52
98        33
99        39
Buren      6
II        43
III      122
IV        40
Jr.      391
Laura      2
Sr.        6
V          4
Name: count, dtype: int64

In [162]:
df1.columns

Index(['Team', 'date', 'opponent', 'win_loss', 'pass', 'rush', 'rec',
       'points_allowed', 'points_scored', 'point_differential', 'home_game',
       'season', 'CONF', 'SOR', 'FPI', 'AP/CFP', 'SOS', 'GC', 'AVGWP'],
      dtype='object')

In [163]:
df1['rec'].unique()

array(['21', '11', '76', '18', '106', '45', '36', '51', '52', '82', '0',
       '68', '56', '41', '55', '125', '78', '168', '61', '59', '98', '60',
       '111', '139', '177', '89', '73', '50', '81', '103', '157', '96',
       '129', '94', '58', '162', '121', '84', '143', '99', '176', '35',
       '117', '108', '91', '138', '161', '38', '304', '70', '115', '102',
       '202', '135', '128', '137', '164', 'III', '120', '132', '74',
       '179', '37', 'Jr.', '193', '172', '48', '40', '69', '22', '44',
       '47', '8', '85', '24', '29', '9', '53', '104', '72', '116', '156',
       '95', '119', '112', '43', '75', '101', '90', '62', '92', '67',
       '79', '42', '32', '57', '33', '86', '71', '54', '63', '66', '118',
       '153', '100', '205', '83', '127', '46', '149', '87', '39', '148',
       '145', '110', '130', '175', '158', '31', '65', '140', '20', '88',
       '188', '80', '28', '131', '97', '49', '235', '134', '93', '173',
       '113', '77', 'IV', '197', '165', 'Zee', '155', '133', '167', '30',
       '183', '34', '13', '27', '213', '105', '109', '26', '123', '25',
       '142', '107', '126', '152', '178', '150', '64', '163', '146',
       '194', '10', '239', '174', '23', '166', 'II', '122', '15', '124',
       '225', '254', '181', '136', '151', '224', '144', '182', '170', 'V',
       '200', '16', '147', 'Öhrström', '159', '229', '114', '141',
       'Jesus', '211', '186', '14', '266', '160', '196', '227', '219',
       '4', '201', '220', '180', '218', '214', '12', '171', '273', '256',
       '215', '189', '154', '199', '19', '217', '169', '272', '294', '5',
       '185', '246', '187', '237', '247', '206', '207', '244', '234',
       '17', '190', '184', '198', 'Felix', '210', '221', '203', '240',
       '347', '252', '242', '191', '261', 'Sr.', '195', '231', '310',
       '308', '204', '238', '208', '230', 'Brown'], dtype=object)

In [164]:
df1['rec'].isna().sum()

np.int64(0)

In [165]:
df1['rec'].value_counts()
rec_values = df1['rec'].value_counts()
rec_sorted_values = rec_values.sort_index(ascending = True)
print(rec_sorted_values)

rec
0            14
10            2
100          55
101          59
102          64
103          41
104          42
105          54
106          47
107          46
108          36
109          35
11            3
110          43
111          35
112          44
113          42
114          33
115          46
116          43
117          39
118          38
119          32
12            2
120          35
121          34
122          26
123          32
124          18
125          30
126          35
127          38
128          31
129          27
13            2
130          27
131          20
132          22
133          24
134          28
135          29
136          24
137          34
138          22
139          26
14           11
140          28
141          18
142          17
143          21
144          10
145          12
146          17
147          13
148          14
149          13
15            7
150          14
151           5
152          17
153          12
154           7
155          17
156          10
157          14
158           7
159           8
16            3
160          13
161          10
162          11
163           7
164          11
165           7
166          11
167           8
168           8
169           7
17            5
170          14
171           8
172           9
173           5
174           8
175           8
176          11
177           4
178           5
179          10
18           11
180          12
181           5
182           5
183           8
184           5
185           4
186           6
187           4
188           4
189           4
19            6
190           1
191           1
193           4
194           1
195           1
196           2
197           6
198           2
199           4
20           10
200           5
201           2
202           4
203           3
204           1
205           3
206           2
207           1
208           1
21           11
210           1
211           1
213           5
214           1
215           2
217           3
218           2
219           2
22           20
220           1
221           2
224           1
225           3
227           2
229           1
23           18
230           1
231           1
234           1
235           1
237           1
238           1
239           2
24           11
240           3
242           1
244           2
246           1
247           2
25           18
252           2
254           1
256           1
26           16
261           1
266           1
27           24
272           1
273           1
28           18
29           16
294           1
30           16
304           1
308           1
31           34
310           1
32           31
33           34
34           31
347           1
35           35
36           45
37           37
38           39
39           45
4             1
40           41
41           44
42           49
43           58
44           59
45           51
46           49
47           55
48           65
49           51
5             1
50           61
51           47
52           51
53           64
54           72
55           61
56           52
57           57
58           58
59           71
60           85
61           69
62           60
63           69
64           73
65           71
66           63
67           72
68           83
69           67
70           77
71           70
72           81
73           79
74           71
75           76
76           78
77           73
78           75
79           70
8             3
80           69
81           93
82           61
83           63
84           82
85           72
86           60
87           60
88           57
89           82
9             3
90           60
91           67
92           54
93           66
94           61
95           51
96           54
97           36
98           65
99           53
Brown         1
Felix         1
II           66
III         134
IV           24
Jesus         5
Jr.         347
Sr.           5
V             2
Zee           1
Öhrström      1
Name: count, dtype: int64

In [166]:
df1.columns

Index(['Team', 'date', 'opponent', 'win_loss', 'pass', 'rush', 'rec',
       'points_allowed', 'points_scored', 'point_differential', 'home_game',
       'season', 'CONF', 'SOR', 'FPI', 'AP/CFP', 'SOS', 'GC', 'AVGWP'],
      dtype='object')

In [167]:
df1['points_allowed'].unique()

array([  6,  28,  20,  31,  34,  17,  21,  52,  19,   0,  50,  49,  27,
        30,  41,  24,  14,  16,  10,  40,  25,  13,   7,  29,  66,  26,
        23,  39,   3,  56,  63,  55, 414,  38,  42,  62,  37,  45,  35,
        43,  18,  47,  15,  48,   9,  33,  36,  46,  51,  59,  44, 202,
        53, 342,  11,   8,  22,  12, 428,  32,  71, 332,  58, 272,  61,
        70, 312,  54, 352,   5, 522,  73, 274, 452, 412, 432,  69,  77,
        57, 413, 242, 172, 382, 454, 482, 353, 124, 282, 402, 302, 372,
       393,  60, 224, 189,  64, 313, 132, 314,   2, 423,  65, 472, 212])

In [168]:
df1['points_allowed'].isna().sum()

np.int64(0)

In [169]:
df1['points_allowed'].value_counts()
points_allowed_values = df1['points_allowed'].value_counts()
points_allowed_sorted_values = points_allowed_values.sort_index(ascending = True)
print(points_allowed_sorted_values)

points_allowed
0      156
2        2
3      154
5        1
6       89
7      268
8        6
9       45
10     268
11      16
12      46
13     217
14     344
15      49
16     119
17     344
18      36
19      80
20     293
21     305
22      61
23     162
24     384
25      50
26      95
27     287
28     249
29      75
30     161
31     323
32      51
33      90
34     248
35     204
36      43
37     120
38     255
39      41
40      62
41     173
42     154
43      36
44      76
45     168
46      17
47      28
48      83
49      95
50      25
51      33
52      88
53      11
54      10
55      37
56      50
57       2
58      10
59      35
60       2
61       4
62      12
63      23
64       1
65       1
66      13
69       3
70       6
71       2
73       3
77       3
124      1
132      1
172      1
189      1
202      4
212      1
224      1
242      1
272      1
274      2
282      1
302      1
312      4
313      1
314      1
332      2
342      6
352      2
353      1
372      1
382      2
393      1
402      2
412      2
413      1
414      1
423      1
428      1
432      1
452      2
454      2
472      1
482      2
522      1
Name: count, dtype: int64

In [170]:
df1.columns

Index(['Team', 'date', 'opponent', 'win_loss', 'pass', 'rush', 'rec',
       'points_allowed', 'points_scored', 'point_differential', 'home_game',
       'season', 'CONF', 'SOR', 'FPI', 'AP/CFP', 'SOS', 'GC', 'AVGWP'],
      dtype='object')

In [171]:
df1['points_scored'].unique()

array([ 21,  36,  31,   3,  19,   7,  13,  37,  22,  28,   6,  17,  20,
        24,  25,  10,  30,  63,  42,  41,  35,  27,  34,  52,  38,  33,
        49,  48,  14,  45,  61,  23,  12,  26,  39, 312,  58,  18,  32,
         9,  44,  29,  73,  43,   0,  59,  62,  56,  15,  16,  46,  55,
        66,  40,  51,  11, 428,  50,  77,  47, 342, 332,  70, 352,  53,
        54, 202,   5,  76,  69, 522,  71, 414,   8,  72, 272, 274, 413,
        57, 432, 452, 412,  81, 242,  65,  78,  64, 577, 302, 454, 172,
       382, 402,  68, 372, 353, 124, 282,  60, 224, 212, 393, 189, 132,
       314, 313,   2, 423, 482, 472])

In [172]:
df1['points_scored'].isna().sum()

np.int64(0)

In [173]:
df1['points_scored'].value_counts()
points_scored_values = df1['points_scored'].value_counts()
points_scored_sorted_values = points_scored_values.sort_index(ascending = True)
print(points_scored_sorted_values)

points_scored
0      104
2        2
3      119
5        1
6       82
7      207
8        6
9       38
10     227
11      17
12      43
13     208
14     307
15      40
16     113
17     317
18      35
19      78
20     277
21     296
22      62
23     161
24     385
25      50
26      93
27     292
28     254
29      77
30     157
31     339
32      52
33      90
34     259
35     210
36      48
37     122
38     277
39      40
40      71
41     187
42     172
43      39
44      85
45     195
46      18
47      31
48      98
49     112
50      28
51      37
52     100
53      12
54      14
55      45
56      70
57       4
58      13
59      51
60       3
61       3
62      18
63      34
64       3
65       6
66      25
68       1
69       9
70      11
71       3
72       2
73       7
76       2
77       6
78       1
81       1
124      1
132      1
172      1
189      1
202      4
212      2
224      1
242      1
272      2
274      2
282      1
302      1
312      3
313      1
314      1
332      2
342      5
352      2
353      1
372      1
382      2
393      1
402      2
412      2
413      1
414      1
423      1
428      1
432      1
452      3
454      2
472      1
482      1
522      1
577      1
Name: count, dtype: int64

In [174]:
df1.columns

Index(['Team', 'date', 'opponent', 'win_loss', 'pass', 'rush', 'rec',
       'points_allowed', 'points_scored', 'point_differential', 'home_game',
       'season', 'CONF', 'SOR', 'FPI', 'AP/CFP', 'SOS', 'GC', 'AVGWP'],
      dtype='object')

In [175]:
df1['point_differential'].unique()

array([  15,    8,   11,  -28,  -12,  -27,  -10,   -8,  -17,  -15,    3,
         28,  -43,  -46,  -32,   -7,    4,  -20,  -11,  -21,   14,   63,
         26,   32,    7,   -5,    2,   34,   29,   45,   -9,   42,   10,
          5,   41,   21,  -24,   -6,  -22,   22,   12,   24,   13,  -44,
        -42,  273,   -4,   33,  -45,   16,  -36,   35,   17,   23,  -18,
        -35,   70, -371,  -14,  -25,  -62,   -3,  -56,   56,    6,    1,
         20,  -16,   25,  -38,   31,  -31,   19,   -1,   37,   18,   -2,
        -39,  -23,  -34,  -26,   46,  -19,   27,   52,  -52, -176,   39,
       -305,   36,   47,   38,  -13,  -49,   48, -384,    9,  384,  -29,
         74,   49,   66,   40,  305,  297,  309,  -33,  -71,   30,   62,
       -297,  -37,   43,   44, -242,  -48,  176,   59, -273,   76,  -59,
        -66,  468,  -55,  -30,   71,  371,   55,   51,  -47,  -51,   58,
       -309,  242, -468,  -40,  -63,  -41,  245,  370,  -73,   57,  302,
         53,  174,  386,  405,  -60, -278,   60,  369, -245, -174,  368,
       -302, -405,   73, -369,  210,   69,  -53, -386,   65,   50,  -50,
         68, -370, -368, -210,  -57, -152, -338,  518, -401,  179, -407,
       -300, -431, -316,  269,  300,  407, -110, -248, -179,  152,  401,
        338,  359,   54, -359, -269,  332,  316,  110,  248, -332, -352,
       -200,  200,  185, -169,  352,  169,  -58, -280, -113,  113,  281,
       -281,  280,  355, -375, -355,  375, -424,  431,  424, -185])

In [177]:
df1['point_differential'].isna().sum()

np.int64(0)

In [178]:
df1['point_differential'].value_counts()
point_differential_values = df1['point_differential'].value_counts()
point_differential_sorted_values = point_differential_values.sort_index(ascending = True)
print(point_differential_sorted_values)

point_differential
-468      1
-431      2
-424      1
-407      1
-405      1
-401      2
-386      1
-384      1
-375      1
-371      1
-370      1
-369      1
-368      1
-359      1
-355      1
-352      1
-338      2
-332      1
-316      1
-309      2
-305      2
-302      3
-300      1
-297      2
-281      1
-280      1
-278      1
-273      3
-269      1
-248      1
-245      2
-242      1
-210      1
-200      1
-185      1
-179      1
-176      2
-174      1
-169      1
-152      1
-113      1
-110      1
-73       2
-71       1
-66       2
-63       3
-62       3
-60       2
-59       4
-58       1
-57       1
-56      11
-55       5
-53       6
-52      12
-51       3
-50       4
-49      20
-48       9
-47       4
-46      10
-45      23
-44      10
-43       3
-42      35
-41      16
-40       9
-39      18
-38      39
-37      23
-36      15
-35      52
-34      41
-33      29
-32      39
-31      67
-30      21
-29      34
-28      92
-27      52
-26      36
-25      50
-24      95
-23      44
-22      40
-21     120
-20      64
-19      42
-18      72
-17     137
-16      40
-15      55
-14     146
-13      64
-12      51
-11      81
-10     159
-9       45
-8       96
-7      286
-6      100
-5       80
-4      121
-3      340
-2       95
-1      106
 1      109
 2       97
 3      355
 4      124
 5       83
 6       98
 7      288
 8      101
 9       42
 10     166
 11      87
 12      54
 13      62
 14     155
 15      57
 16      42
 17     145
 18      80
 19      42
 20      67
 21     143
 22      44
 23      53
 24      99
 25      56
 26      41
 27      55
 28     110
 29      37
 30      26
 31      80
 32      49
 33      32
 34      51
 35      67
 36      16
 37      29
 38      46
 39      25
 40      18
 41      25
 42      51
 43       9
 44      13
 45      35
 46      19
 47       6
 48      13
 49      30
 50       6
 51       4
 52      25
 53      13
 54       2
 55       8
 56      22
 57       3
 58       3
 59      11
 60       2
 62       9
 63       3
 65       1
 66       6
 68       1
 69       2
 70       2
 71       1
 73       2
 74       2
 76       2
 110      1
 113      1
 152      1
 169      1
 174      1
 176      2
 179      1
 185      2
 200      1
 210      1
 242      2
 245      2
 248      1
 269      1
 273      3
 280      1
 281      1
 297      2
 300      1
 302      2
 305      2
 309      2
 316      1
 332      1
 338      2
 352      1
 355      1
 359      1
 368      1
 369      1
 370      1
 371      1
 375      1
 384      1
 386      1
 401      3
 405      1
 407      1
 424      1
 431      1
 468      1
 518      1
Name: count, dtype: int64

In [179]:
df1.columns

Index(['Team', 'date', 'opponent', 'win_loss', 'pass', 'rush', 'rec',
       'points_allowed', 'points_scored', 'point_differential', 'home_game',
       'season', 'CONF', 'SOR', 'FPI', 'AP/CFP', 'SOS', 'GC', 'AVGWP'],
      dtype='object')

In [180]:
df1['home_game'].unique()

array([ True, False])

In [181]:
df1['home_game'].isna().sum()

np.int64(0)

In [182]:
df1['home_game'].value_counts()
home_game_values = df1['home_game'].value_counts()
home_game_sorted_values = home_game_values.sort_index(ascending = True)
print(home_game_sorted_values)

home_game
False    3128
True     3929
Name: count, dtype: int64

In [183]:
df1.columns

Index(['Team', 'date', 'opponent', 'win_loss', 'pass', 'rush', 'rec',
       'points_allowed', 'points_scored', 'point_differential', 'home_game',
       'season', 'CONF', 'SOR', 'FPI', 'AP/CFP', 'SOS', 'GC', 'AVGWP'],
      dtype='object')

In [184]:
df1['season'].isna().sum()

np.int64(0)

In [185]:
df1['season'].unique()

array([2024, 2023, 2022, 2021, 2020])

In [186]:
df1['season'].value_counts()
df1_season_values = df1['season'].value_counts()
df1_season_sorted_values = df1_season_values.sort_index(ascending = True)
print(df1_season_sorted_values)

season
2020     973
2021    1507
2022    1517
2023    1517
2024    1543
Name: count, dtype: int64

In [187]:
df1.columns

Index(['Team', 'date', 'opponent', 'win_loss', 'pass', 'rush', 'rec',
       'points_allowed', 'points_scored', 'point_differential', 'home_game',
       'season', 'CONF', 'SOR', 'FPI', 'AP/CFP', 'SOS', 'GC', 'AVGWP'],
      dtype='object')

In [188]:
df1['CONF'].unique()

array(['Mountain West', 'MAC', 'SEC', 'Sun Belt', 'Big 12', 'American',
       'ACC', 'CUSA', 'Big Ten', 'FBS Indep.', 'Pac-12'], dtype=object)

In [189]:
df1['CONF'].isna().sum()

np.int64(0)

In [190]:
df1['CONF'].value_counts()
CONF_values = df1['CONF'].value_counts()
CONF_sorted_values = CONF_values.sort_index(ascending = True)
print(CONF_sorted_values)

CONF
ACC              843
American         669
Big 12           703
Big Ten          837
CUSA             564
FBS Indep.       292
MAC              478
Mountain West    653
Pac-12           525
SEC              854
Sun Belt         639
Name: count, dtype: int64

In [191]:
df1.columns

Index(['Team', 'date', 'opponent', 'win_loss', 'pass', 'rush', 'rec',
       'points_allowed', 'points_scored', 'point_differential', 'home_game',
       'season', 'CONF', 'SOR', 'FPI', 'AP/CFP', 'SOS', 'GC', 'AVGWP'],
      dtype='object')

In [192]:
df1['SOR'].unique()

array([108, 111,  17,  90,  14,  88,  40,  65,  27,  64, 122,  39,  16,
        52,  91,  62,   7,  76, 118,  97,  69,  25, 105,  30,  71,  33,
        81, 113, 130,  20, 125, 106, 102,   4,  56, 115,  44, 107,  74,
        11,   8,  41,  15,  83,  66,  57,  28, 133, 134,  59,  89,  51,
       120,  23,  10,  34,  77, 131,  29,  67,  21,  61,  22, 126,  37,
       104,  12,  32,  79,  46, 123, 109, 127,  86, 100,  73,  82,   3,
        45,   1,  42,  94,  99,  13,   2, 101,   6,  54, 116, 110,  53,
        48, 124,  93,  18,  92,  19,  78, 132,  98,  26,  35, 117,   9,
        24,   5,  75,  43,  80, 114,  50, 128, 121,  87,  47,  63,  96,
        31,  38, 112,  72, 129,  85,  36,  68,  60,  95,  49,  70,  58,
        84, 103,  55, 119])

In [193]:
df1['SOR'].isna().sum()

np.int64(0)

In [194]:
df1['SOR'].value_counts()
SOR_values = df1['SOR'].value_counts()
SOR_sorted_values = SOR_values.sort_index(ascending = True)
print(SOR_sorted_values)

SOR
1      67
2      61
3      65
4      65
5      62
6      65
7      61
8      61
9      59
10     58
11     50
12     59
13     57
14     60
15     58
16     61
17     61
18     59
19     58
20     61
21     59
22     54
23     56
24     54
25     55
26     57
27     59
28     53
29     52
30     61
31     54
32     59
33     58
34     58
35     52
36     58
37     56
38     56
39     38
40     57
41     51
42     58
43     61
44     55
45     51
46     60
47     48
48     53
49     57
50     50
51     53
52     54
53     46
54     60
55     57
56     56
57     53
58     56
59     57
60     53
61     52
62     50
63     61
64     50
65     43
66     50
67     49
68     52
69     49
70     57
71     58
72     53
73     51
74     57
75     56
76     56
77     48
78     54
79     51
80     45
81     55
82     55
83     49
84     47
85     55
86     52
87     59
88     43
89     52
90     51
91     53
92     57
93     57
94     53
95     48
96     49
97     57
98     49
99     50
100    50
101    55
102    54
103    53
104    49
105    56
106    56
107    47
108    54
109    52
110    55
111    48
112    54
113    46
114    47
115    52
116    54
117    46
118    50
119    94
120    44
121    44
122    42
123    44
124    47
125    39
126    41
127    38
128    44
129    40
130    43
131    36
132    21
133    18
134     8
Name: count, dtype: int64

In [195]:
df1.columns

Index(['Team', 'date', 'opponent', 'win_loss', 'pass', 'rush', 'rec',
       'points_allowed', 'points_scored', 'point_differential', 'home_game',
       'season', 'CONF', 'SOR', 'FPI', 'AP/CFP', 'SOS', 'GC', 'AVGWP'],
      dtype='object')

In [196]:
df1['FPI'].unique()

array([106, 124,   4,  97,  21,  80,  34, 112,  50,  31, 126,  36,  27,
        52,  83, 104,  25,  54, 123, 121,  53,  14, 100,  23, 105,  60,
        90, 119, 116,  19, 117,  88,  81,   7,  78, 109,  41, 115,  79,
        42,  10,  22,  26,  72,  59,  33,  24, 131, 134,  48, 102,  73,
       111,  12,  18,  58,  69, 125,  57,  74,  11,  82,  29, 128,  28,
        66,  20,  61,  71,  38, 103, 107, 130,  64,  95,  86,  89,   3,
        70,   1,  30,  68,  77,   5,   8,  96,   6,  56, 120, 101,  51,
        94, 122,  91,  13,  67,  15,  84, 132,  93,  49,  35, 127,   9,
        16,   2,  62,  44,  87,  98,  32, 133, 118,  45,  55,  76, 114,
        40,  17, 110,  46, 129,  85,  39,  75,  37,  92,  43,  65,  63,
        99, 108,  47, 113])

In [197]:
df1['FPI'].isna().sum()

np.int64(0)

In [198]:
df1['FPI'].value_counts()
FPI_values = df1['FPI'].value_counts()
FPI_sorted_values = FPI_values.sort_index(ascending = True)
print(FPI_sorted_values)

FPI
1      67
2      63
3      63
4      63
5      59
6      59
7      64
8      60
9      56
10     62
11     60
12     59
13     63
14     60
15     59
16     60
17     57
18     50
19     61
20     56
21     58
22     60
23     50
24     55
25     58
26     59
27     55
28     59
29     53
30     61
31     58
32     61
33     40
34     56
35     60
36     57
37     51
38     57
39     49
40     55
41     58
42     54
43     57
44     57
45     54
46     52
47     58
48     54
49     58
50     54
51     48
52     56
53     58
54     59
55     57
56     59
57     59
58     57
59     54
60     55
61     53
62     53
63     59
64     54
65     41
66     39
67     56
68     50
69     57
70     57
71     54
72     53
73     55
74     53
75     50
76     58
77     56
78     53
79     57
80     48
81     53
82     51
83     48
84     44
85     48
86     57
87     43
88     56
89     43
90     48
91     54
92     57
93     50
94     48
95     53
96     52
97     48
98     50
99     52
100    43
101    56
102    58
103    47
104    56
105    59
106    59
107    48
108    46
109    53
110    50
111    46
112    55
113    50
114    52
115    47
116    43
117    48
118    46
119    46
120    56
121    52
122    46
123    50
124    51
125    50
126    43
127    51
128    43
129    44
130    45
131    29
132    20
133    19
134     8
Name: count, dtype: int64

In [199]:
df1.columns

Index(['Team', 'date', 'opponent', 'win_loss', 'pass', 'rush', 'rec',
       'points_allowed', 'points_scored', 'point_differential', 'home_game',
       'season', 'CONF', 'SOR', 'FPI', 'AP/CFP', 'SOS', 'GC', 'AVGWP'],
      dtype='object')

In [200]:
df1['AP/CFP'].unique()

array(['--', '11', '12', '22', '9', '17', '16', '23', '2', '20', '8',
       '18', '25', '13', '19', '5', '6', '14', '1', '4', '10', '15', '21',
       '7', '3', '24'], dtype=object)

In [201]:
df1['AP/CFP'].isna().sum()

np.int64(0)

In [202]:
df1['AP/CFP'].value_counts()
AP_CFP_values = df1['AP/CFP'].value_counts()
AP_CFP_sorted_values = AP_CFP_values.sort_index(ascending = True)
print(AP_CFP_sorted_values)

AP/CFP
--    5489
1       66
10      64
11      56
12      59
13      60
14      59
15      57
16      61
17      68
18      60
19      57
2       66
20      57
21      60
22      68
23      67
24      85
25      60
3       63
4       66
5       61
6       62
7       64
8       59
9       63
Name: count, dtype: int64

In [203]:
df1.columns

Index(['Team', 'date', 'opponent', 'win_loss', 'pass', 'rush', 'rec',
       'points_allowed', 'points_scored', 'point_differential', 'home_game',
       'season', 'CONF', 'SOR', 'FPI', 'AP/CFP', 'SOS', 'GC', 'AVGWP'],
      dtype='object')

In [204]:
df1['SOS'].unique()

array([117,  55,  20, 101,  39,  58,  24,  95,  89,  33,  91,  48,  67,
        53,  82, 115,  44,  71, 128,  85,  61,  28, 122,  65,  77,  49,
       126, 130, 131,   7, 106,  25,  98,   1,  79, 104,  23, 118,  50,
        30,  35,  38,  42, 113, 129,  43,  51, 133,  59,   8, 134, 110,
       120,  31,  14,  64,  22,  84, 111,  78,  56,  26,   5,  92,  45,
         3,  34,  74,  66,  15,  86, 123, 112,  90, 103,  83,  40,   4,
       116,   2,   9,  46,  99,  37,  19,  88,  10,  57,  11, 100,  62,
       124, 109, 119,  41, 108,  21,  73, 114,  29,  75,  68,  96,  16,
        13,   6, 121,  63, 127, 107,  81, 132, 102,  52,  18, 125,  69,
        87,  27,  93,  72,  94,  76,  17,  36,  47,  60,  12, 105,  54,
        80,  70,  32,  97])

In [205]:
df1['SOS'].isna().sum()

np.int64(0)

In [206]:
df1['SOS'].value_counts()
SOS_values = df1['SOS'].value_counts()
SOS_sorted_values = SOS_values.sort_index(ascending = True)
print(SOS_sorted_values)

SOS
1      63
2      63
3      60
4      60
5      61
6      62
7      62
8      62
9      60
10     61
11     61
12     59
13     60
14     55
15     57
16     60
17     58
18     61
19     59
20     60
21     60
22     58
23     62
24     57
25     57
26     59
27     57
28     61
29     57
30     53
31     59
32     58
33     59
34     57
35     59
36     56
37     55
38     55
39     54
40     59
41     56
42     62
43     56
44     60
45     58
46     56
47     59
48     51
49     53
50     53
51     51
52     56
53     55
54     59
55     51
56     53
57     60
58     58
59     49
60     52
61     51
62     59
63     56
64     52
65     53
66     47
67     54
68     57
69     57
70     54
71     51
72     53
73     55
74     59
75     59
76     54
77     53
78     56
79     52
80     54
81     44
82     55
83     55
84     56
85     53
86     54
87     53
88     51
89     48
90     52
91     39
92     52
93     55
94     47
95     54
96     59
97     55
98     48
99     39
100    52
101    49
102    59
103    51
104    48
105    48
106    51
107    54
108    48
109    48
110    53
111    51
112    47
113    47
114    49
115    36
116    46
117    54
118    48
119    41
120    47
121    48
122    50
123    42
124    46
125    50
126    46
127    36
128    35
129    41
130    39
131    31
132    21
133    17
134     9
Name: count, dtype: int64

In [207]:
df1.columns

Index(['Team', 'date', 'opponent', 'win_loss', 'pass', 'rush', 'rec',
       'points_allowed', 'points_scored', 'point_differential', 'home_game',
       'season', 'CONF', 'SOR', 'FPI', 'AP/CFP', 'SOS', 'GC', 'AVGWP'],
      dtype='object')

In [208]:
df1['GC'].unique()

array([115, 110,   7, 117,  19,  92,  27,  97,  25,  47, 111,  38,  22,
        55,  68,  86,  14,  62, 124, 118,  51,  10, 109,  44,  75,  60,
        95, 120, 121,  16, 105, 100,  67,  12,  87, 116,  36, 106,  81,
        34,   6,  29,  49,  98,  65,  24,  42,  54,  76, 114,  17,  15,
        40,  73, 119,  28,  83,  20,  59,  23,  26,  91,  39,  43,  84,
        21, 107, 122,  69, 101,  89,  72,   4,  58,   1,  35,  85,  82,
         3,   5,  96,   8,  66, 112,  93,  52,  79, 123,  94,  18,  70,
         9, 104,  88,  46,  30,  11,  13,   2,  56,  45,  80, 113,  48,
       108,  71,  57,  90,  99,  37,  31, 102,  50,  61,  33,  78,  32,
        74,  53,  63,  64,  77, 103,  41])

In [209]:
df1['GC'].isna().sum()

np.int64(0)

In [210]:
df1['GC'].value_counts()
GC_values = df1['GC'].value_counts()
GC_sorted_values = GC_values.sort_index(ascending = True)
print(GC_sorted_values)

GC
1       67
2       66
3       59
4       62
5       61
6       63
7       59
8       61
9       60
10      61
11      61
12      60
13      61
14      54
15      57
16      61
17      58
18      59
19      55
20      52
21      54
22      57
23      55
24      57
25      61
26      53
27      60
28      53
29      56
30      54
31      53
32      58
33      56
34      50
35      53
36      56
37      59
38      54
39      53
40      61
41      55
42      59
43      58
44      43
45      53
46      62
47      55
48      57
49      59
50      53
51      50
52      49
53      53
54      56
55      39
56      56
57      54
58      46
59      60
60      58
61      58
62      60
63      58
64      49
65      58
66      50
67      55
68      54
69      52
70      52
71      50
72      54
73      55
74      34
75      60
76      56
77      58
78      51
79      52
80      51
81      52
82      57
83      52
84      48
85      58
86      41
87      51
88      57
89      47
90      47
91      49
92      55
93      49
94      52
95      52
96      57
97      57
98      50
99      45
100     53
101     58
102     53
103     55
104     55
105     53
106     57
107     52
108     53
109     51
110     53
111     46
112     48
113     47
114     41
115     54
116     56
117     54
118    171
119     39
120    167
121     22
122    148
123     18
124    125
Name: count, dtype: int64

In [211]:
df1.columns

Index(['Team', 'date', 'opponent', 'win_loss', 'pass', 'rush', 'rec',
       'points_allowed', 'points_scored', 'point_differential', 'home_game',
       'season', 'CONF', 'SOR', 'FPI', 'AP/CFP', 'SOS', 'GC', 'AVGWP'],
      dtype='object')

In [212]:
df1['AVGWP'].unique()

array([100, 110,  12, 123,  24, 116,  47,  88,   4,  65, 109,  52,   9,
        62,  39,  57,  14,  71, 118, 122,  73,  10,  86,  50,  53,  74,
        64,  93,  98,  35,  72, 126,  45,  46,  80, 114,  66,  84, 117,
        36,   6,  32,  61,  58,  20,  37,  59, 129, 134,  92,  82,  44,
        83,  25,  34,  21, 111, 115,   8,  60,  22,  90,  51, 130,  31,
       128,  54,  23,  97,  30, 108, 106, 124,  75,  91,  69, 107,   5,
        18,   1,  77, 121,  79,   2,   7,  96,  13,  78, 133,  89,  49,
        42, 113,  70,  16,  41,  19,  95, 132, 119,  38,  28, 127,  15,
        26,   3,  11,  48,  43, 105,  27, 131, 102, 101, 103,  55, 104,
        17,  68,  99,  63, 120,  33,  67, 112,  40,  94,  85,  29,  81,
        56,  87,  76, 125])

In [213]:
df1['AVGWP'].isna().sum()

np.int64(0)

In [214]:
df1['AVGWP'].value_counts()
AVGWP_values = df1['AVGWP'].value_counts()
AVGWP_sorted_values = AVGWP_values.sort_index(ascending = True)
print(AVGWP_sorted_values)

AVGWP
1      67
2      62
3      67
4      59
5      57
6      62
7      57
8      55
9      60
10     50
11     54
12     55
13     63
14     56
15     58
16     48
17     62
18     54
19     54
20     56
21     62
22     58
23     60
24     49
25     60
26     57
27     57
28     59
29     56
30     59
31     55
32     57
33     56
34     58
35     56
36     55
37     58
38     41
39     54
40     55
41     58
42     43
43     54
44     51
45     51
46     50
47     52
48     49
49     57
50     57
51     55
52     55
53     51
54     42
55     59
56     56
57     55
58     53
59     60
60     53
61     58
62     56
63     55
64     54
65     46
66     55
67     56
68     45
69     53
70     53
71     55
72     56
73     59
74     52
75     49
76     54
77     60
78     49
79     53
80     52
81     51
82     50
83     45
84     48
85     54
86     50
87     50
88     55
89     56
90     58
91     58
92     55
93     52
94     48
95     51
96     54
97     53
98     52
99     58
100    52
101    48
102    54
103    51
104    57
105    47
106    52
107    49
108    57
109    47
110    53
111    53
112    54
113    46
114    48
115    53
116    47
117    57
118    52
119    52
120    43
121    48
122    54
123    51
124    53
125    54
126    44
127    49
128    48
129    45
130    45
131    34
132    21
133    24
134     8
Name: count, dtype: int64